{%-assign current_variant = product.selected_or_first_available_variant-%}
{%- liquid
  if width == 'full'
    assign width_section_ = 'w-100'
    assign width_content_ = 'w-100'
  else
    assign width_section = settings.product_width_section
    assign width_content = settings.product_width_content
    capture width_section_
      if width_section == 'container-fluid wide' and width_content == false
        echo 'w-100'
      else
        echo width_section
      endif
    endcapture
    capture width_content_
      if width_content and width_section == 'w-100'
        echo 'container'
      elsif width_section == 'container-fluid wide' and width_content == false
        echo 'container-fluid wide'
      else
        echo 'w-100'
      endif
    endcapture
  endif
-%}
<style>

  .tb_generado table {
    border-radius:10px;
    border-collapse: collapse;
    overflow: hidden;
  }
  .tb_generado table tbody tr:nth-child(odd) {
	  background: #f5f5f5;
    width: 100%;
  }
  .tb_generado table th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .tb_generado table td:nth-child(1){
    font-weight: bold;
  }
  .tb_generado table th:nth-child(1){
    font-weight: bold;
  }
  .tb_generado table tr:hover {
    background-color: #d8ebd9 !important;
  }
</style>
{%- if style == '0' -%}
<div class="kt-tabs {{width_section_}}">
  <div class="tabs-width {{width_content_}}">
    <div class="accordion accordion-plus">
    {%- assign idx_active = 0 -%}
    {% for block in section.blocks-%}
    {%- unless block.settings.show_tab -%}{%- continue -%}{%- endunless-%}
    {%- if block.type == 'tb_description' and product.description == blank-%}{%- continue -%}{%- endif -%}
    {%- if block.type == 'tb_unique' and product.metafields.meta[block.settings.tab_key] == blank-%}{%- continue -%}{%- endif -%}
    <div class="card card-box card-sm bg-light">
      <div class="card-header" id="heading-{{block.id}}">
        <h5 class="card-title">
          <a role="button" data-toggle="collapse" href="#collapse-{{block.id}}" aria-expanded="true" aria-controls="collapse-{{block.id}}">{{block.settings.tab_title | default: 'Tab Title'}}</a>
        </h5>
      </div>
      <div id="collapse-{{block.id}}" class="collapse show" aria-labelledby="heading-{{block.id}}">
        <div class="card-body">
          <div class="product-desc-content w-100">
          {%- if block.type == 'tb_description'-%}
            {%- if shop.metafields.all_products.description -%}
              {{ shop.metafields.all_products.description | html | strip_newlines }}
            {%- else -%}
              {%- assign description = product.description | split: '[/short description]' | last | html | strip_newlines -%}
              {{description}}
            {%- endif -%}
            {%- assign idx_active = 1 -%}
          {%- elsif block.type == 'tb_details'-%}
            {%- if product.metafields.meta.additional_information -%}
            <div class="shop_attributes">
              {{  product.metafields.meta.additional_information }}
            </div>
            {%- endif -%}            
            <table class="shop_attributes">
              <tbody>
                {%- if block.settings.show_type and product.type != blank -%}
                <tr id="detail-type">
                  <th>{{'products.product.type'|t}}:&nbsp;</th>
                  <td>
                    <p>
                      {%- assign map_tags = product.tags | where: 'Type '| first -%}
                      {%- if settings.multi_flts_or -%}
                        {%- assign type_handle = product.type | handleize -%}
                        <a href="{{collections[type_handle].url | default: routes.all_products_collection_url}}?q=type:{{product.type | handleize}}"><span>{{product.type}}</span></a>
                      {%- elsif map_tags -%}
                        <a href="{{routes.all_products_collection_url}}/type-{{product.type | handleize}}"><span>{{product.type}}</span></a>
                      {%- else -%}
                        <a href="{{routes.collections_url}}/vendors?q={{product.type}}"><span>{{product.type}}</span></a>
                      {%- endif -%}
                    </p>
                  </td>
                </tr>
                {%- endif -%}
                    {%- if block.settings.show_vendor and product.vendor != blank -%}
                <tr id="detail-vendor">
                  <th>{{'products.product.vendor'|t}}:&nbsp;</th>
                  <td>
                    <p>
                      {%- assign map_tags = product.tags | where: 'Vendor '| first -%}
                      {%- if settings.multi_flts_or -%}
                        {%- assign vendor_handle = product.vendor | handleize -%}
                    <a href="{{collections[vendor_handle].url | default: routes.all_products_collection_url}}?q=vendor:{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                      {%- elsif map_tags -%}
                        <a href="{{routes.all_products_collection_url}}/vendor-{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                      {%- else -%}
                        <a href="{{routes.collections_url}}/vendors?q={{product.vendor}}"><span>{{product.vendor}}</span></a>
                      {%- endif -%}
                    </p>
                  </td>
                </tr>
                {%- endif -%}
                {%- unless product.options.size == 1 and product.variants[0].title == 'Default Title'-%}
                {%- for option in product.options_with_values-%}
                <tr id="detail-option-{{option.name|handle}}">
                  <th>{{ option.name }}:&nbsp;</th>
                  <td>
                    <p>
                      {%- for item_option in option.values -%}
                      {{item_option}}{%- unless forloop.last -%}{{', '}}{%- endunless -%}
                      {%- endfor -%}
                    </p>
                  </td>
                </tr>
                {%- endfor -%}
                {%- endunless -%}
                {%- if block.settings.show_sku and current_variant.sku != blank -%}
                <tr id="detail-sku">
                  <th>{{'products.product.sku'|t}}:&nbsp;</th>
                  <td>
                    <p class="variant-sku">{{current_variant.sku}}</p>
                  </td>
                </tr>
                {%- endif -%}
                {%- if block.settings.show_weight and current_variant.weight != 0.0 -%}
                <tr id="detail-weight">
                  <th>{{'products.product.weight'|t}}:&nbsp;</th>
                  <td>
                    <p>{{ current_variant.weight | weight_with_unit: current_variant.weight_unit }}</p>
                  </td>
                </tr>
                {%- endif -%}
              </tbody>
            </table>
            {%- assign idx_active = 1 -%}
          {%- elsif block.type == 'tb_shipping'-%}
            {%- if block.settings.show_tab -%}            
              <div class="shipping_tab">
                {%- if settings.use_shipp_rates_cus and block.settings.use_shipping_info -%}
                  {{ pages[settings.shipp_rates_cus].content | html }}
                {%- else -%}
                {%- if settings.use_shipp_rates and block.settings.use_shipping_info -%}
                <div class="shipByLocation" style="display: none">
                  <div class="mb-2">{{'products.shipping.ship_to'|t}} <span class="name_country" style="color:#4CAF50"></span>:<span class="flag"></span><br>
                    <div class="list"></div>
                  </div>
                </div>
                {%- endif -%}
                {%- endif -%}
                {%- if settings.enable_delivery_option and block.settings.use_delivery_time -%}
                  {%- render 'kt_product_delivery' -%}
                {%- endif -%}
                {%- if pages[settings.shipping] != empty -%}
                <div class="clearfix w-100 border-top mb-2"></div>
                {%- endif -%}
                {%- if pages[settings.shipping] != empty -%}
                  {{pages[settings.shipping].content|html}}
                {%- endif -%}
              </div>
            {%- assign idx_active = 1 -%}
            {%- endif -%}
          {%- elsif block.type == 'tb_review'-%}
            {% render 'kt_reviewProduct', product: product %}
            {%- assign idx_active = 1 -%}
          {%- elsif block.type == 'tb_customize'-%}
            <div class="shop_attributes">
              {%- if block.settings.tab_page_html != blank -%}
              {%- assign tab_page_html = block.settings.tab_page_html-%}
              {{ pages[tab_page_html].content }}
              {%- else -%}
              {{block.settings.tab_html|html}}
              {%- endif %}
            </div>
            {%- assign idx_active = 1 -%}
          {%- elsif block.type == 'tb_unique' and product.metafields.meta[block.settings.tab_key] and product.metafields.meta[block.settings.tab_key] != blank-%}
            {{ product.metafields.meta[block.settings.tab_key] | html }}
            {%- assign idx_active = 1 -%}
          {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
{%- elsif style == '1' -%}
<div class="kt-tabs panel-group mt-4 mb-4 w-100">
  <div class="{{width_section_}}">
    <div class="tabs-width {{width_content_}}">
      <ul class="nav nav-pills justify-content-center list-unstyled" id="product-tabs" role="tablist">
        {%- assign idx_active = 0 -%}
        {%- for block in section.blocks -%}
     
        {%- unless block.settings.show_tab -%}{%- continue -%}{%- endunless-%}
        {%- if block.type == 'tb_description' and product.description == blank-%}{%- continue -%}{%- endif -%}
        {%- if block.type == 'tb_unique' and product.metafields.meta[block.settings.tab_key] == blank-%}{%- continue -%}{%- endif -%}
        
        {% case block.type %}
            {% when 'tb_description' %}
             <li class="nav-item">
              <a href="#tab-kt{{block.type}}" class="nav-link{% if idx_active == 0 %} active{% endif %}" id="tab-kt{{block.type}}-tab" data-toggle="tab" role="tab" aria-controls="tab-21" aria-selected="{% if forloop.first %}true{%else%}false{%endif%}">{{block.settings.tab_title | default: 'Tab Title'}}</a>
            </li>
             {% assign description_parts = product.description | split: "<h5" %}
        
             {% for part in description_parts  %}
             
                {% if part contains "</h5>" %}
                  {%- assign idx_active = 1 -%}
                  {% assign remove = part | split: ">" | first | append: ">" %}
                  <li class="nav-item">            
                    <a href="#tab-kt-generado{{forloop.index}}" class="nav-link{% if idx_active == 0 %} active{% endif %}" id="tab-kt-generado{{forloop.index}}-tab" data-toggle="tab" role="tab" aria-controls="tab-21" aria-selected="{% if forloop.first %}true{%else%}false{%endif%}">
                      {{ part | split: "</h5>" | first | strip_html | replace: remove, "" }}
                    </a>
                  </li>
                {% endif %}
            {% endfor %}
              
            {% else %}
            <li class="nav-item">
              <a href="#tab-kt{{block.type}}"  class="nav-link{% if idx_active == 0 %} active{% endif %}" id="tab-kt{{block.type}}-tab" data-toggle="tab" role="tab" aria-controls="tab-21" aria-selected="{% if forloop.first %}true{%else%}false{%endif%}">{{block.settings.tab_title | default: 'Tab Title'}}</a>
            </li>
        {% endcase %}
        
        {%- assign idx_active = 1 -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="tab-content tab-container" id="div_id">
    {%- assign idx_active = 0 -%}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'tb_description' %}                
                      <div class="tb_description tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{block.type}}">
                        <div class="tabs-width product-desc-content{%if width == 'full'%} {{width_content_}}{%elsif product.tags contains 'description_fullwidth'%} w-100{%else%} {{block.settings.tab_width}}{%endif%}">
                          <div class="border">
                            {{ product.description | split: '<h5>' | first }}                      
                          </div>
                        </div>
                      </div>
                      {%- assign idx_active = 1 -%}
                      {% assign description_parts = product.description | split: "<h5" %}

                      {% for part in description_parts  %}
                        {% assign fp = part | append: " " | split: "</h5>" | last %}
                        {% assign p = part | append: " " | split: "</h5>" | last | strip_html | replace: "&nbsp;", "" | replace: " ", "" | strip_newlines %}
                        {% capture ind %}{{ forloop.index | plus: 0}}{% endcapture %}

                        {% if p != "" or fp contains "<img " or fp contains "<iframe " %}        
                         <div class=" tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt-generado{{forloop.index}}">
                            <div class="tabs-width product-desc-content{%if width == 'full'%} {{width_content_}}{%elsif product.tags contains 'description_fullwidth'%} w-100{%else%} {{block.settings.tab_width}}{%endif%}">
                              <div class="border tb_generado">
                                {{ part | split: "</h5>" | last | replace: "<div", "<span" | replace: "</div", "</span" }}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}

                      

                 
                {% when 'tb_details' %}
                  <div class="tb_details tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{block.type}}">
                    <div class="{{width_section_}}">
                      <div class="tabs-width product-desc-content container">
                      <div class="border tb_generado">
                        {%- if product.metafields.meta.additional_information -%}
                        <div class="pb-1 mb-1 border-bottom">
                          <div class="shop_attributes">
                            {{  product.metafields.meta.additional_information }}
                          </div>
                        </div>
                        {%- endif -%}
                        <table class="shop_attributes" style="width: 100%;">
                          <tbody>
                            {%- if block.settings.show_type and product.type != blank -%}
                            <tr id="detail-type">
                              <th>{{'products.product.type'|t}}:&nbsp;</th>
                              <td>
                                <p>
                                  {%- assign map_tags = product.tags | where: 'Type '| first -%}
                                  {%- if settings.multi_flts_or -%}
                                    {%- assign type_handle = product.type | handleize -%}
                                    <a href="{{collections[type_handle].url | default: routes.all_products_collection_url}}?q=type:{{product.type | handleize}}"><span>{{product.type}}</span></a>
                                  {%- elsif map_tags -%}
                                    <a href="{{routes.all_products_collection_url}}/type-{{product.type | handleize}}"><span>{{product.type}}</span></a>
                                  {%- else -%}
                                    <a href="{{routes.collections_url}}/vendors?q={{product.type}}"><span>{{product.type}}</span></a>
                                  {%- endif -%}
                                </p>
                              </td>
                            </tr>
                            {%- endif -%}
                            {%- if block.settings.show_vendor and product.vendor != blank -%}
                            <tr id="detail-vendor">
                              <th>{{'products.product.vendor'|t}}:&nbsp;</th>
                              <td>
                                <p>
                                  {%- assign map_tags = product.tags | where: 'Vendor '| first -%}
                                  {%- if settings.multi_flts_or -%}
                                    {%- assign vendor_handle = product.vendor | handleize -%}
                                    <a href="{{collections[vendor_handle].url | default: routes.all_products_collection_url}}?q=vendor:{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                                  {%- elsif map_tags -%}
                                    <a href="{{routes.all_products_collection_url}}/vendor-{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                                  {%- else -%}
                                    <a href="{{routes.collections_url}}/vendors?q={{product.vendor}}"><span>{{product.vendor}}</span></a>
                                  {%- endif -%}
                                </p>
                              </td>
                            </tr>
                            {%- endif -%}
                            {%- unless product.options.size == 1 and product.variants[0].title == 'Default Title'-%}
                            {%- for option in product.options_with_values-%}
                            <tr id="detail-option-{{option.name|handle}}">
                              <th>{{ option.name }}:&nbsp;</th>
                              <td>
                                <p>
                                  {%- for item_option in option.values -%}
                                  {{item_option}}{%- unless forloop.last -%}{{', '}}{%- endunless -%}
                                  {%- endfor -%}
                                </p>
                              </td>
                            </tr>
                            {%- endfor -%}
                            {%- endunless -%}
                            {%- if block.settings.show_sku and current_variant.sku != blank -%}
                            <tr id="detail-sku">
                              <th>{{'products.product.sku'|t}}:&nbsp;</th>
                              <td>
                                <p class="variant-sku">{{current_variant.sku}}</p>
                              </td>
                            </tr>
                            {%- endif -%}
                            {%- if block.settings.show_weight and current_variant.weight != 0.0 -%}
                            <tr id="detail-weight">
                              <th>{{'products.product.weight'|t}}:&nbsp;</th>
                              <td>
                                <p>{{ current_variant.weight | weight_with_unit: current_variant.weight_unit }}</p>
                              </td>
                            </tr>
                            {%- endif -%}
                          </tbody>
                        </table>
                      </div>
                      </div>
                    </div>
                  </div>
                  {%- assign idx_active = 1 -%}
                {% when 'tb_review' %}
                  <div class="tb_review tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{block.type}}">
                    <div class="{{width_section_}}">
                      <div class="tabs-width product-desc-content {{width_content_}}">
                        <div class="border">
                          {% render 'kt_reviewProduct', product: product %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {%- assign idx_active = 1 -%} 


                  {% when 'tb_customize_politicas' %}
                  <div class="tb_review tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{block.type}}">
                    <div class="{{width_section_}}">
                        <div class="tabs-width product-desc-content {{width_content_}}">                       
                          <div class="border">
                            {{block.settings.tab_html_header|html}}
                            {{block.settings.tab_html|html}}
                            {{block.settings.tab_html_footer|html}}

                            {%- if block.settings.tab_html_href != blank-%}
                              <a href="/{{ block.settings.tab_html_href }}-{{product.vendor  | downcase | replace: " ", "-" | replace: "í", "i" }}">
                                <span>{{product.vendor }}</span>
                              </a>   
                            {%- endif -%}
                            
                          </div>
                        </div>
                    </div>
                  </div>

                  {% when 'tb_customize' %}
                  <div class="tb_review tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{block.type}}">
                    <div class="{{width_section_}}">
                        <div class="tabs-width product-desc-content {{width_content_}}">                          
                          <div class="border">
                            {{block.settings.tab_html_header|html}}
                            {{block.settings.tab_html|html}}
                            {{block.settings.tab_html_footer|html}}                           
                          </div>
                        </div>
                    </div>
                  </div>
                  {%- assign idx_active = 1 -%} 

              {% endcase %}

            {% endfor %}
  </div>
</div>
{%- elsif style == '2' -%} 
<div class="kt-tabs panel-group mt-4 mb-4 w-100">
  <div class="{{width_section_}}">
    <div class="tabs-width {{width_content_}}">
      <ul class="nav nav-pills justify-content-center border-top list-unstyled" id="product-tabs" role="tablist">
        {%- assign idx_active = 0 -%}
        {%- for block in section.blocks -%}
        {%- unless block.settings.show_tab -%}{%- continue -%}{%- endunless-%}
        {%- if block.type == 'tb_description' and product.description == blank-%}{%- continue -%}{%- endif -%}
        {%- if block.type == 'tb_unique' and product.metafields.meta[block.settings.tab_key] == blank-%}{%- continue -%}{%- endif -%}
        <li class="nav-item">
          <a href="#tab-kt{{forloop.index}}" class="nav-link{% if idx_active == 0 %} active{% endif %}" id="#tab-kt{{forloop.index}}-tab" data-toggle="tab" role="tab" aria-controls="tab-{{forloop.index}}" aria-selected="{% if forloop.first %}true{%else%}false{%endif%}">{{block.settings.tab_title | default: 'Tab Title'}}</a>
        </li>
        {%- assign idx_active = 1 -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="tab-content tab-container">
    {%- assign idx_active = 0 -%}
    {%- for block in section.blocks -%}
      {%- unless block.settings.show_tab -%}{%- continue -%}{%- endunless-%}
      {%- if block.type == 'tb_description' and product.description == blank-%}{%- continue -%}{%- endif -%}
      {%- if block.type == 'tb_unique' and product.metafields.meta[block.settings.tab_key] == blank-%}{%- continue -%}{%- endif -%}
      {%- if block.type == 'tb_description'-%}
        <div class="tb_description tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{forloop.index}}">
          <div class="tabs-width product-desc-content{%if width == 'full'%} {{width_content_}}{%elsif product.tags contains 'description_fullwidth'%} w-100{%else%} {{block.settings.tab_width}}{%endif%}">
            {%- if shop.metafields.all_products.description -%}
              {{ shop.metafields.all_products.description | html | strip_newlines }}
            {%- else -%}
              {%- assign description = product.description | split: '[/short description]' | last | html | strip_newlines -%}
              {{description}}
            {%- endif -%}
          </div>
        </div>
        {%- assign idx_active = 1 -%}
      {%- elsif block.type == 'tb_details'-%}
        <div class="tb_details tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{forloop.index}}">
          <div class="{{width_section_}}">
            <div class="tabs-width product-desc-content {{width_content_}}">
              {%- if product.metafields.meta.additional_information -%}
              <div class="pb-1 mb-1 border-bottom">
                <div class="shop_attributes">
                  {{  product.metafields.meta.additional_information }}
                </div>
              </div>
              {%- endif -%}
              <table class="shop_attributes">
                <tbody>
                  {%- if block.settings.show_type and product.type != blank -%}
                  <tr id="detail-type">
                    <th>{{'products.product.type'|t}}:&nbsp;</th>
                    <td>
                      <p>
                        {%- assign map_tags = product.tags | where: 'Type '| first -%}
                        {%- if settings.multi_flts_or -%}
                          {%- assign type_handle = product.type | handleize -%}
                          <a href="{{collections[type_handle].url | default: routes.all_products_collection_url}}?q=type:{{product.type | handleize}}"><span>{{product.type}}</span></a>
                        {%- elsif map_tags -%}
                          <a href="{{routes.all_products_collection_url}}/type-{{product.type | handleize}}"><span>{{product.type}}</span></a>
                        {%- else -%}
                          <a href="{{routes.collections_url}}/vendors?q={{product.type}}"><span>{{product.type}}</span></a>
                        {%- endif -%}
                      </p>
                    </td>
                  </tr>
                  {%- endif -%}
                  {%- if block.settings.show_vendor and product.vendor != blank -%}
                  <tr id="detail-vendor">
                    <th>{{'products.product.vendor'|t}}:&nbsp;</th>
                    <td>
                      <p>
                        {%- assign map_tags = product.tags | where: 'Vendor '| first -%}
                        {%- if settings.multi_flts_or -%}
                          {%- assign vendor_handle = product.vendor | handleize -%}
                          <a href="{{collections[vendor_handle].url | default: routes.all_products_collection_url}}?q=vendor:{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                        {%- elsif map_tags -%}
                          <a href="{{routes.all_products_collection_url}}/vendor-{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                        {%- else -%}
                          <a href="{{routes.collections_url}}/vendors?q={{product.vendor}}"><span>{{product.vendor}}</span></a>
                        {%- endif -%}
                      </p>
                    </td>
                  </tr>
                  {%- endif -%}
                  {%- unless product.options.size == 1 and product.variants[0].title == 'Default Title'-%}
                  {%- for option in product.options_with_values-%}
                  <tr id="detail-option-{{option.name|handle}}">
                    <th>{{ option.name }}:&nbsp;</th>
                    <td>
                      <p>
                        {%- for item_option in option.values -%}
                        {{item_option}}{%- unless forloop.last -%}{{', '}}{%- endunless -%}
                        {%- endfor -%}
                      </p>
                    </td>
                  </tr>
                  {%- endfor -%}
                  {%- endunless -%}
                  {%- if block.settings.show_sku and current_variant.sku != blank -%}
                  <tr id="detail-sku">
                    <th>{{'products.product.sku'|t}}:&nbsp;</th>
                    <td>
                      <p class="variant-sku">{{current_variant.sku}}</p>
                    </td>
                  </tr>
                  {%- endif -%}
                  {%- if block.settings.show_weight and current_variant.weight != 0.0 -%}
                  <tr id="detail-weight">
                    <th>{{'products.product.weight'|t}}:&nbsp;</th>
                    <td>
                      <p>{{ current_variant.weight | weight_with_unit: current_variant.weight_unit }}</p>
                    </td>
                  </tr>
                  {%- endif -%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {%- assign idx_active = 1 -%}
      {%- elsif block.type == 'tb_shipping'-%}
        {%- if block.settings.show_tab -%}
        <div class="tb_shipping tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{forloop.index}}">
          <div class="{{width_section_}}">
            <div class="tabs-width product-desc-content {{width_content_}}">
              <div class="shipping_tab">
                {%- if settings.use_shipp_rates_cus and block.settings.use_shipping_info -%}
                  {{ pages[settings.shipp_rates_cus].content | html }}
                {%- else -%}
                {%- if settings.use_shipp_rates and block.settings.use_shipping_info -%}
                <div class="shipByLocation" style="display: none">
                  <div class="mb-2">{{'products.shipping.ship_to'|t}} <span class="name_country" style="color:#4CAF50"></span>:<span class="flag"></span><br>
                    <div class="list"></div>
                  </div>
                </div>
                {%- endif -%}
                {%- endif -%}
                {%- if settings.enable_delivery_option and block.settings.use_delivery_time -%}
                  {%- render 'kt_product_delivery' -%}
                {%- endif -%}
                {%- if pages[settings.shipping] != empty -%}
                <div class="clearfix w-100 border-top mb-2"></div>
                {%- endif -%}
                {%- if pages[settings.shipping] != empty -%}
                  {{pages[settings.shipping].content|html}}
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
        {%- assign idx_active = 1 -%}
        {%- endif -%}
      {%- elsif block.type == 'tb_review'-%}
        <div class="tb_review tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{forloop.index}}">
          <div class="{{width_section_}}">
            <div class="tabs-width product-desc-content {{width_content_}}}">
              {% render 'kt_reviewProduct', product: product %}
            </div>
          </div>
        </div>
        {%- assign idx_active = 1 -%}
      {%- elsif block.type == 'tb_customize'-%}
        <div class="tb_customize tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{forloop.index}}">
          <div class="{{width_section_}}">
            <div class="tabs-width product-desc-content {{width_content_}}">
              <div class="shop_attributes">               
                {%- if block.settings.tab_page_html != blank -%}
                {%- assign tab_page_html = block.settings.tab_page_html-%}
                {{ pages[tab_page_html].content }}
                {%- else -%}
                {{block.settings.tab_html|html}}
                {%- endif %}
              </div>
            </div>
          </div>
        </div>
        {%- assign idx_active = 1 -%}
      {%- elsif block.type == 'tb_unique'-%}
        <div class="tb_customize tab-pane fade{% if idx_active == 0 %} active show{% endif %}" role="tabpanel" id="tab-kt{{forloop.index}}">
          <div class="{{width_section_}}">
            <div class="tabs-width product-desc-content {{width_content_}}}">
              {{ product.metafields.meta[block.settings.tab_key] | html }}
            </div>
          </div>
        </div>
        {%- assign idx_active = 1 -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
{%- elsif style == '3' -%}
<div class="kt-tabs {{width_section_}}">
  <div class="accordion accordion-plus" id="accordion-{{section.id}}">
  {%- assign idx_active = 0 -%}
  {% for block in section.blocks-%}
  {%- unless block.settings.show_tab -%}{%- continue -%}{%- endunless-%}
  {%- if block.type == 'tb_description' and product.description == blank-%}{%- continue -%}{%- endif -%}
  {%- if block.type == 'tb_unique' and product.metafields.meta[block.settings.tab_key] == blank-%}{%- continue -%}{%- endif -%}
  <div class="card card-box card-sm bg-light">
    <div class="card-header" id="heading-{{block.id}}">
      <h5 class="card-title">
        <a class="{%if idx_active != 0 %}collapsed{%endif%}" role="button" data-toggle="collapse" href="#collapse-{{block.id}}" aria-expanded="{%if idx_active == 0 %}true{%else%}false{%endif%}" aria-controls="collapse-{{block.id}}">{{block.settings.tab_title | default: 'Tab Title'}}</a>
      </h5>
    </div>
    <div id="collapse-{{block.id}}" class="{%if idx_active == 0 %}show{%else%}collapse{%endif%}" aria-labelledby="heading-{{block.id}}">
      <div class="card-body">
        <div class="product-desc-content w-100">
        {%- if block.type == 'tb_description'-%}
          {%- if shop.metafields.all_products.description -%}
            {{ shop.metafields.all_products.description | html | strip_newlines }}
          {%- else -%}
            {%- assign description = product.description | split: '[/short description]' | last | html | strip_newlines -%}
            {{description}}
          {%- endif -%}
          {%- assign idx_active = 1 -%}
        {%- elsif block.type == 'tb_details'-%}
          {%- if product.metafields.meta.additional_information -%}
          <div class="shop_attributes">
            {{  product.metafields.meta.additional_information }}
          </div>
          {%- endif -%}            
          <table class="shop_attributes">
            <tbody>
              {%- if block.settings.show_type and product.type != blank -%}
              <tr id="detail-type">
                <th>{{'products.product.type'|t}}:&nbsp;</th>
                <td>
                  <p>
                    {%- assign map_tags = product.tags | where: 'Type '| first -%}
                    {%- if settings.multi_flts_or -%}
                      {%- assign type_handle = product.type | handleize -%}
                      <a href="{{collections[type_handle].url | default: routes.all_products_collection_url}}?q=type:{{product.type | handleize}}"><span>{{product.type}}</span></a>
                    {%- elsif map_tags -%}
                      <a href="{{routes.all_products_collection_url}}/type-{{product.type | handleize}}"><span>{{product.type}}</span></a>
                    {%- else -%}
                      <a href="{{routes.collections_url}}/vendors?q={{product.type}}"><span>{{product.type}}</span></a>
                    {%- endif -%}
                  </p>
                </td>
              </tr>
              {%- endif -%}
                  {%- if block.settings.show_vendor and product.vendor != blank -%}
              <tr id="detail-vendor">
                <th>{{'products.product.vendor'|t}}:&nbsp;</th>
                <td>
                  <p>
                    {%- assign map_tags = product.tags | where: 'Vendor '| first -%}
                    {%- if settings.multi_flts_or -%}
                      {%- assign vendor_handle = product.vendor | handleize -%}
                  <a href="{{collections[vendor_handle].url | default: routes.all_products_collection_url}}?q=vendor:{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                    {%- elsif map_tags -%}
                      <a href="{{routes.all_products_collection_url}}/vendor-{{product.vendor | handleize}}"><span>{{product.vendor}}</span></a>
                    {%- else -%}
                      <a href="{{routes.collections_url}}/vendors?q={{product.vendor}}"><span>{{product.vendor}}</span></a>
                    {%- endif -%}
                  </p>
                </td>
              </tr>
              {%- endif -%}
              {%- unless product.options.size == 1 and product.variants[0].title == 'Default Title'-%}
              {%- for option in product.options_with_values-%}
              <tr id="detail-option-{{option.name|handle}}">
                <th>{{ option.name }}:&nbsp;</th>
                <td>
                  <p>
                    {%- for item_option in option.values -%}
                    {{item_option}}{%- unless forloop.last -%}{{', '}}{%- endunless -%}
                    {%- endfor -%}
                  </p>
                </td>
              </tr>
              {%- endfor -%}
              {%- endunless -%}
              {%- if block.settings.show_sku and current_variant.sku != blank -%}
              <tr id="detail-sku">
                <th>{{'products.product.sku'|t}}:&nbsp;</th>
                <td>
                  <p class="variant-sku">{{current_variant.sku}}</p>
                </td>
              </tr>
              {%- endif -%}
              {%- if block.settings.show_weight and current_variant.weight != 0.0 -%}
              <tr id="detail-weight">
                <th>{{'products.product.weight'|t}}:&nbsp;</th>
                <td>
                  <p>{{ current_variant.weight | weight_with_unit: current_variant.weight_unit }}</p>
                </td>
              </tr>
              {%- endif -%}
            </tbody>
          </table>
          {%- assign idx_active = 1 -%}
        {%- elsif block.type == 'tb_shipping'-%}
          {%- if block.settings.show_tab -%}            
            <div class="shipping_tab">
              {%- if settings.use_shipp_rates_cus and block.settings.use_shipping_info -%}
                {{ pages[settings.shipp_rates_cus].content | html }}
              {%- else -%}
              {%- if settings.use_shipp_rates and block.settings.use_shipping_info -%}
              <div class="shipByLocation" style="display: none">
                <div class="mb-2">{{'products.shipping.ship_to'|t}} <span class="name_country" style="color:#4CAF50"></span>:<span class="flag"></span><br>
                  <div class="list"></div>
                </div>
              </div>
              {%- endif -%}
              {%- endif -%}
              {%- if settings.enable_delivery_option and block.settings.use_delivery_time -%}
                {%- render 'kt_product_delivery' -%}
              {%- endif -%}
              {%- if pages[settings.shipping] != empty -%}
              <div class="clearfix w-100 border-top mb-2"></div>
              {%- endif -%}
              {%- if pages[settings.shipping] != empty -%}
                {{pages[settings.shipping].content|html}}
              {%- endif -%}
            </div>
          {%- assign idx_active = 1 -%}
          {%- endif -%}
        {%- elsif block.type == 'tb_review'-%}
          {% render 'kt_reviewProduct', product: product %}
          {%- assign idx_active = 1 -%}
        {%- elsif block.type == 'tb_customize'-%}
          <div class="shop_attributes">
            {%- if block.settings.tab_page_html != blank -%}
            {%- assign tab_page_html = block.settings.tab_page_html-%}
            {{ pages[tab_page_html].content }}
            {%- else -%}
            {{block.settings.tab_html|html}}
            {%- endif %}
          </div>
          {%- assign idx_active = 1 -%}
        {%- elsif block.type == 'tb_unique' and product.metafields.meta[block.settings.tab_key] and product.metafields.meta[block.settings.tab_key] != blank-%}
          {{ product.metafields.meta[block.settings.tab_key] | html }}
          {%- assign idx_active = 1 -%}
        {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{%- endif -%}



<script>

  function  getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
  
  function valoracion(){    
  	const valor = getParameterByName('val');

    if(valor==3){
      //titulo Tab
    	document.getElementById("tab-kttb_description-tab").className = "nav-link";
      document.getElementById("tab-kttb_review-tab").className += " active show";

      //Body Tab
      document.getElementById("tab-kttb_description").className = "tb_review tab-pane fade";
      document.getElementById("tab-kttb_review").className += " active show";

      setTimeout(function(){
        document.getElementById("form_{{product.id}}").style.display = "block";
      },8000);
      

       
    }
  }

  valoracion();
</script>