{%-liquid
  assign padding_size = section.settings.padding_size
  assign p_css = 'padding-left: ' | append: padding_size | append: 'rem;padding-right: ' | append: padding_size | append: 'rem'
  assign m_css = 'margin-left: -' | append: padding_size | append: 'rem;margin-right: -' | append: padding_size | append: 'rem'
-%}
{%-style-%}
  .wrap-main-mn{ {{p_css}} }.wrap-main-mn .main-mn{ {{m_css}} }.main-mn .mn-lv1{ {{p_css}} }
{%-endstyle-%}
{%- liquid
  capture st_card
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_hide_only_1_opt
  endcapture
  assign st_card = st_card | split: '|'
-%}
<div class="wrap-main-mn">
  <ul class="kt-nav main-mn clone-main-mn">
    {%- if section.settings.main_linklist == blank -%}  
    {%- assign link_active = canonical_url | split: shop.url | last -%}
    {%- assign types_child = 'linklist,product,collections,banner,html' | split: ',' -%}
    {%- for block in section.blocks -%}
      {%-case block.type -%}
        {%-when 'link'-%}
          {%-assign menu_link = block.settings.button_link-%}
          <li class="mn-lv1 mn-i{%if link_active == menu_link%} active{%endif%} item-{{block.id}}" data-block="link" {{ block.shopify_attributes }}>
            <a href="{{menu_link| default: '#'}}">
              <span>
                {%- if block.settings.icon_font != blank -%}
                  <i class="{{block.settings.icon_font}}"></i>
                {%- endif -%}
                {{-block.settings.title | default: 'menu item'-}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu _{{block.settings.label|handleize}}"><span>{{block.settings.label}}</span></span>
                {%-endif-%}
              </span>
            </a>
          </li>
        {%-when 'special_1'-%}
          {%-assign menu_link = block.settings.button_link-%}
          <li class="special_link{%if link_active == menu_link%} active{%endif%} item-{{block.id}}" data-block="special_1" {{ block.shopify_attributes }}>
            <a href="{{menu_link| default: '#'}}">
              <span>{{block.settings.title | default: 'menu item'}}</span>        
            </a>
          </li>
        {%-when 'hot_1'-%}
          {%-assign menu_link = block.settings.button_link-%}
          <li class="special_link hot_link item-{{block.id}}" data-block="hot_1" {{ block.shopify_attributes }}>
            <div class="d-flex flex-nowrap w-100">
              <span class="percen"></span>
              <a href="{{menu_link| default: '#'}}">
                <div class="mn-i-hot d-flex align-items-center">{{block.settings.title | default: 'menu item'}}</div>        
              </a>
            </div>
          </li>
        {%-when 'standard'-%}
          {%-assign menu_handle = block.settings.menu_links-%}
          <li class="mn-lv1 mn-i mn-has-child{%if link_active ==  block.settings.button_link%} active{%endif%} item-{{block.id}}" data-block="standard" {{ block.shopify_attributes }}>
            <a href="{{block.settings.button_link| default: '#'}}">
              <span>
                {%- if block.settings.icon_font != blank -%}
                  <i class="{{block.settings.icon_font}}"></i>
                {%- endif -%}
                {{-block.settings.title | default: linklists[menu_handle].title | default: 'menu item'-}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu _{{block.settings.label|handleize}}"><span>{{block.settings.label}}</span></span>
                {%-endif-%}
              </span>
            </a>
            {%-if linklists[menu_handle].links.size > 0-%}
            <div class="sub-mn">
              <ul class="mn-lv2s list-unstyled">
                {%-for link in linklists[menu_handle].links-%}
                <li class="mn-i{%if link.links.size > 0%} drop_to_right mn-has-child{%endif%}">
                  <a href="{{ link.url }}">{%-render 'kt_menu-title', link: link -%}</a>
                  {%-if link.links.size > 0-%}
                  <ul class="mn-lv3s list-unstyled sub-mn">
                    {%-for sub_link in link.links-%}
                    <li class="mn-i{%if sub_link.links.size > 0%} drop_to_right mn-has-child{%endif%}">
                      <a href="{{sub_link.url}}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                      {%-if sub_link.links.size > 0-%}
                        <ul class="mn-lv4s sub-mn">
                          {%-for sub_sub_link in sub_link.links-%}
                          <li class="mn-i">
                            <a href="{{sub_sub_link.url}}">{%-render 'kt_menu-title', link: sub_sub_link -%}</a>
                          </li>
                          {%- endfor-%}
                        </ul>
                      {%- endif-%}
                    </li>
                    {%- endfor-%}
                  </ul>
                  {%- endif-%}
                </li>
                {%- endfor-%}
              </ul>
            </div>
            {%- endif-%}
          </li>
        {%-when 'standard_collumn'-%}
          {%-assign menu_handle = block.settings.menu_links-%}
          <li class="mn-lv1 mn-i i-megamn mn-has-child{%if link_active ==  block.settings.button_link%} active{%endif%} item-{{block.id}}{%if block.settings.menu_links_width == '100vw'%} f-width{%endif%}" data-block="standard_collumn" {{ block.shopify_attributes }}>
            <a href="{{block.settings.button_link| default: '#'}}">
              <span>
                {%- if block.settings.icon_font != blank -%}
                  <i class="{{block.settings.icon_font}}"></i>
                {%- endif -%}
                {{-block.settings.title | default: linklists[menu_handle].title | default: 'menu item'-}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu _{{block.settings.label|handleize}}"><span>{{block.settings.label}}</span></span> 
                {%-endif-%}
              </span>
            </a>
            {%- if linklists[menu_handle].links.size > 0-%}
            <div class="sub-mn mn-scroll" style="width:{{block.settings.menu_links_width|default: '1200px'}}">
              {%- case linklists[menu_handle].links.size -%}
                {%- when 1 -%}
                  {%-assign colitem = ''-%}
                {%- when 2 -%}
                  {%-assign colitem = ' col-lg-6'-%}
                {%- when 3 -%}
                  {%-assign colitem = ' col-lg-4'-%}
                {%- when 4 -%}
                  {%-assign colitem = ' col-lg-3'-%}
                {%- when 5 -%}
                  {%-assign colitem = ' col-lg-2-10'-%}
                {%- else -%}
                  {%-assign colitem = ' col-lg-3'-%}
              {%- endcase -%}
              <ul class="d-flex flex-wrap mn-lv2s list-unstyled">
                {%-for link in linklists[menu_handle].links-%}
                {%- if link.handle == 'breakcol'-%}{%- continue -%}{%- endif -%}
                <li class="mn-i{{colitem}}{%if child_links.size > 0%} mn-has-child{%endif%} title_lv1">
                  <a href="{{ link.url }}">{%-render 'kt_menu-title', link: link -%}</a>
                  <ul class="mega-linklist mn-lv3s list-unstyled">
                    {%-if link.links.size > 0-%}
                    {%- for sub_link in link.links -%}
                    <li class="mn-i site-nav__child-link">
                      <a href="{{sub_link.url}}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                    </li>
                    {%-if sub_link.links.size > 0-%}
                    {%- for sub_sub_link in sub_link.links -%}
                    <li class="mn-i site-nav__child-link">
                      <a href="{{sub_sub_link.url}}">{%-render 'kt_menu-title', link: sub_sub_link -%}</a>
                    </li>
                    {%-endfor-%}
                    {%-endif-%}
                    {%-endfor-%}
                    {%-endif-%}
                  </ul>
                </li>
                {%-endfor-%}
              </ul>
            </div>
            {%-endif-%}
          </li>
        {%-when 'multi_collumn'-%}
          {%- assign menu_handle = block.settings.menu_links-%}
          <li class="mn-lv1 mn-i i-megamn mn-has-child{%if link_active ==  block.settings.button_link%} active{%endif%} item-{{block.id}}{%if block.settings.menu_links_width == '100vw'%} f-width{%endif%}" data-block="multi_collumn" {{ block.shopify_attributes }}>
            <a href="{{block.settings.button_link| default: '#'}}">
              <span>
                {%- if block.settings.icon_font != blank -%}
                  <i class="{{block.settings.icon_font}}"></i>
                {%- endif -%}
                {{-block.settings.title | default: linklists[menu_handle].title | default: 'menu item'-}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu _{{block.settings.label|handleize}}"><span>{{block.settings.label}}</span></span> 
                {%-endif-%}
              </span>
            </a>
            {%-if linklists[menu_handle].links.size > 0-%}
            <div style="width:{{block.settings.menu_links_width|default: '1200px'}};" class="sub-mn mn-scroll{%if block.settings.bg_image%} lazyload{%endif%}" {%if block.settings.bg_image%} data-bgset="{%- render 'bgset', image: block.settings.bg_image -%}" data-sizes="auto"{%endif%}>
              <div class="d-flex flex-wrap mn-lv2s">
                {%- assign link_handle = linklists[menu_handle].links | map: 'handle' | join: ' '-%}
                {%-if link_handle contains 'breakcol'-%}
                {%- assign count = 0-%}
                {%- assign per = block.settings.menu_links_per_col | plus: 0-%}
                {%- for link in linklists[menu_handle].links-%}
                {%- if count == 0-%}
                <div class="col-12{%if per == 2%} col-lg-6{%elsif per == 3%} col-lg-4{%elsif per >= 4%} col-lg-3{%endif%}">
                  <ul class="mega-linklist list-unstyled">
                    {%- endif -%}
                    {%- unless link.handle == 'breakcol'-%}
                    <li class="mn-i{% if link.title contains '[title]' or link.handle == 'breakline' %} title_lv1{% endif %}"{%if link.handle == 'breakline'%} style="opacity: 0; pointer-events: none;"{%endif%}>
                      <a href="{{ link.url }}">{%-render 'kt_menu-title', link: link -%}</a>
                    </li>
                    {%- if link.links.size > 0-%}
                      {%-for sub_link in link.links-%}
                        <li class="mn-i{% if sub_link.title contains '[title]' or sub_link.handle == 'breakline' %} title_lv1{% endif %}"{%if sub_link.handle == 'breakline'%} style="opacity: 0; pointer-events: none;"{%endif%}>
                          <a href="{{sub_link.url}}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                        </li>
                      {%-endfor-%}
                    {%- endif-%}
                    {%-endunless-%}
                    {%-if forloop.last or link.handle == 'breakcol'-%}
                  </ul>
                </div>
                {%- assign count = 0-%}
                {%- else-%}
                {%- assign count = count | plus: 1-%}
                {%- endif-%}
                {%- endfor-%}
                {%-else-%}
                
                {%- assign count = 0-%}
                {%- if block.settings.menu_links_per_col != '1'-%}
                {%- assign size = linklists[menu_handle].links.size  | plus: 0-%}
                {%- assign per = block.settings.menu_links_per_col | plus: 0-%}
                {%- assign size_per = size | divided_by: per | ceil-%}
                {%- assign breakline = size_per | minus: 1-%}
                {%- endif-%}
                {%- for link in linklists[menu_handle].links-%}
                
                {%-if count == 0 -%}
                <div class="col-12{%if per == 2%} col-lg-6{%elsif per == 3%} col-lg-4{%elsif per >= 4%} col-lg-3{%endif%}">
                  <ul class="mega-linklist list-unstyled">
                    {%- endif-%}
                    <li class="mn-i{% if link.title contains '[title]' %} title_lv1{% endif %}">
                      <a href="{{ link.url }}">{%-render 'kt_menu-title', link: link -%}</a>
                    </li>
                    {%- if link.links > 0-%}
                    {%-for sub_link in link.links-%}
                    <li class="mn-i">
                      <a href="{{sub_link.url}}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                    </li>
                    {%-endfor-%}
                    {%- endif-%}
                    {%-if forloop.last or count == breakline-%}
                  </ul>
                </div>
                {%-assign count = 0-%}
                {%-else-%}
                {%-assign count = count | plus: 1-%}
                {%-endif-%}
                {%- endfor-%}
                {%- endif-%}
              </div>
            </div>
            {%- endif-%}
          </li>
        {%-when 'per_column'-%}
          {%- assign menu_handle = block.settings.menu_links-%}
          <li class="mn-lv1 mn-i i-megamn mn-has-child{%if link_active ==  block.settings.button_link%} active{%endif%} item-{{block.id}}{%if block.settings.menu_links_width == '100vw'%} f-width{%endif%}" data-block="per_column" {{ block.shopify_attributes }}>
            <a href="{{block.settings.button_link| default: '#'}}">
              <span>
                {%- if block.settings.icon_font != blank -%}
                  <i class="{{block.settings.icon_font}}"></i>
                {%- endif -%}
                {{-block.settings.title | default: linklists[menu_handle].title | default: 'menu item'-}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu _{{block.settings.label|handleize}}"><span>{{block.settings.label}}</span></span> 
                {%-endif-%}
              </span>
            </a>
            {%-if linklists[menu_handle].links.size > 0-%}
            <div style="width:{{block.settings.menu_links_width|default: '1200px'}}" class="sub-mn mn-scroll">
              <div class="d-flex flex-wrap mn-lv2s">
                {%- assign count = 0-%}
                {%- if block.settings.menu_links_per_col != '1'-%}
                {%- assign size = linklists[menu_handle].links.size  | plus: 0.0-%}
                {%- assign per = block.settings.menu_links_per_col | plus: 0.0-%}
                {%- assign size_per = size | divided_by: per | ceil-%}
                {%- assign breakline = size_per | minus: 1-%}
                {%- endif-%}
                {%- for link in linklists[menu_handle].links-%}
                {%-if count == 0 -%}
                <div class="col-12{%if per == 2%} col-lg-6{%elsif per == 3%} col-lg-4{%elsif per >= 4%} col-lg-3{%endif%}">
                  <ul class="mega-linklist list-unstyled">
                    {%- endif-%}
                    <li class="mn-i{% if link.title contains '[title]' %} title_lv1{% endif %}">
                      <a href="{{link.url}}">{%-render 'kt_menu-title', link: link -%}</a>
                    </li>
                    {%-if forloop.last or count == breakline-%}
                  </ul>
                </div>
                {%-assign count = 0-%}
                {%-else-%}
                {%-assign count = count | plus: 1-%}
                {%-endif-%}
                {%-endfor-%}
              </div>
            </div>
            {%- endif -%}
          </li>
        {%-when 'promo'-%}
          {%-assign menu_handle = block.settings.menu_links-%}
          <li class="mn-lv1 mn-i i-megamn mn-has-child{%if link_active ==  block.settings.button_link%} active{%endif%} item-{{block.id}}{%if block.settings.menu_links_width == '100vw'%} f-width{%endif%}" data-block="promo" {{ block.shopify_attributes }}>
            <a href="{{block.settings.button_link| default: '#'}}">
              <span>
                {%- if block.settings.icon_font != blank -%}
                  <i class="{{block.settings.icon_font}}"></i>
                {%- endif -%}
                {{-block.settings.name_item | default: linklists[menu_handle].title-}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu _{{block.settings.label|handleize}}"><span>{{block.settings.label}}</span></span>
                {%-endif-%}
              </span>
            </a>
            {%- assign has_bg = false -%}{%- if block.settings.use_promo_html == false and block.settings.promo_link == blank and block.settings.promo_image -%}{%- assign has_bg = true -%}{%- endif -%}
            <div style="width:{{block.settings.menu_links_width|default: '1200px'}}" class="sub-mn mn-scroll{%if has_bg%} lazyload{%endif%}"{%if has_bg%} data-bgset="{%- render 'bgset', image: block.settings.promo_image, prioritize: 'height' -%}" data-sizes="cover"{%endif%}>
              {%- assign promo_width = block.settings.promo_width-%}
              {%- assign linklists_width = block.settings.sub_width-%}
              <div class="d-flex flex-wrap mn-lv2s">
                {%-if linklists[menu_handle].links.size > 0-%}
                <div class="col-lg-{{linklists_width}}">
                  <div class="row no-gutters">
                    {%- assign link_handle = linklists[menu_handle].links | map: 'handle' | join: ' '-%}
                    {%- assign per = block.settings.menu_links_per_col | plus: 0-%}
                    {%-if link_handle contains 'breakcol'-%}
                      {%- assign count = 0-%}
                      {%- for link in linklists[menu_handle].links-%}
                      {%-if count == 0-%}
                      <div class="{%if per != 1%}col-lg-{%if per == 2%}6{%elsif per == 3%}4{%elsif per >= 4%}3{%endif%}{%endif%}">
                        <ul class="mega-linklist list-unstyled">
                          {%-endif-%}
                          {%- unless link.handle == 'breakcol'-%}
                          <li class="mn-i{%if link.title contains '[title]'%} title_lv1{%endif%}">
                            <a href="{{link.url}}">{%-render 'kt_menu-title', link: link -%}</a>
                          </li>
                          {%- if link.links.size > 0 -%}
                            {%- for sub_link in link.links -%}
                            <li class="mn-i">
                              <a href="{{ sub_link.url }}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                            </li>
                              {%if sub_link.links.size > 0%}
                                {% for sub_sub_link in sub_link.links %}
                                <li class="mn-i">
                                  <a href="{{ sub_sub_link.url }}">{%-render 'kt_menu-title', link: sub_sub_link -%}</a>
                                </li>
                                {%- endfor -%}
                              {%endif%}
                            {%- endfor -%}
                          {%- endif -%}
                          {%- endunless -%}
                          {%- if forloop.last or link.handle == 'breakcol'-%}
                        </ul>
                      </div>
                      {%- assign count = 0-%}
                      {%- else-%}
                      {%- assign count = count | plus: 1-%}
                      {%- endif-%}
                      {%- endfor-%}
                    {%-elsif per >= 1 -%}
                      {%- assign count = 0-%}
                      {%- for link in linklists[menu_handle].links-%}
                      {%- if block.settings.menu_links_per_col != '1'-%}
                      {%- assign size = linklists[menu_handle].links.size  | plus: 0.0-%}
                      {%- assign per = block.settings.menu_links_per_col | plus: 0.0-%}
                      {%- assign size_per = size | divided_by: per | ceil-%}
                      {%- assign breakline = size_per-%}
                      {%- endif-%}
                      {%-if count == 0 -%}
                      <div class="{%if per != 1%}col-lg-{%if per == 2%}6{%elsif per == 3%}4{%elsif per >= 4%}3{%endif%}{%endif%}">
                        <ul class="mega-linklist list-unstyled">
                          {%- endif-%}
                          <li class="mn-i{%if link.title contains '[title]'%} title_lv1{%endif%}">
                            <a href="{{link.url}}">{%-render 'kt_menu-title', link: link -%}</a>
                          </li>
                            {%- if link.links.size > 0 -%}
                              {%- for sub_link in link.links -%}
                              <li class="mn-i">
                                <a href="{{ sub_link.url }}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                              </li>
                                {%if sub_link.links.size > 0%}
                                  {% for sub_sub_link in sub_link.links %}
                                  <li class="mn-i">
                                    <a href="{{ sub_sub_link.url }}">{%-render 'kt_menu-title', link: sub_sub_link -%}</a>
                                  </li>                    
                                  {%- endfor -%}
                                {%endif%}
                              {%- endfor -%}
                            {%- endif -%}
                          {%-if forloop.last or count == breakline-%}
                        </ul>
                      </div>
                      {%-assign count = 0-%}
                      {%-else-%}
                      {%-assign count = count | plus: 1-%}
                      {%-endif-%}
                      {%-endfor-%}
                    {%-endif-%}
                  </div>
                </div>
                {%- endif-%}
                <div class="col-lg-{{promo_width}} --banner"{%if block.settings.padding_0%} style="--grid-gutter:0"{%endif%}>
                  {%-if block.settings.use_promo_html == false-%}
                    {%- if block.settings.promo_link != blank-%}
                      <a class="d-block" href="{{block.settings.promo_link}}">
                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{block.settings.promo_image| img_url: 'master'}}" alt="{{block.settings.promo_image.alt | default: block.settings.promo_image}}">
                      </a>
                    {%- endif-%}
                  {%- else-%}
                    {%- if block.settings.page_promo_html != blank and pages[block.settings.page_promo_html].title != empty-%}
                      {{ pages[block.settings.page_promo_html].content | html }}
                    {%-else-%}
                      {{ block.settings.textarea_promo_html | html }}
                    {%- endif-%}
                  {%-endif-%}
                </div>
              </div>
            </div>
          </li>
        {%-when 'coll_image'-%}
          {%-assign menu_handle = block.settings.menu_links-%}
          <li class="mn-lv1 mn-i i-megamn mn-has-child{%if link_active == block.settings.button_link%} active{%endif%} item-{{block.id}}{%if block.settings.menu_links_width == '100vw'%} f-width{%endif%}" data-block="collection_image" {{ block.shopify_attributes }}>
            <a href="{{block.settings.button_link| default: '#'}}">
              <span>
                {%- if block.settings.icon_font != blank -%}
                  <i class="{{block.settings.icon_font}}"></i>
                {%- endif -%}
                {{block.settings.name_item | default: linklists[menu_handle].title}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu {{block.settings.label|handleize}}" style="background-color:{{block.settings.color|default: 'transparent'}}">
                  {{block.settings.label|capitalize}}
                </span>
                {%-endif-%}
              </span>
            </a>
            {%-if linklists[menu_handle].links.size > 0-%}
            <div class="sub-mn mn-scroll" style="width:{{block.settings.menu_links_width|default: '1200px'}};">
              <div class="d-flex flex-wrap mn-lv2s">
                {%- assign link_handle = linklists[menu_handle].links | map: 'handle' | join: ' '-%}
                {%- assign per = block.settings.menu_links_per_col | plus: 0-%}
                {%-if link_handle contains 'breakcol'-%}
                  {%- assign count = 0-%}
                  {%- for link in linklists[menu_handle].links-%}
                  {%-if count == 0-%}
                  {%- case per -%}
                    {%- when 1 -%}
                      {%- assign per_coll = '' -%}
                    {%- when 2 -%}
                      {%- assign per_coll = ' col-lg-6' -%}
                    {%- when 3 -%}
                      {%- assign per_coll = ' col-lg-4' -%}
                    {%- when 4 -%}
                      {%- assign per_coll = ' col-lg-3' -%}
                    {%- when 5 -%}
                      {%- assign per_coll = ' col-lg-2-10' -%}
                    {%- when 6 -%}
                      {%- assign per_coll = ' col-lg-2' -%}
                  {%- endcase -%}
                  <div class="col-12{{per_coll}}">
                    <ul class="mega-linklist list-unstyled">
                      {%- endif -%}
                      {%- unless link.handle == 'breakcol'-%}
                      <li class="mn-i{%if link.title contains '[title]'%} title_lv1{%endif%}">
                        {%- if link.type == 'collection_link' and link.title contains '[title]' -%}
                        {%- if link.object.image -%}
                        {%- assign image_item = link.object.image -%}
                        {%- elsif link.object.products.first and link.object.products.first.images != empty -%}
                        {%- assign image_item = link.object.products.first.featured_image -%}
                        {%- endif -%}
                        {%- assign width = image_item.width | default: 550.00 -%}{%-assign height = image_item.height | default: 550.00 | plus: 0.00-%}
                        <a href="{{ collection.url }}" class="img__banner mb-1i lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}% !important;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name}}"{% if image_item == blank %} title="550x550 px"{% endif %}></a>                            
                        {%- endif -%}
                        <a href="{{link.url}}">{%-render 'kt_menu-title', link: link -%}</a>
                      </li>
                      {%- if link.links.size > 0 -%}
                      {%- for sub_link in link.links -%}
                      <li class="mn-i{%if link.active%}active{%endif%}">
                        <a href="{{ sub_link.url }}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                      </li>
                      {%if sub_link.links.size > 0%}
                      {% for sub_sub_link in sub_link.links %}
                      <li class="mn-i">
                        <a href="{{ sub_sub_link.url }}">{%-render 'kt_menu-title', link: sub_sub_link -%}</a>
                      </li>                    
                      {%- endfor -%}
                      {%- endif -%}
                      {%- endfor -%}
                      {%- endif -%}
                      {%- endunless -%}
                      {%- if forloop.last or link.handle == 'breakcol'-%}
                    </ul>
                  </div>
                  {%- assign count = 0-%}
                  {%- else-%}
                  {%- assign count = count | plus: 1-%}
                  {%- endif-%}
                  {%- endfor-%}
                {%-elsif per >= 1 -%}
                  {%- assign count = 0-%}
                  {%- for link in linklists[menu_handle].links-%}
                  {%- if block.settings.menu_links_per_col != '1'-%}
                  {%- assign size = linklists[menu_handle].links.size  | plus: 0-%}
                  {%- assign size_per = size | divided_by: per | ceil-%}
                  {%- assign breakline = size_per-%}
                  {%- endif-%}
                  {%- case per -%}
                    {%- when 1 -%}
                      {%- assign per_coll = '' -%}
                    {%- when 2 -%}
                      {%- assign per_coll = ' col-lg-6' -%}
                    {%- when 3 -%}
                      {%- assign per_coll = ' col-lg-4' -%}
                    {%- when 4 -%}
                      {%- assign per_coll = ' col-lg-3' -%}
                    {%- when 5 -%}
                      {%- assign per_coll = ' col-lg-2-10' -%}
                    {%- when 6 -%}
                      {%- assign per_coll = ' col-lg-2' -%}
                  {%- endcase -%}
                  {%-if count == 0 -%}
                  <div class="col-12{{per_coll}}">
                    <ul class="mega-linklist list-unstyled">
                      {%- endif-%}                    
                      <li class="mn-i{%if link.title contains '[title]'%} title_lv1{%endif%}">
                        {%- if link.type == 'collection_link' and link.title contains '[title]' -%}
                        {%- if link.object.image -%}
                        {%- assign image_item = link.object.image -%}
                        {%- elsif link.object.products.first and link.object.products.first.images != empty -%}
                        {%- assign image_item = link.object.products.first.featured_image -%}
                        {%- endif -%}
                        {%- assign width = image_item.width | default: 550.00 -%}{%-assign height = image_item.height | default: 550.00 | plus: 0.00-%}
                        <a href="{{ collection.url }}" class="img__banner mb-1i lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}% !important;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name}}"{% if image_item == blank %} title="550x550 px"{% endif %}></a>                            
                        {%- endif -%}
                        <a href="{{link.url}}">{%-render 'kt_menu-title', link: link -%}</a>
                      </li>
                      {%- if link.links.size > 0 -%}
                      {%- for sub_link in link.links -%}
                      <li class="mn-i{%if link.active%}active{%endif%}">
                        <a href="{{ sub_link.url }}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                      </li>
                      {%if sub_link.links.size > 0%}
                      {% for sub_sub_link in sub_link.links %}
                      <li class="mn-i">
                        <a href="{{ sub_sub_link.url }}">{%-render 'kt_menu-title', link: sub_sub_link -%}</a>
                      </li>                    
                      {%- endfor -%}
                      {%- endif -%}
                      {%- endfor -%}
                      {%- endif -%}
                      {%-if forloop.last or count == breakline-%}
                    </ul>
                  </div>
                  {%- assign count = 0 -%}
                  {%- else -%}
                  {%- assign count = count | plus: 1 -%}
                  {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
          </li>
        {%-when 'parent'-%}
          {%-assign menu_link = block.settings.button_link-%}
          <li class="mn-lv1 mn-i i-megamn mn-has-child{%if link_active == menu_link%} active{%endif%} item-{{block.id}}{%if block.settings.menu_links_width == '100vw'%} f-width{%endif%}" data-block="parent" {{ block.shopify_attributes }}>
            <a href="{{menu_link| default: '#'}}">
              <span>{{block.settings.title_i | default: 'menu item'}}
                {%-if block.settings.label != "" -%}
                <span class="label-menu _{{block.settings.label|handleize}}"><span>{{block.settings.label}}</span></span>
                {%-endif-%}
              </span>        
            </a>
            <div style="width:{{block.settings.menu_links_width|default: '1200px'}};" class="sub-mn mn-scroll">
                <div class="d-flex flex-wrap mn-lv2s">
                {%- for block in section.blocks offset: forloop.index -%}
                {%-unless types_child contains block.type -%}{%-break-%}{%-endunless-%}
                {%-case block.type-%}
                  {%-when 'linklist'-%}
                    {%- assign special_list =  block.settings.special_items | split: ','-%}
                    <div class="col-lg-{{block.settings.sub_width}}{%if block.settings.sub_width == 12 and forloop.index != 1%} mt-3{%endif%}" data-type="{{block.type}}" {{ block.shopify_attributes }}>
                      {%- if block.settings.title_i != blank -%}
                        <div class="mn-i title_lv1 m-1 mb-0i"><a href="#">{{block.settings.title_i}}</a></div>
                      {%- endif -%}
                      <div class="row">
                      {%-assign menu_handle = block.settings.menu_links-%}
                      {%- assign link_handle = linklists[menu_handle].links | map: 'handle' | join: ' '-%}
                      {%-if link_handle contains 'breakcol'-%}
                      {%- assign count = 0-%}
                      {%- assign per = block.settings.menu_links_per_col | plus: 0-%}
                      {%- for link in linklists[menu_handle].links-%}
                      {%- if count == 0-%}
                      <div class="col-12{%if per == 2%} col-lg-6{%elsif per == 3%} col-lg-4{%elsif per >= 4%} col-lg-3{%endif%}">
                        <ul class="mega-linklist list-unstyled">
                          {%- endif -%}
                          {%- unless link.handle == 'breakcol'-%}
                          <li class="mn-i{% if link.title contains '[title]' or link.handle == 'breakline'%} title_lv1{% endif %}{%if special_list contains forloop.index %} dropdown-item-lead{%endif%}"{%if link.handle == 'breakline'%} style="opacity: 0; pointer-events: none;"{%endif%}>
                            <a href="{{ link.url }}">{%-render 'kt_menu-title', link: link -%}</a>
                          </li>
                          {%- if link.links.size > 0-%}
                            {%-for sub_link in link.links-%}
                              {%-if sub_link.handle == 'breakline'-%}
                                <li style="height: 41px;display:block;width: 100%;"></li>
                              {%-else-%}
                                <li class="mn-i">
                                  <a href="{{sub_link.url}}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                                </li>
                              {%-endif-%}
                            {%-endfor-%}
                          {%- endif-%}
                          {%-endunless-%}
                          {%-if forloop.last or link.handle == 'breakcol'-%}
                        </ul>
                      </div>
                      {%- assign count = 0-%}
                      {%- else-%}
                      {%- assign count = count | plus: 1-%}
                      {%- endif-%}
                      {%- endfor-%}
                      {%-else-%}
                      
                      {%- assign count = 0-%}
                      {%- assign per = 0-%}
                      {%- if block.settings.menu_links_per_col != '1'-%}
                      {%- assign size = linklists[menu_handle].links.size  | plus: 0-%}
                      {%- assign per = block.settings.menu_links_per_col | plus: 0-%}
                      {%- assign size_per = size | divided_by: per | ceil-%}
                      {%- assign breakline = size_per | minus: 1-%}
                      {%- endif-%}
                      {%- for link in linklists[menu_handle].links-%}
                      
                      {%-if count == 0 -%}
                      <div class="col-12{%if per == 2%} col-lg-6{%elsif per == 3%} col-lg-4{%elsif per >= 4%} col-lg-3{%endif%}">
                        <ul class="mega-linklist list-unstyled">
                          {%- endif-%}
                          <li class="mn-i{% if link.title contains '[title]' %} title_lv1{% endif %}">
                            <a href="{{ link.url }}">{%-render 'kt_menu-title', link: link -%}</a>
                          </li>
                          {%- if link.links > 0-%}
                          {%-for sub_link in link.links-%}
                          <li class="mn-i">
                            <a href="{{sub_link.url}}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                          </li>
                          {%-endfor-%}
                          {%- endif-%}
                          {%-if forloop.last or count == breakline-%}
                        </ul>
                      </div>
                      {%-assign count = 0-%}
                      {%-else-%}
                      {%-assign count = count | plus: 1-%}
                      {%-endif-%}
                      {%- endfor-%}
                      {%- endif-%}
                    </div>
                    </div>
                  {%-when 'product'-%}
                    <div class="col-lg-{{block.settings.sub_width}}{%if block.settings.sub_width == 12 and forloop.index != 1%} mt-3{%endif%}" data-section-id="{{ block.id }}" id="Swiper-{{ block.id }}" data-section-type="swiper-section" data-type="{{block.type}}" {{ block.shopify_attributes }}>
                      {%- if block.settings.title_i != blank -%}                        
                        <div class="mn-i title_lv1 mb-1"><a href="{{collections[block.settings.products].url | default :'#'}}">{{block.settings.title_i}}<i class="fkt-angle-right pl-1 pr-1"></i></a></div>
                      {%- endif -%}
                      {%- if block.settings.products != blank -%}
                      {% assign grid_ly = block.settings.product_grid_layout | default: st_card[3]  %}
                      {%- assign responsive_ = block.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
                      {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 | floor -%}
                      <div class="swiper-container-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
                        <div class="products-card-grid p-style-{{grid_ly}} swiper-container swiper-container-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block.id}}" data-next-el=".sw-btn-next-{{block.id}}" data-pagination=".swiper-pagination-{{block.id}}">
                          <div class="swiper-wrapper">
                            {%-for product in collections[block.settings.products].products limit: block.settings.limit-%}
                            <div class="swiper-slide grid-item">
                              {%- render "product-grid-item", product: product, grid_layout: grid_ly, st_card: st_card -%}
                            </div>
                            {%-endfor %}
                          </div>
                          {%- if block.settings.use_dots -%}
                          <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block.id}}"></div>
                          {%- endif -%}
                          {%- if block.settings.use_navigation -%}
                          <div class="swiper-buttons position-absolute"{% if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left' %} style="margin-top: -4.6rem" {%endif%}>
                            <div class="content-buttons position-relative">
                              <div class="swiper-button-prev sw-btn-prev-{{block.id}} fkt-2x fkt-va"></div>
                              <div class="swiper-button-next sw-btn-next-{{block.id}} fkt-2x fkt-va"></div>
                            </div>
                          </div>
                          {%- endif -%}
                        </div>
                      </div>
                      {%- endif -%}
                    </div>
                  {%-when 'collections'-%}
                    {%-assign menu_handle = block.settings.menu_links-%}
                    {%- assign linklist_size = linklists[menu_handle].links | where: 'handle', 'breakcol' | size -%}
                    {%- assign linklist_size = linklists[menu_handle].links.size | minus: linklist_size  -%}
                    {%- case linklist_size -%}
                      {%- when 1 -%}
                        {%-assign colitem = ''-%}
                      {%- when 2 -%}
                        {%-assign colitem = ' col-lg-6'-%}
                      {%- when 3 -%}
                        {%-assign colitem = ' col-lg-4'-%}
                      {%- when 4 -%}
                        {%-assign colitem = ' col-lg-3'-%}
                      {%- when 5 -%}
                        {%-assign colitem = ' col-lg-2-10'-%}
                      {%- else -%}
                        {%-assign colitem = ' col-lg-3'-%}
                    {%- endcase -%}
                    <div class="col-lg-{{block.settings.sub_width}}{%if block.settings.sub_width == 12 and forloop.index != 1%} mt-3{%endif%}" data-type="{{block.type}}" {{ block.shopify_attributes }}>
                      <ul class="row list-unstyled">
                        {%- for link in linklists[menu_handle].links -%}
                        {%- if link.handle == 'breakcol'-%}{%- continue -%}{%- endif -%}
                        <li class="mn-i{{colitem}}{%if child_links.size > 0%} mn-has-child{%endif%} title_lv1 mt-0i">
                          <a href="{{ link.url }}">{%-render 'kt_menu-title', link: link -%}</a>
                          <ul class="mn-lv3s list-unstyled">
                            {%-if link.links.size > 0-%}
                            {%- for sub_link in link.links -%}
                            <li class="mn-i">
                              <a href="{{sub_link.url}}">
                                {%- assign image_item = sub_link.object.image -%}
                                <span class="img_ft lazyload" data-bgset="{%- render 'bgset', image: image_item -%}
                                ">{{sub_link.title | slice: 0}}</span>
                                {%-render 'kt_menu-title', link: sub_link -%}
                              </a>
                            </li>
                            {%-if sub_link.links.size > 0-%}
                            {%- for sub_sub_link in sub_link.links -%}
                            <li class="mn-i">
                              <a href="{{sub_sub_link.url}}">
                                {%- assign image_item = sub_sub_link.object.image -%}
                                <span class="img_ft lazyload" data-bgset="{%- render 'bgset', image: image_item -%}
                                ">{{sub_sub_link.title | slice: 0}}</span>
                                {%-render 'kt_menu-title', link: sub_sub_link -%}
                              </a>
                            </li>
                            {%-endfor-%}
                            {%-endif-%}
                            {%-endfor-%}
                            {%-endif-%}
                          </ul>
                        </li>
                        {%-endfor-%}
                      </ul>
                    </div>
                  {%-when 'banner'-%}
                    <div class="col-lg-{{block.settings.sub_width}}{%if block.settings.sub_width == 12 and forloop.index != 1%} mt-3{%endif%}" data-type="{{block.type}}" {{ block.shopify_attributes }}>
                      {%- if block.settings.title_i != blank -%}
                      <div class="col mn-i title_lv1 mb-1"><a href="#">{{block.settings.title_i}}</a></div>
                      {%- endif -%}
                      {%- if block.settings.menu_links == blank -%}
                        <div class="imgs__banner_template1 position-relative {{block.settings.banner-effect}}">
                          {%- assign image_item = block.settings.image_1 -%}
                          {%-assign width = image_item.width | default: 575.00 -%}{%-assign height = image_item.height | default: 630.00 | plus: 0.00-%}
                          <a href="{{block.settings.image_link_1|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_1 %} title="575x630 px"{% endunless %}></a>
                        </div>
                      {%- else -%}
                        {%-assign menu_handle = block.settings.menu_links-%}
                        {%- assign linklist_size = linklists[menu_handle].links | where: 'handle', 'breakcol' | size -%}
                        {%- assign linklist_size = linklists[menu_handle].links.size | minus: linklist_size  -%}
                        {%- assign count = 0-%}
                        {%- if block.settings.per_col != '1'-%}
                        {%- assign size = linklists[menu_handle].links.size | plus: 0.0-%}
                        {%- assign per = block.settings.per_col | plus: 0.0-%}
                        {%- assign size_per = size | divided_by: per | ceil-%}
                        {%- assign breakline = size_per | minus: 1-%}
                        {%- endif-%}
                        <div class="row justify-content-center">
                        {%- for link in linklists[menu_handle].links-%}
                          <div class="col-12{%if per == 2%} col-lg-6{%elsif per == 3%} col-lg-4{%elsif per == 4%} col-lg-3{%elsif per == 5%} col-lg-2-10{%elsif per == 6%} col-lg-2{%endif%}">
                            <div class="mn-i {{block.settings.banner-effect}}">
                              <a class="p-0i mb-2" href="{{link.url}}">
                                {%- assign featured_image = images[link.title] -%}
                                {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <img width="{{featured_image.width}}" height="{{featured_image.height}}" class="lazyload mll-lz" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_url }}" data-widths="[240, 360, 540]" data-aspectratio="{{ featured_image.aspect_ratio }}" data-sizes="auto" alt="{{ featured_image.alt | escape }}" style="padding-bottom:{{featured_image.height | times: 1.00 | divided_by: featured_image.width | times: 100.00000000}}%">
                              </a>
                            </div>
                            {%-if link.links.size > 0-%}
                            <ul class="list-unstyled">
                              {%- for sub_link in link.links -%}
                              <li class="mn-i">
                                <a href="{{sub_link.url}}">{%-render 'kt_menu-title', link: sub_link -%}</a>
                              </li>
                              {%-endfor-%}
                            </ul>
                            {%-endif-%}
                          </div>
                        {%-endfor-%}
                        </div>
                      {%- endif -%}
                    </div>
                  {%-when 'html'-%}
                    <div class="col-lg-{{block.settings.sub_width}}" data-type="{{block.type}}" {{ block.shopify_attributes }}>
                      {%- if block.settings.page_promo_html != blank and pages[block.settings.page_promo_html].title != empty-%}
                        {{ pages[block.settings.page_promo_html].content | html }}
                      {%-else-%}
                        {{ block.settings.textarea_promo_html | html }}
                      {%- endif-%}
                    </div>
                {%-endcase-%}
                {%- endfor -%}
                </div>
            </div>
          </li>
      {%- endcase-%}
    {%- endfor -%}
    {%- else-%}
    {%- for link in linklists[section.settings.main_linklist].links -%}
      <li class="mn-lv1 mn-i{%if link.active%} active{%endif%}{%if link.links.size > 0%} mn-has-child{%endif%}" data-block="standard" {{ block.shopify_attributes }}>
        <a href="{{link.url}}">{%-render 'kt_menu-title', link: link -%}</a>
        {%-if link.links.size > 0-%}
        <ul class="mn-lv2s sub-mn mn-scroll">
          {%-for sub_link in link.links-%}
          <li class="mn-i{%if sub_link.active%} active{%endif%}{%if sub_link.links.size > 0%} drop_to_right mn-has-child{%endif%}">
            <a href="{{ sub_link.url }}">{%-render 'kt_menu-title', link: sub_link -%}</a>
            {%-if sub_link.links.size > 0-%}
            <ul class="mn-lv3s list-unstyled sub-mn">
              {%-for sub_sub_link in sub_link.links-%}
              <li class="mn-i{%if sub_sub_link.active%} active{%endif%}">
                <a href="{{sub_sub_link.url}}">{%-render 'kt_menu-title', link: sub_sub_link -%}</a>
              </li>
              {%-endfor-%}
            </ul>
            {%-endif-%}
          </li>
          {%-endfor-%}
        </ul>
        {%-endif-%}
      </li> 
    {%- endfor-%}
    {%- endif-%}
  </ul>
</div>