{%- capture flashs -%}
{%-if preOrder-%}
<span class="onexclusive pre-order">
  <span class="text">{{'products.product.pre_order'|t}}</span>
</span>
{%-elsif sold_out -%}
<span class="onexclusive sold-out">
  <span class="text">{{'products.product.out_of_stock'|t}}</span>
</span>
{%-endif-%}
{%-if st_card[2] == 'true' and on_sale and sold_out == false-%}
{%-unless product.tags contains 'notsale'-%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign money_save = current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price| round -%}
<!--     <span class="onsale">
      {%- if money_save >= 10 -%}
        <span class="text">{{'products.product.on_sale_percent'| t: money_save: money_save}}</span>
      {%- else -%}
        <span class="text">{{'products.product.on_sale'|t}}</span>
      {%- endif -%}
    </span> -->
<!--   //////////////////////////////////////// activar las vinetas de las colecciones //////////////////////////////////7  -->
<!-- {% for collection in product.collections %}
{% if collection.title == "Felicidades La Paz" %}
{% if collection.metafields.custom.cucardas_img != blank %}
{%- assign image_cucarda = collection.metafields.custom.cucardas_img -%}
  <img class="bajo" src="{{collection.metafields.custom.cucardas_img  | img_url: 'master'}}" >
{% endif %}
{% endif %}
{% endfor %} -->
{% for collection in product.tags %}
{% if collection == "Dia de la amistad" %}
{% assign flag = true %}
{% break %}
{% endif %}  
{% endfor %}
<!-- {% if flag != true %} -->
{%- if money_save >= 20 and money_save < 40 -%}
<span class="onsale30">
  <span class="text">{{'products.product.on_sale_percent'| t: money_save: money_save}}</span>
</span>
{%- else -%}
{%- if money_save >= 40 and money_save < 50-%}
<span class="onsale">
  <span class="text">{{'products.product.on_sale_percent'| t: money_save: money_save}}</span>
</span>
{%- else -%}
{%- if money_save >= 50 -%}
<span class="onsale50">
  <span class="text">{{'products.product.on_sale_percent'| t: money_save: money_save}}</span>
</span>
{%- else -%}
<span class="onsaleoferta">
  <span class="text">{{'products.product.on_sale'|t}}</span>
</span>
{%- endif -%}
{%- endif -%}
{%- endif -%}
<!-- {% endif %} -->
<!--   //////////////////////////////////////////////////////////////////////////  -->
{%-endunless-%}
{%-endif-%}
{% for collection in product.tags %}
{% if collection == "Dia de la amistad" %}
{% assign flag = true %}
{% break %}
{% endif %}  
{% endfor %}
{% if flag != true %}
{%-if st_card[0] == 'true' and on_new and sold_out == false-%}
 <span class="onnew"><span class="text">{{'products.product.new' | t}}</span></span>
{%-endif-%}
{% endif %}
{%- endcapture -%}
{%- if flashs != '' -%}
<div class="flashs">{{flashs | strip_newlines}}</div>
{%- endif -%}


<!-- <style>
.bajo {
    position: absolute;
    top: -8px;
    right: 12%;
    width: 70px;
    z-index: 10;
}

</style> -->