{%- if settings.use_search -%}
{%- if settings.use_search_by_collection -%}
{%- liquid
  if search.terms != blank
    assign searchTerms = search.terms
    for coll_search in collections
      if search.terms contains coll_search.id
        assign isCollection = coll_search.id | append: ' '
        assign searchTerms = search.terms | remove: isCollection
        break
      endif
    endfor    
  endif
-%}
{%-capture searchDrop-%}
<div class="searchDrop select-custom" data-use="{{settings.use_search_by_collection}}">  
  <select class="searchCat">
    <option value="">{{'general.search_dropdown.all'|t}}</option>    
    {%- assign isColleFilter = false -%}
    {%- for link in linklists['list-collections-search'].links -%}
      {%- if link.type != "collection_link" -%}{%-continue-%}{%- endif -%}
      {%- assign coll_search_lv1 = link.object -%}
      <option value="{{coll_search_lv1.id}} "{%if search.terms contains coll_search_lv1.id %}{%-assign isCollection = coll_search_lv1.id | append:'+' -%} selected="selected" {% assign isColleFilter = true %}{% endif %}>{{link.title}}</option>
      {%- for sub_link in link.links -%}
        {%- if sub_link.type != "collection_link" -%}{%-continue-%}{%- endif -%}
        {%- assign coll_search_lv2 = sub_link.object -%}
        <option value="{{coll_search_lv2.id}} "{%if search.terms contains coll_search_lv2.id %}{%-assign isCollection = coll_search_lv2.id | append:'+' -%} selected="selected" {% assign isColleFilter = true %}{% endif %}>- {{sub_link.title}}</option>
        {%- for sub_sub_link in sub_link.links -%}
          {%- if sub_sub_link.type != "collection_link" -%}{%-continue-%}{%- endif -%}
          {%- assign coll_search_lv3 = sub_sub_link.object -%}
          <option value="{{coll_search_lv3.id}} "{%if search.terms contains coll_search_lv3.id %}{%-assign isCollection = coll_search_lv3.id | append:'+' -%} selected="selected" {% assign isColleFilter = true %}{% endif %}>-- {{sub_sub_link.title}}</option>
        {%- endfor -%}
      {%- endfor -%}
    {%- else -%}
      {%-assign collections = collections | sort: 'all_products_count'-%}
      {%- for collection in collections -%}
      <option {%if search.terms contains collection.id %}{%-assign isCollection = collection.id | append:'+' -%} selected="selected" {% assign isColleFilter = true %}{% endif %} value="{{collection.id}} ">{{collection.title}}</option>
      {%- endfor -%}
    {%- endfor -%}
  </select>
</div>
{%-endcapture-%}
{%- endif -%}

{%-case search_style-%}
  {%-when "input-cat-right"-%}
  <form class="box-search input-cat-right d-flex{% if settings.use_search_by_collection %} has_cat_drop{%endif%}" action="{{routes.search_url}}" method="get" autocomplete="off">
    <input type="hidden" name="options[unavailable_products]" value="show">
    <input type="hidden" name="type" value="product{%-if settings.search_type_page-%},page{%-endif-%}{%-if settings.search_type_article-%},article{%-endif-%}">
    <input type="hidden" name="options[prefix]" value="last">
    <input type="text" name="q" value="{{ searchTerms | escape }}" class="search" placeholder="{{ 'general.search.placeholder' | t }}" required>
    {%- if settings.use_search_by_collection -%}
      {{searchDrop}}
    {%- elsif settings.use_search_ajax == false -%}
      <input type="hidden" name="type" value="product{%-if settings.search_type_page-%},page{%-endif-%}{%-if settings.search_type_article-%},article{%-endif-%}">
    {%- endif -%}
    <button type="submit" class="button-search btn btn-primary" aria-label="{{ 'general.search.placeholder' | t }}">
      <svg class="molla-svg-icon" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
    </button>
    <div class="li--s-drop kt--drop-in"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
  </form>
  {%-when "input-cat-left"-%}
  <form class="box-search input-cat-left d-flex{% if settings.use_search_by_collection %} has_cat_drop{%endif%}" action="{{routes.search_url}}" method="get" autocomplete="off">
    <input type="hidden" name="options[unavailable_products]" value="show">  
    <input type="hidden" name="type" value="product{%-if settings.search_type_page-%},page{%-endif-%}{%-if settings.search_type_article-%},article{%-endif-%}">
    <input type="hidden" name="options[prefix]" value="last">
    {%- if settings.use_search_by_collection -%}
      {{searchDrop}}
    {%- endif -%}
    <input type="text" name="q" value="{{ searchTerms | escape }}" class="search" placeholder="{{ 'general.search.placeholder' | t }}" required>
    <button type="submit" class="button-search btn btn-primary" aria-label="{{ 'general.search.placeholder' | t }}">
      <svg class="molla-svg-icon" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
    </button>
    <div class="li--s-drop kt--drop-in"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
  </form>
  {%-when "icon"-%}
  <form class="box-search show-icon kt--drop-i" action="{{routes.search_url}}" method="get" autocomplete="off">  
    <div class="kt--drop-title icon-link li--s_mb" aria-label="Search">    
      <svg class="molla-svg-icon" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
    </div>
    <div class="inner kt--drop-in not_onhover inline">
      <div style="position: relative;">
        <div class="control d-flex flex-nowrap align-items-center">
          <input type="hidden" name="options[unavailable_products]" value="show">        
          <input type="hidden" name="type" value="product{%-if settings.search_type_page-%},page{%-endif-%}{%-if settings.search_type_article-%},article{%-endif-%}">
          <input type="hidden" name="options[prefix]" value="last">
          <input type="text" name="q" value="{{ searchTerms | escape }}" class="search" placeholder="{{ 'general.search.placeholder' | t }}" required>
          <button type="submit" class="button-search btn" aria-label="{{ 'general.search.placeholder' | t }}">
            <svg class="molla-svg-icon" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
          </button>
        </div>
        <div class="li--s-drop"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
      </div>
    </div>
  </form>
  {%-when "show-input"-%}
  <form class="box-search show-input" action="{{routes.search_url}}" method="get" autocomplete="off">
    <div class="inner">
      <div style="position: relative;">
        <div class="control d-flex flex-nowrap align-items-center">
          <input type="hidden" name="options[unavailable_products]" value="show">        
          <input type="hidden" name="type" value="product{%-if settings.search_type_page-%},page{%-endif-%}{%-if settings.search_type_article-%},article{%-endif-%}">
          <input type="hidden" name="options[prefix]" value="last">
          <input type="text" name="q" value="{{ searchTerms | escape }}" class="search" placeholder="{{ 'general.search.placeholder' | t }}" required>
          <button type="submit" class="button-search btn" aria-label="{{ 'general.search.placeholder' | t }}">
            <svg class="molla-svg-icon" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
          </button>
        </div>
        <div class="li--s-drop"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
      </div>
    </div>
  </form>
  {%-when "show-input-line"-%}
  <form class="box-search show-input-line" action="{{routes.search_url}}" method="get" autocomplete="off">
    <div class="inner">
      <div style="position: relative;">
        <div class="control d-flex flex-nowrap align-items-center">
          <input type="hidden" name="options[unavailable_products]" value="show">        
          <input type="hidden" name="type" value="product{%-if settings.search_type_page-%},page{%-endif-%}{%-if settings.search_type_article-%},article{%-endif-%}">
          <input type="text" name="q" value="{{ searchTerms | escape }}" class="search" placeholder="{{ 'general.search.placeholder' | t }}" required>
          <input type="hidden" name="options[prefix]" value="last">
          <button type="submit" class="button-search btn" aria-label="{{ 'general.search.placeholder' | t }}">
            <svg class="molla-svg-icon" viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg>
          </button>
        </div>
        <div class="li--s-drop"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
      </div>
    </div>
  </form>
  {%-when "mobile"-%}
  <form class="box-search mobile-search" action="{{routes.search_url}}" method="get" autocomplete="off">
    <div class="inner w-100">
      <div style="position: relative;">
        <div class="control d-flex flex-nowrap align-items-center">
          <input type="hidden" name="options[unavailable_products]" value="show">        
          <input type="hidden" name="type" value="product{%-if settings.search_type_page-%},page{%-endif-%}{%-if settings.search_type_article-%},article{%-endif-%}">
          <input type="search" class="form-control search" name="q" value="{{ searchTerms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" required>
          <input type="hidden" name="options[prefix]" value="last">
          <button type="submit" class="btn btn-primary button-search" aria-label="{{ 'general.search.placeholder' | t }}">
            <svg class="molla-svg-icon" viewBox="0 0 32 32" style="width: 2.4rem;"><use xlink:href="#icon-search"></use></svg>
          </button>
        </div>
        <div class="li--s-drop"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
      </div>
    </div>
  </form>
{%-endcase-%}
{%- endif -%}