<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="theme-color" content="{{ settings.color_button }}">
  {%- render 'meta-tags' -%}
  <link href="{{'style-speed.css' | asset_url | replace: '?', '?enable_css_minification=1&'}}" rel="stylesheet" type="text/css" media="all">
  {{'style.min.css'|asset_url|stylesheet_tag}}
  {{'theme.min.css'|asset_url|stylesheet_tag}}
  {{'password.css'|asset_url|stylesheet_tag}}
  <link id="custom-css" href="{{'kiti-var.css' | asset_url | replace: '?', '?enable_css_minification=1&'}}" rel="stylesheet" type="text/css" media="all">
  {{ content_for_header }}
  {%- render 'theme_header_js' -%}
</head>

<body class="template-password">    
  <div class="soon">
    {{ content_for_layout }}
  </div>
  <div class="content_for_extension">
    <section id="LoginPasswordModal" class="modal fade" aria-hidden="false" role="dialog" tabindex="-1" data-mobile-display="{{settings.newsletter_popup_hide_mobile}}">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button"><i class="icon-close"></i></button>
          <div class="text-center" style="padding-top: 10rem; padding-bottom: 10rem;">
            <h2 class="password__form-heading mb-3 h4" id="password-modal-heading">{{ 'general.password_page.login_form_heading' | t }}</h2>
              {% form 'storefront_password' %}
                {%- if form.errors -%}
                  <div class="password-form-message form-message form-message--error">
                    {{ form.errors | default_errors }}
                  </div>
                  <script>
                    $('#LoginPasswordModal').modal();
                  </script>
                {%- endif -%}
                <label for="Password" class="d-none">{{ 'general.password_page.login_form_password_label' | t }}</label>
                <div class="input-group mb-5 pl-3 pr-3" style="max-width: 550px;margin-right: auto;margin-left: auto;">
                  <input type="password" name="password" id="Password" class="form-control bg-transparent mr-2" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" style="margin-right: 1rem;">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><span>{{ 'general.password_page.login_form_submit' | t }}</span></button>
                  </div>
                </div>
              {% endform %}
            <p>{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>  
  <script src="{{'jquery-3.6.0.min.js' | asset_url }}"></script>
  <script src="{{'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{'theme_footer_js.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  {%- render 'googleRich' -%}
</body>
</html>
