<!-- cart-template.liquid -->
{%- liquid
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}
<div class="{{section.settings.width_section}} cart-container{% if cart.item_count == 0 %} cart-empty_{% endif %}" data-section-id="{{ section.id }}" data-section-type="cart-template">
  <div class="content_{{section.id}}">   
    <div class="section-width{%if section.settings.width_content and section.settings.width_section == 'w-100'%} container{%else%} w-100{%endif%}">
      {%-render 'kt_breadcrumb'-%}
      <div class="border-top mb-2" style="opacity: .3;"></div>
      <div class="cart main-content pb-6">
        <div class="row cart-has-content">
          {%- if settings.countdown_cart and cart.item_count > 0 -%}
          <div class="col-12 mb-1">
            <div class="cart-notification alert alert-warning alert-dismissible fade show" role="alert">
              {{settings.countdown_cart_text|html}}
            </div>
          </div>
          <script>
            let settMinutes = 60 * {{settings.countdown_cart_minutes}}, time = parseInt(sessionStorage.getItem('cartTime')), display = document.querySelector('#timer_count');
            function startTimer(duration, display) {
              let timer = duration, minutes, seconds;
              let countdown = setInterval(function () {
                  minutes = parseInt(timer / 60, 10)
                  seconds = parseInt(timer % 60, 10);
                  minutes = minutes < 10 ? minutes : minutes;
                  seconds = seconds < 10 ? "0" + seconds : seconds;
                  display.textContent = minutes + ":" + seconds;
                  let calc = 60 * parseInt(timer / 60, 10) + parseInt(timer % 60, 10);
                  sessionStorage.setItem('cartTime', calc);
                  if (--timer < 0) {
                    window.clearInterval(countdown);
                    display.textContent = "0:00";
                  }
              }, 1000);
            };
            if (time > 0) {startTimer(time, display);}
            else {startTimer(settMinutes, display)}
          </script>
          {%- endif -%}
          {% if cart.item_count > 0 %}
          <div class="col-12 col-lg-9 product-item">
            <form id="cart-form" action="{{routes.cart_url}}" method="post" novalidate data-ajax="{{settings.ajax_cart_page|json}}">
              <table class="table table-cart mt-1">
                <thead>
                  <tr>
                    <th>{{ 'cart.label.product' | t }}</th>
                    <th>{{ 'cart.label.price' | t }}</th>
                    <th>{{ 'cart.label.quantity' | t }}</th>
                    <th>{{ 'cart.label.total' | t }}</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {%- assign gift_wrap = false -%}
                  {%- for item in cart.items -%}
                  {%- if settings.use_gift_wrapping and item.product.handle == settings.gift_wrap_product -%}{%- assign gift_wrap = item -%}{%-continue-%}{%- endif -%}
                  <tr class="mb-2 mb-md-0">
                    <td class="product-col">
                      <div class="product w-100 d-flex align-items-start align-items-md-center">
                        
                        <figure class="product-media">
                          <a href="{{ item.url }}">
                            
                            {%- if item.image != null -%}
                              <img class="cart__image" alt="{{ item.title | escape |strip_html }}" src="{{ item.image | img_url: '104x120', crop:'center' }}">
                            {%- else-%}                  
                              {% render "product-img-nulo" %}
                            {%- endif -%}
                            
                          </a>
                        </figure>
                        
                        <div class="cart__meta">
                          <h3 class="product-title">
                            <a href="{{ item.url }}">{{ item.product.title }}</a>
                          </h3>
                          {% unless item.variant.title contains 'Default' %}
                          <div class="cart__meta-text">
                            {% for option in item.product.options %}
                            {{ option }}: {{ item.variant.options[forloop.index0] }}<br>
                            {% endfor %}
                          </div>
                          {% endunless %}
                          {%- assign property_size = item.properties | size -%}
                          {% if property_size > 0 %}
                            <div class="cart__meta-text">
                              {% for p in item.properties %}
                                {% unless p.last == blank %}
                                    {% if p.last contains 'h5' %}
                                      <div class="bundle_properties">{{ p.first }}: {{ p.last}}</div>
                                    {% else %}
                                  {{ p.first }}:
                                  {% if p.last contains '/uploads/' %}
                                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                  {% else %}
                                    {{ p.last}}                    
                                  {% endif %}
                                  {% endif %}
                                {% endunless %}
                              {% endfor %}
                            </div>
                          {% endif %}
                          <div class="cart__meta-price d-md-none">
                            <span>{{ item.line_price | money }}</span>
                              {% if item.line_level_discount_allocations.size > 0 %}
                            <div class="text-nowrap; display: inline-grid;">
                            {% for discount_allocation in item.line_level_discount_allocations %}
                              <span style="color: #00A01A; font-weight: 400; font-size: 12px;">        
                                   {{ discount_allocation.discount_application.title }}   
                              </span>
                              <span style="color: #00A01A; font-weight: 400; font-size: 12px;">(-{{ discount_allocation.amount | money }})</span>
                            {%- endfor -%}
                           </div>
                          {% endif %}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="price-col">
                      {{ item.original_price | money }}
                    </td>
                    <td class="quantity-col quantity">
                      <div class="cart-product-quantity">
                        <div class="input-group input-spinner">
                          <div class="input-group-prepend">
                            <button style="min-width: 26px" class="btn btn-decrement btn-spinner qtyminus" type="button"><i class="fkt-minus"></i></button>
                          </div>
                          <input type="text" data-step="1" name="updates[{{ item.id }}]" value="{{ item.quantity }}" data-min="0" class="form-control input-qty" size="4" pattern="[0-9]*" style="text-align: center">
                          <div class="input-group-append">
                            <button style="min-width: 26px" class="btn btn-increment btn-spinner qtyplus" type="button"><i class="fkt-plus"></i></button>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="total-col">
                      <span>{{ item.original_line_price | money }}</span>
                     {% if item.line_level_discount_allocations.size > 0 %}
                            <div class="text-nowrap">
                            {% for discount_allocation in item.line_level_discount_allocations %}
                              <span style="color: #00A01A; font-weight: 400; font-size: 12px;">        
                                   {{ discount_allocation.discount_application.title }}   
                              </span>
                              <span style="color: #00A01A; font-weight: 400; font-size: 12px;">(-{{ discount_allocation.amount | money }})</span>
                            {%- endfor -%}
                           </div>
                          {% endif %}
                    </td>
                    <td class="remove-col">
                      <a href="{{routes.cart_change_url}}?line={{ forloop.index }}&amp;quantity=0" class="btn-remove" title="{{ 'cart.general.remove' | t }}">
                        <i class="fkt-close" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                  {%- endfor -%}
                </tbody>
              </table>
              <div class="cart-bottom mb-2i">
                {% if settings.cart_notes_enable %}
                <div class="cart-note w-100">
                  <div class="input-group">
                    <textarea rows="3" name="note" class="form-control" placeholder="{{'cart.general.note'|t}}">{{ cart.note }}</textarea>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="cart-bottom mb-2i row">
                {%- if settings.use_gift_wrapping and settings.gift_wrap_product != blank -%}
                {%- assign gift_prd = all_products[settings.gift_wrap_product] -%}
                <div id="is-a-gift" class="col-12">
                  <input type="hidden" name="updates[{{ gift_wrap.id | default: gift_prd.selected_or_first_available_variant.id }}]" value="{%-if gift_wrap-%}1{%-else-%}0{%-endif-%}" id="gift-wrap_product">
                  <div class="row align-items-center">
                    {%- if gift_wrap != false -%}
                      <div class="col p-gift-image">
                        {{gift_wrap.variant.featured_image | img_url: '240x' | img_tag }}
                      </div>
                    {%- endif -%}
                    <div class="col">
                      {%- if gift_wrap == false -%}
                      <div class="custom-control custom-checkbox{%if gift_prd.has_only_default_variant == false%} kt__edit-opts{%endif%}" data-view="{{ gift_prd.url }}" data-vrid="{{gift_wrap.id | default: gift_prd.selected_or_first_available_variant.id}}" data-pid="{{gift_prd.id}}" data-qty="1">
                        <input type="checkbox" name="attributes[gift-wrapping]" class="custom-control-input" id="gift-wrapping">
                        {%- assign p-gift-price = gift_wrap.price | default: gift_prd.selected_or_first_available_variant.price | money -%}
                        <label class="custom-control-label" for="gift-wrapping">{{'cart.gift_wrap.notices_html' | t | replace : '#money', p-gift-price}}</label>
                      </div>
                      {%- endif -%}
                      <div class="p-gift-info">
                        {%- if gift_wrap != false -%}
                          <h3 class="p-gift-title">{{ gift_prd.title }}
                            {%-if gift_prd.has_only_default_variant == false-%} - <span class="p-gift-variant kt__edit-opts" data-view="{{ gift_prd.url }}" data-vrid="{{gift_wrap.id | default: gift_prd.selected_or_first_available_variant.id}}" data-pid="{{gift_prd.id}}" data-qty="1">{{ gift_wrap.variant.title }}<i class="fkt-edit" aria-hidden="true"></i></span>{%-endif-%}
                          </h3>
                          <span class="p-gift-price text-primary">{{ gift_wrap.original_price | money }}</span>
                          {%- if settings.ajax_cart_page -%}
                            <label class="label-for-checkbox remove" for="gift-wrapping">
                              <input name="attributes[gift-wrapping]" type="checkbox" class="input-checkbox d-none" id="gift-wrapping"{% if gift_wrap != false %} checked="checked"{%endif%}>
                              <p class="m-0">{{'cart.general.remove'|t }}</p>
                            </label>
                          {%-else-%}
                            <a href="{{routes.cart_change_url}}?line={{ cart.count | plus: 1 }}&amp;quantity=0" class="remove" title="{{ 'cart.general.remove' | t }}">
                              <p class="m-0">{{'cart.general.remove'|t }}</p>
                            </a>
                          {%-endif-%}
                        {%-endif-%}
                      </div>
                    </div>
                  </div>
                  {%- if gift_wrap != false and settings.use_gift_message-%}
                  <div class="form-group mt-1">
                    <textarea name="attributes[gift-note]" class="form-control" id="gift-note" placeholder="{{'cart.gift_wrap.input_placeholder'|t }}" rows="3" style="min-height: auto;">{{cart.attributes.gift-note}}</textarea>
                  </div>
                  {%-endif-%}
                </div>
                {%- endif -%}
                {%- unless settings.ajax_cart_page -%}
                <div class="col-12 col-md-auto ml-auto">
                  <button type="submit" class="btn btn-outline-dark-2"><span>{{ 'cart.general.update' | t }}</span><i class="fkt-refresh"></i></button>
                </div>
                {%- endunless -%}
              </div>
            </form>
            <div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;background-color: {{settings.color_primary}};animation-duration: 0.5s;"></div></div>
          </div>
          <aside class="col-lg-3">
            <div class="summary summary-cart">
              <h3 class="summary-title">{{'cart.summary_box.title'|t}}</h3>
              <table class="table table-summary">
                <tbody>
                  <tr class="summary-subtotal">
                    <td>{{'cart.summary_box.subtotal'|t}}:</td>
                    <td><span class="cartCost" data-price="{{ cart.total_price }}">{{ cart.original_total_price | money }}</span></td>
                  </tr>
                  <!-- Cart level discounts -->                  
                  <tr class="summary-discounts {% unless cart.cart_level_discount_applications != blank %} d-none{% endunless %}">
                    {%- if cart.cart_level_discount_applications != blank -%}
                    <td>{{'cart.summary_box.discount'|t}}:</td>
                    <td class="text-nowrap">
                    {%- for discount_application in cart.cart_level_discount_applications -%}
                      <span>-{{ discount_application.total_allocated_amount | money }}</span>
                      <span class="question_mark position-relative"> (?)
                        <div class="info-discount position-absolute text-uppercase">
                          {{ discount_application.title }}
                        </div>
                      </span>
                    {%- endfor -%}
                    </td>
                    {%- endif -%}
                  </tr>
                  <!-- Final cart total -->
                  {%- if settings.shipping_calculator -%}
                  {%- capture currAddress -%}{{cart.attributes.theme_shipping}}{%- endcapture -%}
                  {%- assign currAddress = currAddress | replace:'&quot;','"' |split:','-%}
                  {%- assign zipcode = currAddress[0]| split: '{"zip":"'|last|remove:'"' -%}
                  {%- assign country = currAddress[1]| split: '"country":"'|last|remove:'"' -%}
                  {%- assign province = currAddress[2]| split: '"province":"'|last|remove:'"}' -%}
                  <tr class="summary-shipping">
                    <td colspan="2">
                      <span>{{'cart.summary_box.shipping_title'|t}}:</span>
                      {{ 'style.css' | asset_url }}asda
                    </td>
                  </tr>
                  <tr class="summary-shipping-row content__shipping" style="display: none"></tr>
                  <tr class="summary-shipping-estimate">
                    <td colspan="2">
                      {{'cart.summary_box.estimate_title'|t}}<br>
                      <div class="address address__shipping">
                        {%- if cart.attributes.theme_shipping -%}
                          {{zipcode}}, {%if province != country %}{{province}}, {%endif%} {{country}}
                        {%- endif -%}
                      </div>
                      <a href="#" onclick="$('.wrapper__shipping').toggle()">{{'cart.summary_box.change_address'|t}}</a>
                    </td>
                  </tr>
                  <tr class="wrapper__shipping"{% if cart.attributes.theme_shipping %} style="display: none" {%endif%}>
                    <td colspan="2">
                      <div class="get__shipping"{%if currAddress.size == 3 %} data-curr-address='{{cart.attributes.theme_shipping | replace:'&quot;','"'}}'{%endif%} data-load="onload">
                        <div class="form-row">
                          <div class="form-group col-12">
                            <label for="address_country" class="d-none">{{'cart.shipping_box.country'|t}}</label>
                            <select class="form-control" id="address_country" name="address[country]"{%if currAddress.size == 3%} data-default="{{country}}"{%endif%}></select>
                          </div>
                          <div class="form-group col-12"{%unless currAddress.size == 3 and zipcode != '1'%} style="display: none"{%endunless%}>
                            <label for="address_province" class="d-none">{{'cart.shipping_box.province'|t}}</label>
                            <select class="form-control" id="address_province" name="address[province]"{%if currAddress.size == 3%} data-default="{{province}}"{%endif%}></select>
                          </div>
                          <div class="form-group col-8">
                            <label for="address_zip" class="d-none">{{'cart.shipping_box.zip_code'|t}}</label>
                            <input type="text" class="form-control" id="address_zip" name="address[zip]" value="{{zipcode}}" placeholder="Zip/Postal Code" required="">
                          </div>
                          <div class="form-group col-4">
                            <div class="calculate__shipping btn btn-outline-primary-2 btn-minwidth-auto w-100" data-toggle="tooltip" data-placement="top" title="{{'cart.shipping_box.button_calculate_tooltip'|t}}">{{'cart.shipping_box.button_calculate'|t}}</div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {%- endif -%}
                  <tr class="summary-total afterShip">
                    <td class="text-primary">{{'cart.general.cart_totals'|t}}: </td>
                    <td><span class="text-primary cartCostTotal plus_shipping">{{ cart.total_price | money }}</span></td>
                  </tr>
                </tbody>
              </table>
              {%- if settings.text_above_cart_page != blank -%}
                <p class="font-italic mb-1">{{ settings.text_above_cart_page | html }}</p>
              {%- endif -%}
              {%- if settings.use_threshold_in_page -%}
              {% assign shipping_above = settings.free_shipping_above|remove:'.' | plus: 0 %}
              {%- if settings.free_shipping_above_prd != blank -%}
                {%- assign shipping_above = all_products[settings.free_shipping_above_prd].price -%}
              {%- endif -%}
              <div class="spendFreeShip{%if cart.total_price >= shipping_above%} congratulations{%endif%}">
                <div class="progress mt-0i">
                  {% assign percent = cart.total_price | times: 1.0 | divided_by: shipping_above | times: 100.0 %}
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{percent}}%;" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="{{shipping_above}}"></div>
                </div>
                <div class="text_progress">
                  {%- assign shipping_above_html = shipping_above | money -%}
                  {%- if settings.threshold_layout == 'add_more' -%}
                    {%- assign shipping_above_html = shipping_above | minus: cart.total_price | money -%}
                  {%- endif -%}
                  <span{%if settings.threshold_layout == 'add_more'%} class="add_more_price"{%endif%}>{{'products.shipping_threshold.spend_text_html' | t: shipping_above: shipping_above_html}}</span>
                  <span>{{'products.shipping_threshold.congratulations' | t }}</span>
                </div>
              </div>
              {%- endif -%}
              {%- assign checkout_url = routes.root_url | append: '/checkout?step=contact_information' | replace: '//', '/' -%}
              <form action="{{checkout_url}}" method="post" novalidate>
                <input type="hidden" name="discount" class="form-control" id="coupon_code" value="{{cart.attributes.discount}}" placeholder="{{ 'cart.discount_box.input_placeholder' | t }}">
                {%- if settings.terms_conditions -%}
                <div class="agree_checkbox has-item"{%unless cart.item_count > 0%} style="display:none"{%endunless%}>
                  <label class="label-for-checkbox" style="font-size: 1.3rem;">
                    <input type="checkbox" name="checkbox" class="input-checkbox kt_agree" data-layout="checkout">
                    {{settings.terms_and_privacy_conditions|replace: '<p>','<p class="m-0" style="display: inline">'|html}}
                  </label>
                </div>
                {%- endif -%}
                <div class="clearfix kt_agree_swich" data-layout="checkout">
                  <button type="submit" class="btn btn-primary btn-shadow btn-order btn-block">{{ 'cart.general.checkout' | t }}</button>
                  {% if additional_checkout_buttons %}
                  <div class="additional-checkout-buttons mt-2">{{ content_for_additional_checkout_buttons }}</div>
                  {% endif %}
                </div>
                
              </form>
            </div>
            <a href="{{routes.root_url }}" class="btn btn-outline-dark-2 btn-block mb-3"><span>{{ 'cart.general.continue_shopping' | t }}</span><i class="fkt-arrow-right"></i></a>
          </aside>
          {% endif %}
        </div>        
        <div class="text-center cart-empty-content{% if cart.item_count > 0 %} d-none{%endif%}">
          <div class="imgKT"><img class="mx-auto my-5" src="https://cdn.shopify.com/s/files/1/0588/1380/8845/files/emptycart.png?v=1651671368" alt="" style="max-width: 200px"></div>
          <p class="cart-empty">{{ 'cart.general.empty_page' | t }}</p>
          <div class="empty-cart-text mb-3">{{ 'cart.general.guest_note_html' | t }}</div>
          <p class="return-to-shop"><a href="/" class="btn btn-outline-primary wc-backward mb-3">{{ 'cart.general.continue_shopping' | t }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "header",
        "content": "Content settings"
      }
    ]
  }
{% endschema %}