<!-- footer_06.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.settings.use_footer -%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-render 'sc_css', bgcl: settings.footer_background_color -%}
<footer class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="footer content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">     
    <div class="section-width {{width_content_}}">
      <div class="footer-middle">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget-about">
              <h4 class="widget-title">{{section.settings.title_info}}</h4>
              <div class="w-100">
                <p>{{section.settings.info_content}}</p>
                <div class="social-icons">
                  <div class="socials_ style-02">
                    {%-render "kt_socials"-%}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">{{section.settings.title_1}}</h4>
              <ul class="widget-list list-unstyled">
                {%-for link in linklists[section.settings.footer_link_1].links -%}
                <li><a href="{{ routes.root_url | replace: '/', ''}}{{link.url}}">{{link.title}}</a></li>
                {%-endfor-%}
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">{{section.settings.title_2}}</h4>                  
              <ul class="widget-list list-unstyled">
                {%-for link in linklists[section.settings.footer_link_2].links -%}
                <li><a href="{{ routes.root_url | replace: '/', ''}}{{link.url}}">{{link.title}}</a></li>
                {%-endfor-%}
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">{{section.settings.title_3}}</h4>                  
              <ul class="widget-list list-unstyled">
                {%-for link in linklists[section.settings.footer_link_3].links -%}
                <li><a href="{{ routes.root_url | replace: '/', ''}}{{link.url}}">{{link.title}}</a></li>
                {%-endfor-%}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row">
          <div class="col-12 mb-3 pt-3 text-center">
            {% if section.settings.payment_image != blank %}
            <figure class="footer-payments">
              <a href="{{section.settings.payment_url|default: '#'}}">
                <img width="{{section.settings.payment_image.width}}" height="{{section.settings.payment_image.height}}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{section.settings.payment_image|img_url:'master'}}" alt="{{section.settings.payment_image.alt}}" style="margin-left: auto;margin-right: auto;">
              </a>
            </figure> 
            {%- else -%}
            {% comment %}{% assign enabled_payment_types = 'american_express, apple_pay, diners_club, discover, google_pay, jcb, master, paypal, shopify_pay, venmo, visa, ' | remove: ' ' | split: ',' %}{% endcomment %}
            {%- assign enabled_payment_types = shop.enabled_payment_types -%}
            {%- for type in enabled_payment_types -%}
              {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
            {%- endfor -%}
            {% endif %}
          </div>
          <div class="col-12 logo mb-2 p-0 text-center">
            {% if section.settings.logo_footer %}
            {%- capture image_width -%}{{ section.settings.logo_footer_max_width}}{%- endcapture -%}
            {%- capture image_size -%}{{ section.settings.logo_footer_max_width }}x{%- endcapture -%}
            {%- capture image_size2x -%}{{ section.settings.logo_footer_max_width }}x@2x{%- endcapture -%}
            <a href="{{shop.url}}" style="max-width: {{ image_width| times: 1.0 | divided_by: 10}}rem;">
              <img width="{{section.settings.logo_footer.width}}" height="{{section.settings.logo_footer.height}}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% render 'kt_image_format',cache:false,src: section.settings.logo_footer, size: image_size2x %}" alt="{{ section.settings.logo_footer.alt | default: shop.name | escape }}" style="margin-left: auto;margin-right: auto;max-width: 100%;">
            </a>
            {%- elsif section.settings.logo_footer_svg != blank %}
            {%- capture image_size -%}{{ section.settings.logo_footer_max_width }}px{%- endcapture -%}
            {%- assign logo_svg_url = section.settings.logo_footer_svg | file_url -%}
            <a href="{{shop.url}}" class="text-center" style="max-width: {{ section.settings.logo_footer_max_width| times: 1.0 | divided_by: 10}}rem;">
              <img class="footer-logo lazyload" width="{{ section.settings.logo_footer_max_width }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{logo_svg_url}}" alt="{{ section.settings.logo_footer.alt | default: shop.name | escape }}" style="margin-left: auto;margin-right: auto;max-width: 100%;">   
            </a>
            {%- endif -%}
          </div>
          <div class="col-12 mb-2 text-center">
            <p class="footer-copyright m-0">
            {%-if section.settings.copyright != blank-%}
              {{section.settings.copyright|html}}
            {%-else-%}
              &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }} {{ powered_by_link | replace: 'nofollow', 'noreferrer' }}
            {%-endif-%}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{%- endunless -%}
{%- endif -%}
{% schema %}
  {
    "name": "Footer",
    "class": "footer_06",
    "settings": [
      {
        "type": "checkbox",
        "id": "use_footer",
        "label": "== Use footer",
        "default": true
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "paragraph",
        "content": "==Info"
      },
      {
        "type": "text",
        "id": "title_info",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "info_content",
        "label": "Infor"
      },
      {
        "type": "paragraph",
        "content": "==Link list 1"
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "Title"
      },
      {
        "type": "link_list",
        "id": "footer_link_1",
        "label": "Link list",
        "default": "footer"
      },
      {
        "type": "paragraph",
        "content": "==Link list 2"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Title"
      },
      {
        "type": "link_list",
        "id": "footer_link_2",
        "label": "Link list",
        "default": "footer"
      },
      {
        "type": "paragraph",
        "content": "==Link list 3"
      },
      {
        "type": "text",
        "id": "title_3",
        "label": "Title"
      },
      {
        "type": "link_list",
        "id": "footer_link_3",
        "label": "Link list",
        "default": "footer"
      },
      {
        "type": "paragraph",
        "content": "==Footer bottom"
      },
      {
        "type": "image_picker",
        "id": "payment_image",
        "label": "Payment Image"
      },
      {
        "id": "payment_url",
        "type": "url",
        "label": "Payment link"
      },
      {
        "type": "text",
        "id": "logo_footer_svg",
        "label": "Logo SVG",
        "placeholder": "Logo_footer.svg",
        "info": "[Upload svg file to Files](\/admin\/settings\/files) and copy name file to input."
      },
      {
        "type": "image_picker",
        "id": "logo_footer",
        "label": "Logo image",
        "info": "Dimension: 300px - 77px"
      },
      {
        "type": "range",
        "id": "logo_footer_max_width",
        "min": 100,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Logo footer width",
        "info": "Custom logo width (in pixels)",
        "default": 270
      },
      {
        "type": "textarea",
        "id": "copyright",
        "label": "Copyright customize"
      }
    ]
  }
{% endschema %}
