<!-- footer_05.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.settings.use_footer -%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-render 'sc_css', bgcl: settings.footer_background_color -%}
<footer class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="footer content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">    
    <div class="section-width {{width_content_}}">
      <div class="footer-bottom">
        <div class="row justify-content-between">
          <div class="col-12 col-md-auto py-1">
            <p class="footer-copyright m-0">              
            {%-if section.settings.copyright != blank-%}
              {{section.settings.copyright|html}}
            {%-else-%}
              &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }} {{ powered_by_link }}
            {%-endif-%}
            </p>
            <ul class="footer-menu list-unstyled">
              {%-for link in linklists[section.settings.footer_link_copyright].links -%}
              <li><a href="{{ routes.root_url | replace: '/', ''}}{{link.url}}">{{link.title}}</a></li>
              {%-endfor-%}
            </ul>
          </div>
          <div class="col-12 col-md-auto py-1">
            <div class="socials_ style-01 socials_color">
              <span class="social-label">{{'general.social.title_socials_footer_bottom'|t}}</span>
              {%-render "kt_socials"-%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{%- endunless -%}
{%- endif -%}
{% schema %}
  {
    "name": "Footer",
    "class": "footer_03 footer_04",
    "settings": [
      {
        "type": "checkbox",
        "id": "use_footer",
        "label": "== Use footer",
        "default": true
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "paragraph",
        "content": "======================== Footer bottom"
      },
      {
        "type": "textarea",
        "id": "copyright",
        "label": "Copyright customize"
      },
      {
        "type": "link_list",
        "id": "footer_link_copyright",
        "label": "Link list follow Copyright",
        "default": "footer"
      }
    ]
  }
{% endschema %}
