<!-- kt_banner_all_page.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%- unless section.settings.off_section -%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-render 'sc_css'-%}
<div class="{{width_section_}}" data-section-id="{{ section.id }}" id="Banner-{{ section.id }}" data-section-type="banner-section">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
    <div class="section-width {{width_content_}}">
		  <div class="d-flex flex-wrap align-items-center justify-content-between">
		    {{section.settings.message_richtext|html}}
		    {%-if section.settings.load_btn-%}
          <a href="{{section.settings.link}}" class="btn {{section.settings.style_btn}} {{section.settings.style_btn_rounded}}{%if section.settings.btn_shadow%} btn-shadow{%endif%} mt-2 mt-md-0">{{section.settings.textBtn}}</a>
        {%-endif-%}
		  </div>
		</div>
	</div>
</div>
{%- endunless -%}
{%- endunless -%}

{% schema %}
  {
    "name": "(Banner) All page",
    "class": "all-page-section--kt kt_banner_all_page",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Banner all page",
        "info": "Name section (in editor bar)"
      },
      {
        "type": "checkbox",
        "id": "off_section",
        "label": "Turn off section?",
        "default": true
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section?",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem",
        "default": "2.5rem 0"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color",
        "default": "#008060"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920x pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
         "type": "richtext",
         "id": "message_richtext",
         "label": "Announcement text",
         "default": "<p>Now These Bestsellers are back in stock & ready for action!</p>"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "textBtn",
        "label": "Name button",
        "default": "Shop Now <i class=\"fkt-angle-right\" aria-hidden=\"true\"><\/i>"
      },
      {
        "type": "checkbox",
        "id": "load_btn",
        "label": "__Use button?",
        "default": false
      },
      {
        "type": "select",
        "id": "style_btn",
        "label": "Button style",
        "default": "btn-outline-darker",
        "options": [
          {
            "value": "btn-primary",
            "label": "Default"
          },
          {
            "value": "btn-white",
            "label": "White"
          },
          {
            "value": "btn-primary-white",
            "label": "White 2"
          },
          {
            "value": "btn-outline-primary-2",
            "label": "Border"
          },
          {
            "value": "btn-outline-gray",
            "label": "Border gray"
          },
          {
            "value": "btn-outline-lightgray",
            "label": "Border lightgray"
          },
          {
            "value": "btn-outline-dark",
            "label": "Border dark"
          },
          {
            "value": "btn-outline-darker",
            "label": "Border darker"
          },
          {
            "value": "btn-outline-white",
            "label": "Border white"
          },
          {
            "value": "btn-outline-white-2",
            "label": "Border white 2"
          },
          {
            "value": "btn-outline-white-3",
            "label": "Border white 3"
          },
          {
            "value": "btn-outline-white-4",
            "label": "Border white 4"
          },
          {
            "value": "btn-link",
            "label": "Simple Button"
          },
          {
            "value": "btn-link btn-link-dark",
            "label": "Simple Button dark"
          }
        ]
      },
      {
        "type": "select",
        "id": "style_btn_rounded",
        "label": "Button style radius",
        "options": [
          {
            "value": "",
            "label": "Square"
          },
          {
            "value": "btn-rounded",
            "label": "Rounded Corners"
          },
          {
            "value": "btn-round",
            "label": "Rounded"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "btn_shadow",
        "label": "Use shadow for button?"
      }
    ],
    "presets": [
      {
        "name": "Show all page",
        "category": "02. Section Banner"
      }
    ]
  }
{% endschema %}