<!-- kt_instagram_1.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-render 'sc_css'-%}
{%- if section.blocks.size > 0 -%}
<div data-section-id="{{ section.id }}" id="Instagram-{{ section.id }}" class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
    <div class="section-width {{width_content_}}">
      <div id="instagramWrapper-{{ section.id }}" class="instagramWrapper row justify-content-center list-unstyled mb-0" data-access-token="{{settings.accessToken_instagram}}" data-limit="{{section.settings.images_limit}}" data-tag="{{settings.byTag_instagram}}">
        <div class="item position-relative col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2-10 order-xl-3">
          <div class="instagram-feed-title">
            <i class="fkt-instagram"></i>
            <p>{{section.settings.titlex|html}}</p>
          </div>
        </div>
        {%- for block in section.blocks -%}
        <div class="item position-relative col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2-10 order-{{forloop.index}}">
          <a href="{{block.settings.image_link | default: '#'}}" class="instagram-feed fkt-instagram lazyload" data-bgset="{{block.settings.image|img_url: 'master'}}" style="padding-bottom: 100%;"></a>          
          <div class="kt_lookbook kt_pin_item">
            <div class="kt_pins">
              {%- for i in (1..5) -%}
              {%- assign id_ = 'id_' | append: i -%}
              {%- if block.settings[id_] != blank -%}
              {%- assign top_pin_ = 'top_pin_' | append: i -%}{%- assign top_pin_ = block.settings[top_pin_] -%}
              {%- assign left_pin_ = 'left_pin_' | append: i -%}{%- assign left_pin_ = block.settings[left_pin_] -%}
              {%- assign size_ = 'size_' | append: i -%}{%- assign size_ = block.settings[size_] -%}
              {%- assign bg_ = 'bg_' | append: i -%}{%- assign bg_ = block.settings[bg_] -%}
              {%- assign pr_lb = all_products[block.settings[id_]] -%}
                <div class="button kt_pin quick-view"  data-view="{{pr_lb.url}}" data-target="#md_qvModal" style="top: {{top_pin_}}%;left: {{left_pin_}}%;width: {{size_}}px;height: {{size_}}px;margin-top: -{{size_|divided_by:2}}px;margin-left: -{{size_|divided_by:2}}px;line-height: {{size_}}px; background-color: {{bg_}}">
                  <span class="kt_pin_name" style="width: {{size_}}px;height: {{size_}}px;">
                    <span class="kt_pin_icon">+</span>
                    <span class="kt_pin_animate" style="width: {{size_|plus: 5}}px;height: {{size_|plus: 5}}px; border-color: {{bg_ | color_modify: 'alpha', 0.5}}"></span>
                  </span>
                </div>
              {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{%- else -%}
<div data-section-id="{{ section.id }}" id="Instagram-{{ section.id }}" data-section-type="instagram-section" class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
    <div class="section-width {{width_content_}}">
      <div id="instagramWrapper-{{ section.id }}" class="instagramWrapper row justify-content-center list-unstyled mb-0" data-access-token="{{settings.accessToken_instagram}}" data-limit="{{section.settings.images_limit}}" data-tag="{{settings.byTag_instagram}}">
        <div class="item position-relative col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2-10 order-xl-3">
          <div class="instagram-feed-title">
            <i class="fkt-instagram"></i>
            <p>{{section.settings.titlex|html}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
<noscript class="banner-css" data-section-type="kt_instagram_1">
  {%-capture banner-css-%}
  {%style%}
    .kt_instagram_1 .item {
      margin-bottom: 2rem
    }
    .kt_instagram_1 .instagram-feed-title {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      background-color: #fff;
      border: 0.1rem solid #ebebeb;
      margin-bottom: 2rem;
    }
    .kt_instagram_1 .instagram-feed-title i {
      display: inline-block;
      font-size: 2.4rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
    .kt_instagram_1 .instagram-feed-title p {
      margin-bottom: 0.5rem;
    }
    .kt_instagram_1 .instagram-feed-title a {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: -0.01em;
    }
  {%endstyle%}
  {%-endcapture-%}
  {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
</noscript>
{%- endunless-%}

{% schema %}
  {
    "name": "Instagram 1",
    "class": "kt_instagram_1",
    "settings": [
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Instagram 1",
        "info": "Name section (in editor bar)"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "richtext",
        "id": "titlex",
        "label": "Title",
        "default": "<p>@midas_store <br>on instagram<\/p>"
      },
      {
        "type": "range",
        "id": "images_limit",
        "min": 4,
        "max": 20,
        "step": 1,
        "label": "Limit images",
        "default": 12
      }
    ],
    "blocks": [
      {
        "type": "img_i",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Dimension: 300x300"
          },
          {
            "type": "url",
            "id": "image_link",
            "label": "Link to"
          }
        ]
      },
      {
        "type": "item_pins",
        "name": "Pins for item image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Dimension: 300x300"
          },
          {
            "type": "paragraph",
            "content": "Pins"
          },
          {
            "type": "product",
            "id": "id_1",
            "label": "Product for pin 1"
          },
          {
            "type": "range",
            "id": "top_pin_1",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Top",
            "default": 46
          },
          {
            "type": "range",
            "id": "left_pin_1",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Left",
            "default": 30
          },
          {
            "type": "range",
            "id": "size_1",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Size",
            "default": 30
          },
          {
            "type": "color",
            "id": "bg_1",
            "label": "__ Select Color",
            "default": "#222"
          },
          {
            "type": "product",
            "id": "id_2",
            "label": "Product for pin 2"
          },
          {
            "type": "range",
            "id": "top_pin_2",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Top",
            "default": 46
          },
          {
            "type": "range",
            "id": "left_pin_2",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Left",
            "default": 30
          },
          {
            "type": "range",
            "id": "size_2",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Size",
            "default": 30
          },
          {
            "type": "color",
            "id": "bg_2",
            "label": "__ Select Color",
            "default": "#222"
          },
          {
            "type": "product",
            "id": "id_3",
            "label": "Product for pin 3"
          },
          {
            "type": "range",
            "id": "top_pin_3",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Top",
            "default": 46
          },
          {
            "type": "range",
            "id": "left_pin_3",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Left",
            "default": 30
          },
          {
            "type": "range",
            "id": "size_3",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Size",
            "default": 30
          },
          {
            "type": "color",
            "id": "bg_3",
            "label": "__ Select Color",
            "default": "#222"
          },
          {
            "type": "product",
            "id": "id_4",
            "label": "Product for pin 4"
          },
          {
            "type": "range",
            "id": "top_pin_4",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Top",
            "default": 46
          },
          {
            "type": "range",
            "id": "left_pin_4",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Left",
            "default": 30
          },
          {
            "type": "range",
            "id": "size_4",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Size",
            "default": 30
          },
          {
            "type": "color",
            "id": "bg_4",
            "label": "__ Select Color",
            "default": "#222"
          },
          {
            "type": "product",
            "id": "id_5",
            "label": "Product for pin 5"
          },
          {
            "type": "range",
            "id": "top_pin_5",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Top",
            "default": 46
          },
          {
            "type": "range",
            "id": "left_pin_5",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Position Left",
            "default": 30
          },
          {
            "type": "range",
            "id": "size_5",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Size",
            "default": 30
          },
          {
            "type": "color",
            "id": "bg_5",
            "label": "__ Select Color",
            "default": "#222"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram 1",
        "category": "09. Socials"
      }
    ]
  }
{% endschema %}