<!-- md_banner_template_5.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.blocks.size != 0-%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-render 'sc_css'-%}
<div data-section-id="{{ section.id }}" id="Banner-{{ section.id }}" data-section-type="banner-section" class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">      
    <div class="section-width {{width_content_}}">
  	{%-for block in section.blocks-%}
    {%-if block.settings.turnoff-%}{%-continue-%}{%-endif-%}
    {%-case block.type -%}
    {%-when '1'-%}
      {%- assign use_css = false -%}
      <div class="row align-items-center imgs__banner_template21{%unless forloop.first%}{%if section.blocks.size > 1%} mt-gutter{%endif%}{%endunless%}" style="--grid-gutter:{{block.settings.grid_gutter}}px">
        <div class="col-12 col-lg-6 item__banner item__1">            
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_1 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_1 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_1}}">{{block.settings.stitle_1}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_1}}">{{block.settings.titlex_1}}</h3>
              <a href="{{block.settings.image_link_1|default:'#'}}" class="btn btn-outline-white-3 banner-link" aria-label="{{block.settings.name_btn_1| strip_html}}">{{block.settings.name_btn_1}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_1 -%}
            {%-assign width = image_item.width | default: 695.00 -%}{%-assign height = image_item.height | default: 423.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_1|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_1 %} title="695x423 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 item__banner item__2 mt-gutter mt-lg-0">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_2 == blank and block.settings.stitle_2 == blank and block.settings.name_btn_2 == blank -%}  
            <div class="text-content position-absolute wait-for-css banner-content-stretch">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_2}}">{{block.settings.stitle_2}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_2}}">{{block.settings.titlex_2}}</h3>
              <a href="{{block.settings.image_link_2|default:'#'}}" class="btn btn-outline-white-3 banner-link" aria-label="{{block.settings.name_btn_2| strip_html}}">{{block.settings.name_btn_2}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_2 -%}
            {%-assign width = image_item.width | default: 338.00 -%}{%-assign height = image_item.height | default: 423.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_2|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_2 %} title="338x423 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-12 item__banner item__3 mt-gutter mt-lg-0">
              <div class="position-relative {{block.settings.banner-effect}}">
                {%- unless block.settings.titlex_3 == blank and block.settings.stitle_3 == blank and block.settings.name_btn_3 == blank -%}  
                <div class="text-content position-absolute wait-for-css">
                  <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_3}}">{{block.settings.stitle_3}}</h4>
                  <h3 class="banner-title" style="--color: {{block.settings.color_titlex_3}}">{{block.settings.titlex_3}}</h3>
                  <a href="{{block.settings.image_link_3|default:'#'}}" class="btn btn-outline-white-3 banner-link" aria-label="{{block.settings.name_btn_3| strip_html}}">{{block.settings.name_btn_3}}</a>
                </div>
                {%- assign use_css = true -%}
                {%- endunless -%}
                {%- assign image_item = block.settings.image_3 -%}
                {%-assign width = image_item.width | default: 338.00 -%}{%-assign height = image_item.height | default: 202.00 | plus: 0.00-%}
                <a href="{{block.settings.image_link_3|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_3 %} title="338x202 px"{% endunless %}></a>
              </div>
            </div>              
            <div class="col-12 col-sm-6 col-md-12 item__banner item__4 mt-gutter">
              <div class="position-relative {{block.settings.banner-effect}}">
                {%- unless block.settings.titlex_4 == blank and block.settings.stitle_4 == blank and block.settings.name_btn_4 == blank -%}  
                <div class="text-content position-absolute wait-for-css">
                  <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_4}}">{{block.settings.stitle_4}}</h4>
                  <h3 class="banner-title" style="--color: {{block.settings.color_titlex_4}}">{{block.settings.titlex_4}}</h3>
                  <a href="{{block.settings.image_link_4|default:'#'}}" class="btn btn-outline-white-3 banner-link" aria-label="{{block.settings.name_btn_4| strip_html}}">{{block.settings.name_btn_4}}</a>
                </div>
                {%- assign use_css = true -%}
                {%- endunless -%}
                {%- assign image_item = block.settings.image_4 -%}
                {%-assign width = image_item.width | default: 338.00 -%}{%-assign height = image_item.height | default: 202.00 | plus: 0.00-%}
                <a href="{{block.settings.image_link_4|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_4 %} title="338x202 px"{% endunless %}></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%- if use_css -%}
      <noscript class="banner-css" data-section-type="imgs__banner_template21">
        {%-capture banner-css-%}
        {%style%}
          .imgs__banner_template21 a.img__banner{
            z-index:0;
          }
          .imgs__banner_template21 .banner-subtitle{
            color:var(--color);
            font-weight:400;
            font-size:1.3rem;
            line-height:1.2;
            letter-spacing:0;
            margin-bottom:.8rem;
            text-transform:uppercase
          }
          .imgs__banner_template21 .banner-title{
            color:var(--color);
            font-weight:600;
            font-size:2.2rem;
            line-height:1.2;
            margin-bottom:.5rem;
            letter-spacing:-.025em
          }
          .imgs__banner_template21 .item__banner .banner-content-stretch{
            top:3rem;
            bottom:5rem;
            -webkit-transform:translateY(0);
            transform:translateY(0);
            padding-bottom:4rem
          }
          .imgs__banner_template21 .item__banner .banner-content-stretch .btn{
            position:absolute;
            bottom:0;
            {{cssAlign}}:0
          }
          .imgs__banner_template21 .text-content{
            z-index:1;
            {{cssAlign}}:4rem;
            top:50%;
            -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
            -ms-transform:translateY(-50%)
          }
          .imgs__banner_template21 .item__3 .text-content,.imgs__banner_template21 .item__4 .text-content{
            {{cssAlign}}:3rem
          }
          .imgs__banner_template21 .item__1 .banner-title{
            font-weight:600;
            font-size:4rem;
            letter-spacing:-.025em;
            margin-bottom:1rem;
            line-height:1.15
          }
          .imgs__banner_template21 .banner-link{
            min-width:122px;
            border-radius:.3rem;
            line-height:1;
            padding:.8rem 1.5rem;
            min-width:0;
            text-transform:uppercase;
            text-decoration:none!important;
            white-space:nowrap
          }
          .imgs__banner_template21 .item__1 .banner-link{
            padding:1.2rem 1.8rem;
            margin-top:1rem
          }
        {%endstyle%}
      {%-endcapture-%}
      {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
      </noscript>
      {%- endif -%}
    {%-when '2'-%}
      {%- assign use_css = false -%}
      <div class="row align-items-center justify-content-center imgs__banner_template22{%unless forloop.first%}{%if section.blocks.size > 1%} mt-gutter{%endif%}{%endunless%}" style="--grid-gutter:{{block.settings.grid_gutter}}px">
        <div class="col-12 col-md-6 col-lg-4 item__banner item__1">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_1 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_1 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_1}}">{{block.settings.stitle_1}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_1}}">{{block.settings.titlex_1}}</h3>
              <a href="{{block.settings.image_link_1|default:'#'}}" class="btn {{block.settings.style_btn_1}} {{block.settings.style_btn_rounded_1}}{%if block.settings.btn_shadow_1%} btn-shadow{%endif%}" aria-label="{{block.settings.name_btn_1| strip_html}}">{{block.settings.name_btn_1}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_1 -%}
            {%-assign width = image_item.width | default: 380.00 -%}{%-assign height = image_item.height | default: 200.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_1|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_1 %} title="380x200 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 item__banner item__2 mt-gutter mt-md-0">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_2 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_2 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_2}}">{{block.settings.stitle_2}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_2}}">{{block.settings.titlex_2}}</h3>
              <a href="{{block.settings.image_link_2|default:'#'}}" class="btn {{block.settings.style_btn_2}} {{block.settings.style_btn_rounded_2}}{%if block.settings.btn_shadow_2%} btn-shadow{%endif%}" aria-label="{{block.settings.name_btn_2| strip_html}}">{{block.settings.name_btn_2}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_2 -%}
            {%-assign width = image_item.width | default: 380.00 -%}{%-assign height = image_item.height | default: 200.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_2|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_2 %} title="380x200 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 item__banner item__3 mt-gutter mt-lg-0">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_3 == blank and block.settings.stitle_3 == blank and block.settings.name_btn_3 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_3}}">{{block.settings.stitle_3}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_3}}">{{block.settings.titlex_3}}</h3>
              <a href="{{block.settings.image_link_3|default:'#'}}" class="btn {{block.settings.style_btn_3}} {{block.settings.style_btn_rounded_3}}{%if block.settings.btn_shadow_3%} btn-shadow{%endif%}" aria-label="{{block.settings.name_btn_3| strip_html}}">{{block.settings.name_btn_3}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_3 -%}
            {%-assign width = image_item.width | default: 380.00 -%}{%-assign height = image_item.height | default: 200.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_3|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_3 %} title="380x200 px"{% endunless %}></a>
          </div>
        </div>
      </div>
      {%- if use_css -%}
      <noscript class="banner-css" data-section-type="imgs__banner_template22">
        {%-capture banner-css-%}
        {%style%}
          .imgs__banner_template22 a.img__banner{
            z-index:0;
            min-height:170px
          }
          .imgs__banner_template22 .banner-subtitle{
            color:var(--color);
            font-weight:300;
            font-size:1.4rem;
            line-height:1.2;
            letter-spacing:-.01em;
            margin-bottom:.6rem
          }
          .imgs__banner_template22 .banner-title{
            color:var(--color);
            font-weight:600;
            font-size:2.4rem;
            line-height:1.13;
            margin-bottom:1.6rem;
            letter-spacing:-.025em
          }
          .imgs__banner_template22 .text-content{
            z-index:1;
            top:50%;
            {{cssAlign}}:3rem;
            -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
            -ms-transform:translateY(-50%);
            padding-right:10px;
            padding-left:10px
          }
          .imgs__banner_template22 .text-content .btn{
            font-size:1.4rem;
            line-height:1;
            padding:.8rem 1rem;
            min-width:126px;
            text-transform:uppercase
          }
          .imgs__banner_template22 .img__banner{
            border-radius:.3rem
          }

        {%endstyle%}
      {%-endcapture-%}
      {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
      </noscript>
      {%- endif -%}
    {%-when '3'-%}
      {%- assign use_css = false -%}
      <div class="row no-gutters align-items-center justify-content-center imgs__banner_template23{%unless forloop.first%}{%if section.blocks.size > 1%} mt-2{%endif%}{%endunless%}">
        <div class="col-12 col-md-6 col-lg-4 item__banner item__1">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_1 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_1 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_1}}">{{block.settings.stitle_1}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_1}}">{{block.settings.titlex_1}}</h3>
              <a href="{{block.settings.image_link_1|default:'#'}}" class="btn {{block.settings.style_btn_1}} {{block.settings.style_btn_rounded_1}}{%if block.settings.btn_shadow_1%} btn-shadow{%endif%}" aria-label="{{block.settings.name_btn_1| strip_html}}">{{block.settings.name_btn_1}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_1 -%}
            {%-assign width = image_item.width | default: 380.00 -%}{%-assign height = image_item.height | default: 200.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_1|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_1 %} title="380x200 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 item__banner item__2 mt-2 mt-md-0">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_2 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_2 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_2}}">{{block.settings.stitle_2}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_2}}">{{block.settings.titlex_2}}</h3>
              <a href="{{block.settings.image_link_2|default:'#'}}" class="btn {{block.settings.style_btn_2}} {{block.settings.style_btn_rounded_2}}{%if block.settings.btn_shadow_2%} btn-shadow{%endif%}" aria-label="{{block.settings.name_btn_2| strip_html}}">{{block.settings.name_btn_2}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_2 -%}
            {%-assign width = image_item.width | default: 380.00 -%}{%-assign height = image_item.height | default: 200.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_2|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_2 %} title="380x200 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 item__banner item__3 mt-2 mt-lg-0">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_3 == blank and block.settings.stitle_3 == blank and block.settings.name_btn_3 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_3}}">{{block.settings.stitle_3}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_3}}">{{block.settings.titlex_3}}</h3>
              <a href="{{block.settings.image_link_3|default:'#'}}" class="btn {{block.settings.style_btn_3}} {{block.settings.style_btn_rounded_3}}{%if block.settings.btn_shadow_3%} btn-shadow{%endif%}" aria-label="{{block.settings.name_btn_3| strip_html}}">{{block.settings.name_btn_3}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_3 -%}
            {%-assign width = image_item.width | default: 380.00 -%}{%-assign height = image_item.height | default: 200.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_3|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_3 %} title="380x200 px"{% endunless %}></a>
          </div>
        </div>
      </div>
      {%- if use_css -%}
      <noscript class="banner-css" data-section-type="imgs__banner_template23">
        {%-capture banner-css-%}
        {%style%}
          .imgs__banner_template23 a.img__banner{
            z-index:0;
            min-height:170px
          }
          .imgs__banner_template23 .banner-subtitle{
            color:var(--color);
            font-weight:300;
            font-size:1.4rem;
            line-height:1.2;
            letter-spacing:-.01em;
            margin-bottom:.6rem
          }
          .imgs__banner_template23 .banner-title{
            color:var(--color);
            font-weight:600;
            font-size:2.4rem;
            line-height:1.13;
            margin-bottom:1.6rem;
            letter-spacing:-.025em
          }
          .imgs__banner_template23 .text-content{
            z-index:1;
            top:50%;
            {{cssAlign}}:3rem;
            -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
            -ms-transform:translateY(-50%);
            padding-right:10px;
            padding-left:10px
          }
          .imgs__banner_template23 .text-content .btn{
            font-size:1.4rem;
            line-height:1;
            padding:.8rem 1rem;
            min-width:126px;
            text-transform:uppercase
          }
          .imgs__banner_template23 .item__banner:not(:last-child){
            border-right: 1px solid #fff;
          }
          @media (min-width:1200px){              
            .imgs__banner_template23 {
              position: relative;
            }
            .imgs__banner_template23::before {
              content: '';
              box-shadow: 0 10px 20px #999;
              margin-top: 1rem;
              width: 96%;
              height: 90%;
              {{cssAlign}}: 2%;
              position: absolute;
              z-index: -10;
            }
          }
        {%endstyle%}
      {%-endcapture-%}
      {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
      </noscript>
      {%- endif -%}
    {%-when '4'-%}
      {%- assign use_css = false -%}
      <div class="row align-items-center imgs__banner_template24{%unless forloop.first%}{%if section.blocks.size > 1%} mt-gutter{%endif%}{%endunless%}" style="--grid-gutter:{{block.settings.grid_gutter}}px">
        <div class="col-12 col-md-6 item__banner item__1">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_1 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_1 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_1}}"><span>{{block.settings.stitle_1}}</span></h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_1}}"><span>{{block.settings.titlex_1}}</span></h3>
              <a href="{{block.settings.image_link_1|default:'#'}}" class="btn btn-outline-primary-2 btn-rounded" aria-label="{{block.settings.name_btn_1| strip_html}}">{{block.settings.name_btn_1}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_1 -%}
            {%-assign width = image_item.width | default: 594.00 -%}{%-assign height = image_item.height | default: 320.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_1|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_1 %} title="594x320 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 item__banner item__2 mt-gutter mt-md-0">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_2 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_2 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_2}}"><span>{{block.settings.stitle_2}}</span></h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_2}}"><span>{{block.settings.titlex_2}}</span></h3>
              <a href="{{block.settings.image_link_2|default:'#'}}" class="btn btn-outline-primary-2 btn-rounded" aria-label="{{block.settings.name_btn_2| strip_html}}">{{block.settings.name_btn_2}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_2 -%}
            {%-assign width = image_item.width | default: 594.00 -%}{%-assign height = image_item.height | default: 320.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_2|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_2 %} title="594x320 px"{% endunless %}></a>
          </div>
        </div>
      </div>
      {%- if use_css -%}
      <noscript class="banner-css" data-section-type="imgs__banner_template24">
        {%-capture banner-css-%}
        {%style%}.
          imgs__banner_template24 a.img__banner{
            z-index:0;
            min-height: 210px;
          }
          .imgs__banner_template24 .banner-subtitle>span{
            font-weight: 400;
            line-height: 1.2;
            background-color: var(--primary);
            font-size: 1.4rem;
            padding: .8rem 1.3rem;
            letter-spacing: -.01rem;
            text-transform: uppercase;
            border-radius: .4rem;
            display: inline-block;
            {%- if cssAlign == 'left' -%}
            transform: skewX(-11deg);
            -webkit-transform: skewX(-11deg);
            {%- else -%} 
            transform: skewX(11deg);
            -webkit-transform: skewX(11deg); 
            {%- endif -%}
            margin-left: .3rem;
          }
          .imgs__banner_template24 .banner-title{
            color: var(--primary);
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.25;
            letter-spacing: -.025em;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
          }
          .imgs__banner_template24 .text-content{
            z-index:1;
            padding-top: 0;
            top: 50%;
            {{cssAlign}}: 3rem;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .imgs__banner_template24 .text-content .btn{
            min-width: auto;
            padding: .5rem 1.5rem;
            border-width: .2rem;
            text-transform: uppercase;
          }
          .imgs__banner_template24 .item__1 .text-white,
          .imgs__banner_template24 .item__2 .banner-title{
            font-size: 2rem;
          }
          .imgs__banner_template24 .item__2 .text-white{
            font-size: 2.6rem;
          }
        {%endstyle%}
      {%-endcapture-%}
      {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
      </noscript>
      {%- endif -%}
    {%-when '5'-%}
      {%- assign use_css = false -%}
      <div class="row align-items-center imgs__banner_template25{%unless forloop.first%}{%if section.blocks.size > 1%} mt-gutter{%endif%}{%endunless%}" style="--grid-gutter:{{block.settings.grid_gutter}}px">
        <div class="col-12 col-md-6 item__banner item__1">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_1 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_1 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_1}}">{{block.settings.stitle_1}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_1}}">{{block.settings.titlex_1}}</h3>
              <a href="{{block.settings.image_link_1|default:'#'}}" class="btn btn-link" aria-label="{{block.settings.name_btn_1| strip_html}}" style="--color: {{block.settings.color_titlex_1}}">{{block.settings.name_btn_1}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_1 -%}
            {%-assign width = image_item.width | default: 730.00 -%}{%-assign height = image_item.height | default: 390.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_1|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_1 %} title="730x390 px"{% endunless %}></a>
          </div>
        </div>
        <div class="col-12 col-md-6 item__banner item__2 mt-gutter mt-md-0">
          <div class="position-relative {{block.settings.banner-effect}}">
            {%- unless block.settings.titlex_2 == blank and block.settings.stitle_1 == blank and block.settings.name_btn_2 == blank -%}  
            <div class="text-content position-absolute wait-for-css">
              <h4 class="banner-subtitle" style="--color: {{block.settings.color_stitle_2}}">{{block.settings.stitle_2}}</h4>
              <h3 class="banner-title" style="--color: {{block.settings.color_titlex_2}}">{{block.settings.titlex_2}}</h3>
              <a href="{{block.settings.image_link_2|default:'#'}}" class="btn btn-link" aria-label="{{block.settings.name_btn_2| strip_html}}" style="--color: {{block.settings.color_titlex_2}}">{{block.settings.name_btn_2}}</a>
            </div>
            {%- assign use_css = true -%}
            {%- endunless -%}
            {%- assign image_item = block.settings.image_2 -%}
            {%-assign width = image_item.width | default: 730.00 -%}{%-assign height = image_item.height | default: 390.00 | plus: 0.00-%}
            <a href="{{block.settings.image_link_2|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image_2 %} title="730x390 px"{% endunless %}></a>
          </div>
        </div>
      </div>
      {%- if use_css -%}
      <noscript class="banner-css" data-section-type="imgs__banner_template25">
        {%-capture banner-css-%}
        {%style%}
          .imgs__banner_template25 a.img__banner{
            z-index:0;
            min-height: 400px;
          }
          .imgs__banner_template25 .banner-subtitle{
            color:var(--color);
            margin-bottom: 1.8rem;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.1;
            letter-spacing: .1em;
            text-transform: uppercase;
          }
          .imgs__banner_template25 .banner-title{
            color:var(--color);
            font-size: 2.2rem;
            line-height: 1.4em;
            letter-spacing: .1em;
            margin-bottom: 2.2rem;
            font-weight: 700;
            font-family: 'Playfair Display';
            letter-spacing: .01em;
          }
          .imgs__banner_template25 .text-content{
            z-index:1;
            top:50%;
            left:50%;
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
            -ms-transform:translate(-50%,-50%);
            text-align:center;
            width:100%;
            padding-right:10px;
            padding-left:10px
          }
          .imgs__banner_template25 .btn:not(:hover){
            --btn_color: var(--color);
          }
        {%endstyle%}
        {%-endcapture-%}
        {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
      </noscript>
      {%- endif -%}
    {%-endcase -%}
    {%-endfor -%}
    </div>
  </div>
</div>
{%-endunless-%}
{%- endif -%}
{% schema %}
  {
    "name": "Template 5",
    "class": "md_banner_template_5",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Template 5",
        "info": "Name section (in editor bar)"
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 px"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "checkbox",
        "id": "preview",
        "label": "[* Preview demo](//cdn.shopify.com/s/files/1/0264/6972/8316/files/Midas-banner-template.jpg)"
      }
    ],
    "blocks": [
      {
        "type": "1",
        "name": "Banners type 21",
        "settings": [
          {
            "type": "checkbox",
            "id": "turnoff",
            "label": "Turn off block"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title block",
            "default": "Banner type 21",
            "info": "Name block (in editor bar)"
          },
          {
            "type": "range",
            "id": "grid_gutter",
            "min": 0,
            "max": 15,
            "step": 1,
            "label": "Gutters",
            "default": 10
          },
          {
            "type": "header",
            "content": "Banners type 21 settings"
          },
          {
            "type": "select",
            "id": "banner-effect",
            "options": [
              {
                "value": "",
                "label": "None effect"
              },
              {
                "value": "banner-effect1",
                "label": "Banner effect 1"
              },
              {
                "value": "banner-effect2",
                "label": "Banner effect 2"
              },
              {
                "value": "banner-effect3",
                "label": "Banner effect 3"
              },
              {
                "value": "banner-effect4",
                "label": "Banner effect 4"
              },
              {
                "value": "banner-effect5",
                "label": "Banner effect 5"
              },
              {
                "value": "banner-effect6",
                "label": "Banner effect 6"
              },
              {
                "value": "banner-effect7",
                "label": "Banner effect 7"
              },
              {
                "value": "banner-effect8",
                "label": "Banner effect 8"
              }
            ],
            "label": "Banner hover effect",
            "default": ""
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image banner",
            "info": "Size suggestion: 695 x 423 px"
          },
          {
            "type": "url",
            "id": "image_link_1",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_1",
            "label": "Sub title",
            "default": "Your Guide To The World"
          },
          {
            "type": "color",
            "id": "color_stitle_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_1",
            "label": "Title",
            "default":"Must-Read <br>Travel Books"
          },
          {
            "type": "color",
            "id": "color_titlex_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_1",
            "label": "Name button",
            "default":"Find out more <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "header",
            "content": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image banner",
            "info": "Size suggestion: 338 x 423 px"
          },
          {
            "type": "url",
            "id": "image_link_2",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_2",
            "label": "Sub title",
            "default": "New This Week"
          },
          {
            "type": "color",
            "id": "color_stitle_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_2",
            "label": "Title",
            "default":"Discover Our <br>Best Romance <br>Books"
          },
          {
            "type": "color",
            "id": "color_titlex_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_2",
            "label": "Name button",
            "default":"Discover Now <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "header",
            "content": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image banner",
            "info": "Size suggestion: 338 x 202 px"
          },
          {
            "type": "url",
            "id": "image_link_3",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_3",
            "label": "Sub title",
            "default": "Deal Of The Day"
          },
          {
            "type": "color",
            "id": "color_stitle_3",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_3",
            "label": "Title",
            "default":"20% Off Use <br>Code: <span>mybook</span>"
          },
          {
            "type": "color",
            "id": "color_titlex_3",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_3",
            "label": "Name button",
            "default":"Shop Now <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "header",
            "content": "Image 4"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image banner",
            "info": "Size suggestion: 338 x 202 px"
          },
          {
            "type": "url",
            "id": "image_link_4",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_4",
            "label": "Sub title",
            "default": "New Arrivals"
          },
          {
            "type": "color",
            "id": "color_stitle_4",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_4",
            "label": "Title",
            "default":"Business <br>&amp; Economics"
          },
          {
            "type": "color",
            "id": "color_titlex_4",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_4",
            "label": "Name button",
            "default":"Discover Now <i class=\"fkt-long-arrow-right\"><\/i>"
          }
        ]
      },
      {
        "type": "2",
        "name": "Banners type 22",
        "settings": [
          {
            "type": "checkbox",
            "id": "turnoff",
            "label": "Turn off block"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title block",
            "default": "Banner type 22",
            "info": "Name block (in editor bar)"
          },
          {
            "type": "range",
            "id": "grid_gutter",
            "min": 0,
            "max": 15,
            "step": 1,
            "label": "Gutters",
            "default": 10
          },
          {
            "type": "header",
            "content": "Banners type 22 settings"
          },
          {
            "type": "select",
            "id": "banner-effect",
            "options": [
              {
                "value": "",
                "label": "None effect"
              },
              {
                "value": "banner-effect1",
                "label": "Banner effect 1"
              },
              {
                "value": "banner-effect2",
                "label": "Banner effect 2"
              },
              {
                "value": "banner-effect3",
                "label": "Banner effect 3"
              },
              {
                "value": "banner-effect4",
                "label": "Banner effect 4"
              },
              {
                "value": "banner-effect5",
                "label": "Banner effect 5"
              },
              {
                "value": "banner-effect6",
                "label": "Banner effect 6"
              },
              {
                "value": "banner-effect7",
                "label": "Banner effect 7"
              },
              {
                "value": "banner-effect8",
                "label": "Banner effect 8"
              }
            ],
            "label": "Banner hover effect",
            "default": ""
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image banner",
            "info": "Size suggestion: 380 x 200 px"
          },
          {
            "type": "url",
            "id": "image_link_1",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_1",
            "label": "Sub title",
            "default": "A Perfect Choice For Your Children"
          },
          {
            "type": "color",
            "id": "color_stitle_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_1",
            "label": "Title",
            "default":"Children's <br>Bestselling Books"
          },
          {
            "type": "color",
            "id": "color_titlex_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_1",
            "label": "Name button",
            "default":"Discover Now <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn_1",
            "label": "Button style",
            "default": "btn-outline-white-4",
            "options": [
              {
                "value": "btn-primary",
                "label": "Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Secondary"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-dark",
                "label": "Dark"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_1",
            "label": "Button style radius",
            "default": "btn-rounded",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_1",
            "label": "Use shadow for button?"
          },
          {
            "type": "header",
            "content": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image banner",
            "info": "Size suggestion: 380 x 200 px"
          },
          {
            "type": "url",
            "id": "image_link_2",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_2",
            "label": "Sub title",
            "default": "Mental Health Awareness Week"
          },
          {
            "type": "color",
            "id": "color_stitle_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_2",
            "label": "Title",
            "default":"Self-Help For <br>Your Future."
          },
          {
            "type": "color",
            "id": "color_titlex_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_2",
            "label": "Name button",
            "default":"Discover Now <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn_2",
            "label": "Button style",
            "default": "btn-outline-white-4",
            "options": [
              {
                "value": "btn-primary",
                "label": "Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Secondary"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-dark",
                "label": "Dark"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_2",
            "label": "Button style radius",
            "default": "btn-rounded",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_2",
            "label": "Use shadow for button?"
          },
          {
            "type": "header",
            "content": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image banner",
            "info": "Size suggestion: 380 x 200 px"
          },
          {
            "type": "url",
            "id": "image_link_3",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_3",
            "label": "Sub title",
            "default": "New York Times Bestsellers"
          },
          {
            "type": "color",
            "id": "color_stitle_3",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_3",
            "label": "Title",
            "default":"Bestselling Food <br>and Drink Books."
          },
          {
            "type": "color",
            "id": "color_titlex_3",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_3",
            "label": "Name button",
            "default":"Discover Now <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn_3",
            "label": "Button style",
            "default": "btn-outline-white-4",
            "options": [
              {
                "value": "btn-primary",
                "label": "Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Secondary"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-dark",
                "label": "Dark"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_3",
            "label": "Button style radius",
            "default": "btn-rounded",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_3",
            "label": "Use shadow for button?"
          }
        ]
      },
      {
        "type": "3",
        "name": "Banners type 23",
        "settings": [
          {
            "type": "checkbox",
            "id": "turnoff",
            "label": "Turn off block"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title block",
            "default": "Banner type 23",
            "info": "Name block (in editor bar)"
          },
          {
            "type": "header",
            "content": "Banners type 23 settings"
          },
          {
            "type": "select",
            "id": "banner-effect",
            "options": [
              {
                "value": "",
                "label": "None effect"
              },
              {
                "value": "banner-effect1",
                "label": "Banner effect 1"
              },
              {
                "value": "banner-effect2",
                "label": "Banner effect 2"
              },
              {
                "value": "banner-effect3",
                "label": "Banner effect 3"
              },
              {
                "value": "banner-effect4",
                "label": "Banner effect 4"
              },
              {
                "value": "banner-effect5",
                "label": "Banner effect 5"
              },
              {
                "value": "banner-effect6",
                "label": "Banner effect 6"
              },
              {
                "value": "banner-effect7",
                "label": "Banner effect 7"
              },
              {
                "value": "banner-effect8",
                "label": "Banner effect 8"
              }
            ],
            "label": "Banner hover effect",
            "default": ""
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image banner",
            "info": "Size suggestion: 380 x 200 px"
          },
          {
            "type": "url",
            "id": "image_link_1",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_1",
            "label": "Sub title",
            "default": "It's a lifestyle."
          },
          {
            "type": "color",
            "id": "color_stitle_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_1",
            "label": "Title",
            "default":"Running Apparel <br>END OF SEASON SALE"
          },
          {
            "type": "color",
            "id": "color_titlex_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_1",
            "label": "Name button",
            "default":"SHOP NOW <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn_1",
            "label": "Button style",
            "default": "btn-outline-white-4",
            "options": [
              {
                "value": "btn-primary",
                "label": "Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Secondary"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-dark",
                "label": "Dark"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_1",
            "label": "Button style radius",
            "default": "btn-rounded",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_1",
            "label": "Use shadow for button?"
          },
          {
            "type": "header",
            "content": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image banner",
            "info": "Size suggestion: 380 x 200 px"
          },
          {
            "type": "url",
            "id": "image_link_2",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_2",
            "label": "Sub title",
            "default": "Hike Your Next Trail "
          },
          {
            "type": "color",
            "id": "color_stitle_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_2",
            "label": "Title",
            "default":"NEW SEASON <br>NEW GEAR"
          },
          {
            "type": "color",
            "id": "color_titlex_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_2",
            "label": "Name button",
            "default":"DISCOVER NOW <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn_2",
            "label": "Button style",
            "default": "btn-outline-white-4",
            "options": [
              {
                "value": "btn-primary",
                "label": "Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Secondary"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-dark",
                "label": "Dark"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_2",
            "label": "Button style radius",
            "default": "btn-rounded",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_2",
            "label": "Use shadow for button?"
          },
          {
            "type": "header",
            "content": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image banner",
            "info": "Size suggestion: 380 x 200 px"
          },
          {
            "type": "url",
            "id": "image_link_3",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_3",
            "label": "Sub title",
            "default": "Summer Sale"
          },
          {
            "type": "color",
            "id": "color_stitle_3",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_3",
            "label": "Title",
            "default":"Swimwear sale <br>Save up to 30%"
          },
          {
            "type": "color",
            "id": "color_titlex_3",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_3",
            "label": "Name button",
            "default":"Shop Now <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn_3",
            "label": "Button style",
            "default": "btn-outline-white-4",
            "options": [
              {
                "value": "btn-primary",
                "label": "Primary"
              },
              {
                "value": "btn-secondary",
                "label": "Secondary"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-white-primary",
                "label": "White 2"
              },
              {
                "value": "btn-primary-white",
                "label": "White 3"
              },
              {
                "value": "btn-dark",
                "label": "Dark"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded_3",
            "label": "Button style radius",
            "default": "btn-rounded",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow_3",
            "label": "Use shadow for button?"
          }
        ]
      },
      {
        "type": "4",
        "name": "Banners type 24",
        "settings": [
          {
            "type": "checkbox",
            "id": "turnoff",
            "label": "Turn off block"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title block",
            "default": "Banner type 24",
            "info": "Name block (in editor bar)"
          },
          {
            "type": "range",
            "id": "grid_gutter",
            "min": 0,
            "max": 15,
            "step": 1,
            "label": "Gutters",
            "default": 10
          },
          {
            "type": "header",
            "content": "Banners type 24 settings"
          },
          {
            "type": "select",
            "id": "banner-effect",
            "options": [
              {
                "value": "",
                "label": "None effect"
              },
              {
                "value": "banner-effect1",
                "label": "Banner effect 1"
              },
              {
                "value": "banner-effect2",
                "label": "Banner effect 2"
              },
              {
                "value": "banner-effect3",
                "label": "Banner effect 3"
              },
              {
                "value": "banner-effect4",
                "label": "Banner effect 4"
              },
              {
                "value": "banner-effect5",
                "label": "Banner effect 5"
              },
              {
                "value": "banner-effect6",
                "label": "Banner effect 6"
              },
              {
                "value": "banner-effect7",
                "label": "Banner effect 7"
              },
              {
                "value": "banner-effect8",
                "label": "Banner effect 8"
              }
            ],
            "label": "Banner hover effect",
            "default": ""
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image banner",
            "info": "Size suggestion: 594 x 320 px"
          },
          {
            "type": "url",
            "id": "image_link_1",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_1",
            "label": "Sub title",
            "default": "Spring Sale is Coming"
          },
          {
            "type":"textarea",
            "id":"titlex_1",
            "label": "Title",
            "default":"All Smart Watches <br>Discount <br><span class=\"text-primary\">15% off</span>"
          },
          {
            "type":"text",
            "id":"name_btn_1",
            "label": "Name button",
            "default":"Discover Now <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "header",
            "content": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image banner",
            "info": "Size suggestion: 594 x 320 px"
          },
          {
            "type": "url",
            "id": "image_link_2",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_2",
            "label": "Sub title",
            "default": "Amazing Value"
          },
          {
            "type":"textarea",
            "id":"titlex_2",
            "label": "Title",
            "default":"Headphones Trending <br>JBL Harman <br><span>from $59,99</span>"
          },
          {
            "type":"text",
            "id":"name_btn_2",
            "label": "Name button",
            "default":"Discover Now <i class=\"fkt-long-arrow-right\"><\/i>"
          }
        ]
      },
      {
        "type": "5",
        "name": "Banners type 25",
        "settings": [
          {
            "type": "checkbox",
            "id": "turnoff",
            "label": "Turn off block"
          },
          {
            "type": "paragraph",
            "content": "You need add google font Playfair Display in Custom CSS > Custom in \<head>"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title block",
            "default": "Banner type 25",
            "info": "Name block (in editor bar)"
          },
          {
            "type": "range",
            "id": "grid_gutter",
            "min": 0,
            "max": 15,
            "step": 1,
            "label": "Gutters",
            "default": 10
          },
          {
            "type": "header",
            "content": "Banners type 25 settings"
          },
          {
            "type": "select",
            "id": "banner-effect",
            "options": [
              {
                "value": "",
                "label": "None effect"
              },
              {
                "value": "banner-effect1",
                "label": "Banner effect 1"
              },
              {
                "value": "banner-effect2",
                "label": "Banner effect 2"
              },
              {
                "value": "banner-effect3",
                "label": "Banner effect 3"
              },
              {
                "value": "banner-effect4",
                "label": "Banner effect 4"
              },
              {
                "value": "banner-effect5",
                "label": "Banner effect 5"
              },
              {
                "value": "banner-effect6",
                "label": "Banner effect 6"
              },
              {
                "value": "banner-effect7",
                "label": "Banner effect 7"
              },
              {
                "value": "banner-effect8",
                "label": "Banner effect 8"
              }
            ],
            "label": "Banner hover effect",
            "default": "banner-effect1"
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image banner",
            "info": "Size suggestion: 730 x 390 pixels"
          },
          {
            "type": "url",
            "id": "image_link_1",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_1",
            "label": "Sub title",
            "default":"FINAL DAYS OF SALE"
          },
          {
            "type": "color",
            "id": "color_stitle_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_1",
            "label": "Title",
            "default":"Sportswear & Outdoor Wear<br>UP TO 70% OFF"
          },
          {
            "type": "color",
            "id": "color_titlex_1",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_1",
            "label": "Name button",
            "default":"SHOP NOW"
          },
          {
            "type": "header",
            "content": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image banner",
            "info": "Size suggestion: 730 x 390 pixels"
          },
          {
            "type": "url",
            "id": "image_link_2",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"stitle_2",
            "label": "Sub title",
            "default":"SUMMER CLEARANCE"
          },
          {
            "type": "color",
            "id": "color_stitle_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"textarea",
            "id":"titlex_2",
            "label": "Title",
            "default":"Shoes & Accessories<br>UP TO 30% OFF"
          },
          {
            "type": "color",
            "id": "color_titlex_2",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type":"text",
            "id":"name_btn_2",
            "label": "Name button",
            "default":"SHOP NOW"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Template 5",
        "category": "02. Section Banner"
      }
    ]
  }
{% endschema %}