<!-- md_blog.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%- if section.blocks.size > 0 -%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-render 'sc_css'-%}
<div data-section-id="{{ section.id }}" id="md_blog--{{ section.id }}" data-section-type="swiper-section" class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%} swiper-fixed-fshadow"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
    <div class="section-width {{width_content_}}">
    {%- for block in section.blocks-%}
      {%- if block.settings.title_section != blank and block.type != 'title' and block.type != 'title_2' -%}
      <div class="section-title {{block.settings.title_align}} w-100"{%if block.settings.title == blank or block.settings.stitle == blank%} style="margin-bottom:{{block.settings.margin_btitle}}rem"{%endif%}>
        {%- if block.settings.reverse and block.settings.stitle_section != blank -%}
        <p class="sub-title">{{block.settings.stitle_section}}</p>
        {%- endif -%}
        <h3 class="title">{{block.settings.title_section}}</h3>
        {%- unless block.settings.reverse or block.settings.stitle_section == blank -%}
        <p class="sub-title">{{block.settings.stitle_section}}</p>
        {%- endunless -%}
      </div>
      {%- endif -%}
      {%- if block.type == 'title' -%}
        <div class="w-100">
          <div class="heading row no-gutters align-items-center justify-content{%if block.settings.name_link != blank%}-center justify-content-lg-between{%else%}-center{%endif%} mb-0">
            <div class="col-{%if block.settings.name_link != blank%}12 col-lg-auto text-center text-lg-left mb-1 mb-lg-0{%else%}auto{%endif%}">
              <div class="section-title {{block.settings.title_align}} w-100">
                {%- if block.settings.reverse and block.settings.stitle_section != blank -%}
                <p class="sub-title">{{block.settings.stitle_section}}</p>
                {%- endif -%}
                <h3 class="title">{{block.settings.title_section}}</h3>
                {%- unless block.settings.reverse or block.settings.stitle_section == blank -%}
                <p class="sub-title">{{block.settings.stitle_section}}</p>
                {%- endunless -%}
              </div>
            </div>
            {%- if block.settings.name_link != blank -%}
            <div class="col-12 col-lg-auto text-center text-lg-left">
              {%- if block.settings.link_to != blank -%}              
                <a href="{{block.settings.link_to}}" class="title-link {{block.settings.style_link}}" >{{block.settings.name_link}}</a>
              {%- else -%}
                <p class="sub-title">{{block.settings.name_link}}</p>
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
          <div class="clearfix" style="margin-bottom:{{block.settings.margin_btitle}}rem"></div>
        </div>
      {%- endif -%}
      {%- if block.type == 'title_2' -%}
        <div class="w-100">
          <div class="heading style_2 row no-gutters align-items-center justify-content-between mb-0">
            <div class="col-{%if block.settings.name_link != blank%}auto{%else%}12{%endif%}">
              <div class="section-title {{block.settings.title_align}} w-100">
                <h3 class="title"><span>{{block.settings.title_section}}</span></h3>
              </div>
            </div>
            {%- if block.settings.name_link != blank -%}
            <div class="col-auto button-more d-flex align-items-center">
              {%- if block.settings.link_to != blank -%}              
                <a href="{{block.settings.link_to}}" class="text-nowrap title-link {{block.settings.style_link}} text-primary" >{{block.settings.name_link}}</a>
              {%- else -%}
                <p class="sub-title text-nowrap mb-0 text-primary">{{block.settings.name_link}}</p>
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
          <div class="clearfix" style="margin-bottom:{{block.settings.margin_btitle}}rem"></div>
        </div>
      {%- endif -%}
      {%- case block.type -%}
      {%- when '1' -%}
        {%- if block.settings.blog != blank -%}
        {%- assign blog_ = blogs[block.settings.blog] -%}
        {%- assign limit_blog = block.settings.limit_per_row -%}
        {%- case limit_blog -%}
        {%- when 2 -%}
        {%- assign grid_item_width = ' col-sm-6' -%}
        {%- when 3 -%}
        {%- assign grid_item_width = ' col-sm-6 col-lg-4' -%}
        {%- when 4 -%}
        {%- assign grid_item_width = ' col-sm-6 col-md-6 col-lg-3' -%}
        {%- when 5 -%}
        {%- assign grid_item_width = ' col-sm-6 col-md-4 col-lg-2-10' -%}
        {%- when 6 -%}
        {%- assign grid_item_width = ' col-sm-6 col-md-4 col-md-2-10 col-xl-2' -%}
        {%- endcase -%}
        {%- if section.settings.use_lazyload -%}
        <div class="lastest-blog row justify-content-center{%if blog_.title != blank%} lazyload{%endif%}" data-include="{{blogs[block.settings.blog].url}}?q=limit_{{limit_blog}}+limitpr_{{limit_blog}}+layout_1&view=articlesAjax">
          {%-for i in (1..limit_blog)-%}
          <div class="{{grid_item_width}}">
            <article class="item-blog"><div class="animated-background mb-2" style="padding-bottom: 56.25%"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div>
            </article>
          </div>
          {%-endfor-%}
        </div>
        {%- else -%}
        <div class="lastest-blog row justify-content-center">
          {%- for article in blog_.articles limit: limit_blog -%}
          <div class="{{grid_item_width}}">
            <article class="item-blog type01 entry entry-display">
              <figure class="entry-media">
              {%- if article.image -%}
                <a href="{{ article.url }}">
                  {%- assign image_item = article.image -%}
                  {%-assign width = image_item.width | default: 277.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
                  <div class="img__banner position-relative lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item, imw: 576 -%}" data-sizes="auto">
                  </div>
                </a>
              {%- endif -%}
              </figure>
              <div class="entry-body text-center{%unless block.settings.use_short_desc%} hide_desc{%endunless%}">
                <div class="entry-meta">
                  <a href="#">{{ article.published_at | date: format: "article_published_at" }}</a>
                  {%- if blog_.comments_enabled? -%}
                  <span class="comment">, {{'blogs.comments.comments_with_count'|t:count:article.comments_count}}</span>
                  {%- endif -%}
                </div>
                <h2 class="entry-title">
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </h2>
                <div class="entry-content">
                {%-if block.settings.use_short_desc-%}
                  <p>{%if article.excerpt != blank%}{{article.excerpt}}{%else%}{{article.content|strip_html|truncate:100}}{%endif%}</p>
                {%-endif-%}
                  <a href="{{ article.url }}" class="btn btn-link read-more">{{'blogs.general.read_more_button'|t}}</a>
                </div>
              </div>
            </article>
          </div>
          {%-endfor-%}
        </div>
        {%- endif -%}
        {%- if blog_.title != blank and blog_.articles_count > limit_blog and block.settings.load_btn -%}
        <div class="more-container text-center mt-3 mb-5">
          <a href="{{blogs[block.settings.blog].url}}" class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more">{{'blogs.general.loadmore_html'|t}}</a>
        </div>
        {%- endif -%}
        {%- endif -%}
      {%- when '2' -%}
        {%- if block.settings.blog != blank -%}
        {%- assign blog_ = blogs[block.settings.blog] -%}
        {%- assign limit_blog = block.settings.limit -%}
        {%- assign responsive_ = block.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
        {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        <div class="swiper-container-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
          <div class="swiper-container swiper-container-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block.id}}" data-next-el=".sw-btn-next-{{block.id}}" data-pagination=".swiper-pagination-{{block.id}}"{%- if section.settings.use_lazyload -%} data-observer="true"{%- endif -%}>
            {%- if section.settings.use_lazyload -%}
            <div class="swiper-wrapper{%if blog_.title != blank%} lazyload{%endif%}" data-include="{{blogs[block.settings.blog].url}}?q=limit_{{limit_blog}}+limitpr_+layout_2&view=articlesAjax">
              {%-for i in (1..block.settings.limit)-%}
              <div class="swiper-slide">
                <article class="item-blog"><div class="animated-background mb-2" style="padding-bottom: 56.25%"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div>
                </article>
              </div>
              {%-endfor-%}
            </div>
            {%- else -%}
            <div class="swiper-wrapper">
              {%- for article in blog_.articles limit: limit_blog -%}
              <div class="swiper-slide">
                <article class="item-blog type02 entry entry-display mb-0i">
                  <figure class="entry-media">
                  {%- if article.image -%}
                    <a href="{{ article.url }}">
                      {%- assign image_item = article.image -%}
                      {%-assign width = image_item.width | default: 277.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
                      <div class="img__banner position-relative lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item, imw: 576 -%}" data-sizes="auto">
                      </div>
                    </a>
                  {%- endif -%}
                  </figure>
                  <div class="entry-body text-center">
                    <div class="entry-meta">
                      <a href="#">{{ article.published_at | date: format: "article_published_at" }}</a>
                      {%- if blog_.comments_enabled? -%}
                      <span class="comment">, {{'blogs.comments.comments_with_count'|t:count:article.comments_count}}</span>
                      {%- endif -%}
                    </div>
                    <h2 class="entry-title">
                      <a href="{{ article.url }}">{{ article.title }}</a>
                    </h2>
                    <div class="entry-content">
                      <a href="{{ article.url }}" class="btn btn-link read-more">{{'blogs.general.read_more_button'|t}}</a>
                    </div>
                  </div>
                </article>
              </div>
              {%-endfor-%}
            </div>
            {%- endif -%}
            {%- if block.settings.use_dots -%}
            <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block.id}}"></div>
            {%- endif -%}
          </div>
          {%- if block.settings.use_navigation -%}
          <div class="swiper-buttons position-absolute"{%if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left'%} style="margin-top: -{{block.settings.margin_btitle|plus: 1.6}}rem"{%endif%}>
            <div class="content-buttons position-relative">
              <div class="swiper-button-prev sw-btn-prev-{{block.id}} fkt-angle-left fkt-2x fkt-va"></div>
              <div class="swiper-button-next sw-btn-next-{{block.id}} fkt-angle-right fkt-2x fkt-va"></div>
            </div>
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}
      {%- when '3' -%}
        {%- if block.settings.blog != blank -%}
        {%- assign blog_ = blogs[block.settings.blog] -%}
        {%- assign limit_blog = block.settings.limit -%}
        {%- assign responsive_ = block.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
        {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        <div class="swiper-container-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
          <div class="swiper-container swiper-container-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block.id}}" data-next-el=".sw-btn-next-{{block.id}}" data-pagination=".swiper-pagination-{{block.id}}"{%- if section.settings.use_lazyload -%} data-observer="true"{%- endif -%}>
          {%- if section.settings.use_lazyload -%}
            <div class="swiper-wrapper{%if blog_.title != blank%} lazyload{%endif%}" data-include="{{blogs[block.settings.blog].url}}?q=limit_{{limit_blog}}+limitpr_+layout_3&view=articlesAjax">
              {%-for i in (1..block.settings.limit)-%}
              <div class="swiper-slide">
                <article class="item-blog"><div class="animated-background mb-2" style="padding-bottom: 56.25%"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div>
                </article>
              </div>
              {%-endfor-%}
            </div>
          {%- else -%}
            <div class="swiper-wrapper">
              {%- for article in blog_.articles limit: limit_blog -%}
              <div class="swiper-slide{{grid_item_width}}">
                <article class="item-blog type03 entry entry-display">
                  <figure class="entry-media">
                  {%- if article.image -%}
                    <a href="{{ article.url }}">
                      {%- assign image_item = article.image -%}
                      {%-assign width = image_item.width | default: 277.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
                      <div class="img__banner position-relative lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item, imw: 576 -%}" data-sizes="auto">
                      </div>
                    </a>
                  {%- endif -%}
                  </figure>
                  <div class="entry-body text-center">
                    <div class="entry-meta">
                      <a href="#">{{ article.published_at | date: format: "article_published_at" }}</a>
                      {%- if blog_.comments_enabled? -%}
                      <span class="comment">, {{'blogs.comments.comments_with_count'|t:count:article.comments_count}}</span>
                      {%- endif -%}
                    </div>
                    <h2 class="entry-title">
                      <a href="{{ article.url }}">{{ article.title }}</a>
                    </h2>
                    <div class="entry-content">
                      <p>{%if article.excerpt != blank%}{{article.excerpt}}{%else%}{{article.content|strip_html|truncate:100}}{%endif%}</p>
                      <a href="{{ article.url }}" class="btn btn-link read-more">{{'blogs.general.read_more_button'|t}}</a>
                    </div>
                  </div>
                </article>
              </div>
              {%-endfor-%}
            </div>
          {%- endif -%}
          {%- if block.settings.use_dots -%}
          <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block.id}}"></div>
          {%- endif -%}
          {%- if blog_.title != blank and blog_.articles_count > limit_blog and block.settings.load_btn -%}
          <div class="more-container text-center mt-3 mb-5">
            <a href="{{blogs[block.settings.blog].url}}" class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more">{{'blogs.general.loadmore_html'|t}}</a>
          </div>
          {%- endif -%}
          </div>
          {%- if block.settings.use_navigation -%}
          <div class="swiper-buttons position-absolute"{%if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left'%} style="margin-top: -{{block.settings.margin_btitle|plus: 1.6}}rem"{%endif%}>
            <div class="content-buttons position-relative">
              <div class="swiper-button-prev sw-btn-prev-{{block.id}} fkt-angle-left fkt-2x fkt-va"></div>
              <div class="swiper-button-next sw-btn-next-{{block.id}} fkt-angle-right fkt-2x fkt-va"></div>
            </div>
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}
      {%- when '4' -%}
        {%- if block.settings.blog != blank -%}
        {%- assign blog_ = blogs[block.settings.blog] -%}
        {%- assign limit_blog = block.settings.limit -%}
        {%- assign responsive_ = block.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
        {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        <div class="swiper-container-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
          <div class="swiper-container swiper-container-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block.id}}" data-next-el=".sw-btn-next-{{block.id}}" data-pagination=".swiper-pagination-{{block.id}}"{%- if section.settings.use_lazyload -%} data-observer="true"{%- endif -%}>
            {%- if section.settings.use_lazyload -%}
              <div class="swiper-wrapper{%if blog_.title != blank%} lazyload{%endif%}" data-include="{{blogs[block.settings.blog].url}}?q=limit_{{limit_blog}}+limitpr_+layout_4&view=articlesAjax">
                {%-for i in (1..block.settings.limit)-%}
                <div class="swiper-slide">
                  <article class="item-blog"><div class="animated-background mb-2" style="padding-bottom: 56.25%"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div>
                  </article>
                </div>
                {%-endfor-%}
              </div>
            {%- else -%}
              <div class="swiper-wrapper">
                {%- for article in blog_.articles limit: limit_blog -%}
                <div class="swiper-slide{{grid_item_width}}">
                  <article class="item-blog type04 entry{%if block.settings.use_shadow%} entry-display{%endif%}">
                    <figure class="entry-media">
                    {%- if article.image -%}
                      <a href="{{ article.url }}">
                        {%- assign image_item = article.image -%}
                        {%-assign width = image_item.width | default: 277.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
                        <div class="img__banner position-relative lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item, imw: 576 -%}" data-sizes="auto">
                        </div>
                      </a>
                    {%- endif -%}
                    </figure>
                    <div class="entry-body">
                      <div class="entry-meta">
                        <a href="#">{{ article.published_at | date: format: "article_published_at" }}</a>
                        {%- if blog_.comments_enabled? -%}
                        <span class="comment">, {{'blogs.comments.comments_with_count'|t:count:article.comments_count}}</span>
                        {%- endif -%}
                      </div>
                      <h2 class="entry-title">
                        <a href="{{ article.url }}">{{ article.title }}</a>
                      </h2>
                      <div class="entry-content">                        
                        <p>{%if article.excerpt != blank%}{{article.excerpt}}{%else%}{{article.content|strip_html|truncate:100}}{%endif%}</p>
                        <a href="{{ article.url }}" class="btn btn-link read-more">{{'blogs.general.read_more_button'|t}}</a>
                      </div>
                    </div>
                  </article>
                </div>
                {%-endfor-%}
              </div>
            {%- endif -%}
            {%- if block.settings.use_dots -%}
            <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block.id}}"></div>
            {%- endif -%}
            {%- if blog_.title != blank and blog_.articles_count > limit_blog and block.settings.load_btn -%}
            <div class="more-container text-center mt-3 mb-5">
              <a href="{{blogs[block.settings.blog].url}}" class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more">{{'blogs.general.loadmore_html'|t}}</a>
            </div>
            {%- endif -%}
          </div>
          {%- if block.settings.use_navigation -%}
          <div class="swiper-buttons position-absolute"{%if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left'%} style="margin-top: -{{block.settings.margin_btitle|plus: 1.6}}rem"{%endif%}>
            <div class="content-buttons position-relative">
              <div class="swiper-button-prev sw-btn-prev-{{block.id}} fkt-angle-left fkt-2x fkt-va"></div>
              <div class="swiper-button-next sw-btn-next-{{block.id}} fkt-angle-right fkt-2x fkt-va"></div>
            </div>
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}
      {%- when '5' -%}
        {%- if block.settings.blog != blank -%}
        {%- assign blog_ = blogs[block.settings.blog] -%}
        {%- assign limit_blog = block.settings.limit -%}
        {%- assign responsive_ = block.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
        {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        <div class="swiper-container-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
          <div class="swiper-container swiper-container-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block.id}}" data-next-el=".sw-btn-next-{{block.id}}" data-pagination=".swiper-pagination-{{block.id}}"{%- if section.settings.use_lazyload -%} data-observer="true"{%- endif -%}>
            {%- if section.settings.use_lazyload -%}
              <div class="swiper-wrapper{%if blog_.title != blank%} lazyload{%endif%}" data-include="{{blogs[block.settings.blog].url}}?q=limit_{{limit_blog}}+limitpr_+layout_4&view=articlesAjax">
                {%-for i in (1..block.settings.limit)-%}
                <div class="swiper-slide">
                  <article class="item-blog"><div class="animated-background mb-2" style="padding-bottom: 56.25%"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div>
                  </article>
                </div>
                {%-endfor-%}
              </div>
            {%- else -%}
              <div class="swiper-wrapper">
                {%- for article in blog_.articles limit: limit_blog -%}
                <div class="swiper-slide{{grid_item_width}}">
                  <article class="item-blog type05 entry">
                    <figure class="entry-media">
                    {%- if article.image -%}
                      <a href="{{ article.url }}">
                        {%- assign image_item = article.image -%}
                        {%-assign width = image_item.width | default: 277.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
                        <div class="img__banner position-relative lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item, imw: 576 -%}" data-sizes="auto">
                        </div>
                      </a>
                    {%- endif -%}
                    </figure>
                    <div class="entry-body">
                      <div class="entry-meta">
                        <a href="#">{{ article.published_at | date: format: "article_published_at" }}</a>
                        {%- if blog_.comments_enabled? -%}
                        <span class="comment">, {{'blogs.comments.comments_with_count'|t:count:article.comments_count}}</span>
                        {%- endif -%}
                      </div>
                      <h2 class="entry-title">
                        <a href="{{ article.url }}">{{ article.title }}</a>
                      </h2>
                      <div class="entry-content">
                        <a href="{{ article.url }}" class="btn btn-link read-more">{{'blogs.general.read_more_button'|t}}</a>
                      </div>
                    </div>
                  </article>
                </div>
                {%-endfor-%}
              </div>
            {%- endif -%}
            {%- if block.settings.use_dots -%}
            <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block.id}}"></div>
            {%- endif -%}
            {%- if blog_.title != blank and blog_.articles_count > limit_blog and block.settings.load_btn -%}
            <div class="more-container text-center mt-3 mb-5">
              <a href="{{blogs[block.settings.blog].url}}" class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more">{{'blogs.general.loadmore_html'|t}}</a>
            </div>
            {%- endif -%}
          </div>
          {%- if block.settings.use_navigation -%}
          <div class="swiper-buttons position-absolute"{%if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left'%} style="margin-top: -{{block.settings.margin_btitle|plus: 1.6}}rem"{%endif%}>
            <div class="content-buttons position-relative">
              <div class="swiper-button-prev sw-btn-prev-{{block.id}} fkt-angle-left fkt-2x fkt-va"></div>
              <div class="swiper-button-next sw-btn-next-{{block.id}} fkt-angle-right fkt-2x fkt-va"></div>
            </div>
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}
      {%- when '6' -%}
        {%- if block.settings.blog != blank -%}
        {%- assign blog_ = blogs[block.settings.blog] -%}
        {%- assign limit_blog = block.settings.limit -%}
        {%- if block.settings.use_slide -%}
          {%- assign responsive_ = block.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
          {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
          <div class="swiper-container-fuild position-relative {{block.settings.nav_position}} nav-style{{block.settings.nav_style}} nav-mode-{{block.settings.nav_mode}}">
            <div class="swiper-container swiper-container-fshadow" data-breakpoints='{{responsive_}}' data-autoplay="{{block.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{block.settings.use_dots}}" data-nav="{{block.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{block.id}}" data-next-el=".sw-btn-next-{{block.id}}" data-pagination=".swiper-pagination-{{block.id}}"{%- if section.settings.use_lazyload -%} data-observer="true"{%- endif -%}>
              {%- if section.settings.use_lazyload -%}
                <div class="swiper-wrapper{%if blog_.title != blank%} lazyload{%endif%}" data-include="{{blogs[block.settings.blog].url}}?q=limit_{{limit_blog}}+limitpr_+layout_6&view=articlesAjax">
                  {%-for i in (1..block.settings.limit)-%}
                  <div class="swiper-slide">
                    <article class="item-blog"><div class="animated-background mb-2" style="padding-bottom: 56.25%"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div>
                    </article>
                  </div>
                  {%-endfor-%}
                </div>
              {%- else -%}
                <div class="swiper-wrapper">
                  {%- for article in blog_.articles limit: limit_blog -%}
                  <div class="swiper-slide">
                    <article class="item-blog">
                      <figure class="entry-media" style="margin-bottom: 0">
                      {%- if article.image -%}
                        <a href="{{ article.url }}">
                          {%- assign image_item = article.image -%}
                          {%-assign width = image_item.width | default: 277.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
                          <div class="img__banner position-relative lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item, imw: 576 -%}" data-sizes="auto"></div>
                        </a>
                      {%- endif -%}
                      </figure>
                      <div class="entry-body" style="padding-top: {{block.settings.margin_btitle}}rem">
                        <div class="entry-meta">
                          <a href="#">{{ article.published_at | date: format: "article_published_at" }}</a>{%- if blog_.comments_enabled? -%}
                          <span class="comment"><span class="comma pr-1">,</span>{{'blogs.comments.comments_with_count'|t:count:article.comments_count}}</span>{%- endif -%}
                        </div>
                        <h2 class="entry-title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                        <div class="entry-content">
                          <p>{%if article.excerpt != blank%}{{article.excerpt}}{%else%}{{article.content|strip_html|truncate:100}}{%endif%}</p><a href="{{ article.url }}" class="btn btn-link read-more">{{'blogs.general.read_more_button'|t}}</a>
                        </div>
                      </div>
                    </article>
                  </div>
                  {%-endfor-%}
                </div>
              {%- endif -%}
              {%- if block.settings.use_dots -%}
              <div class="swiper-pagination swiper-pagination-{{block.settings.dots_mode}} swiper-pagination-{{block.settings.dots_position}} swiper-pagination-{{block.id}}"></div>
              {%- endif -%}
              {%- if blog_.title != blank and blog_.articles_count > limit_blog and block.settings.load_btn -%}
              <div class="more-container text-center mt-3 mb-5">
                <a href="{{blogs[block.settings.blog].url}}" class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more">{{'blogs.general.loadmore_html'|t}}</a>
              </div>
              {%- endif -%}
            </div>
            {%- if block.settings.use_navigation -%}
            <div class="swiper-buttons position-absolute"{%if block.settings.nav_position == 'nav-top-right' or block.settings.nav_position == 'nav-top-left'%} style="margin-top: -{{block.settings.margin_btitle|plus: 1.6}}rem" {%endif%}>
              <div class="content-buttons position-relative">
                <div class="swiper-button-prev sw-btn-prev-{{block.id}} fkt-angle-left fkt-2x fkt-va"></div>
                <div class="swiper-button-next sw-btn-next-{{block.id}} fkt-angle-right fkt-2x fkt-va"></div>
              </div>
            </div>
            {%- endif -%}
          </div>
        {%- else -%}
          {%- assign limit_blog = block.settings.limit_per_row -%}
          {%- case limit_blog -%}
            {%- when 2 -%}
            {%- assign grid_item_width = ' col-sm-6' -%}
            {%- when 3 -%}
            {%- assign grid_item_width = ' col-sm-6 col-lg-4' -%}
            {%- when 4 -%}
            {%- assign grid_item_width = ' col-sm-6 col-md-6 col-lg-3' -%}
            {%- when 5 -%}
            {%- assign grid_item_width = ' col-sm-6 col-md-4 col-lg-2-10' -%}
            {%- when 6 -%}
            {%- assign grid_item_width = ' col-sm-6 col-md-4 col-md-2-10 col-xl-2' -%}
          {%- endcase -%}          
          {%- if section.settings.use_lazyload -%}
          <div class="lastest-blog row{%if blog_.title != blank%} lazyload{%endif%}" data-include="{{blogs[block.settings.blog].url}}?q=limit_{{limit_blog}}+limitpr_{{limit_blog}}+layout_6&view=articlesAjax">
            {%-for i in (1..block.settings.limit)-%}
            <div class="{{grid_item_width}}">
              <article class="item-blog"><div class="animated-background mb-2" style="padding-bottom: 56.25%"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div>
              </article>
            </div>
            {%-endfor-%}
          </div>
          {%- else -%}
          <div class="lastest-blog row">
            {%- for article in blog_.articles limit: limit_blog -%}
            <div class="{{grid_item_width}}">
              <article class="item-blog">
                <figure class="entry-media" style="margin-bottom: 0">
                {%- if article.image -%}
                  <a href="{{ article.url }}">
                    {%- assign image_item = article.image -%}
                    {%-assign width = image_item.width | default: 277.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
                    <div class="img__banner position-relative lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item, imw: 576 -%}" data-sizes="auto"></div>
                  </a>
                {%- endif -%}
                </figure>
                <div class="entry-body" style="padding-top: {{block.settings.margin_btitle}}rem">
                  <div class="entry-meta">
                    <a href="#">{{ article.published_at | date: format: "article_published_at" }} </a>
                    {%- if blog_.comments_enabled? -%}
                    <span class="comment"><span class="comma">,</span>{{'blogs.comments.comments_with_count'|t:count:article.comments_count}}</span>
                    {%- endif -%}
                  </div>
                  <h2 class="entry-title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                  <div class="entry-content">
                    <p>{%if article.excerpt != blank%}{{article.excerpt}}{%else%}{{article.content|strip_html|truncate:100}}{%endif%}</p><a href="{{ article.url }}" class="btn btn-link read-more">{{'blogs.general.read_more_button'|t}}</a>
                  </div>
                </div>
              </article>
            </div>
            {%-endfor-%}
          </div>
          {%- endif -%}
          {%- if blog_.title != blank and blog_.articles_count > limit_blog and block.settings.load_btn -%}
          <div class="more-container text-center mt-3 mb-5">
            <a href="{{blogs[block.settings.blog].url}}" class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%} button-more">{{'blogs.general.loadmore_html'|t}}</a>
          </div>
          {%- endif -%}
        {%- endif -%}
        {%- endif -%}
        {%-capture banner-css-%}
        {%-style-%}
          .md_blog .item-blog .entry-body {
            text-align: {{block.settings.content_align | remove: 'text-' | default: 'inherit'}};
          }
          {%-if block.settings.content_align == 'text-center'-%}
          .md_blog .item-blog .entry-body .entry-meta {
            -ms-flex-pack: center;
            justify-content: center;
          }
          {%-endif-%}
          {%-if block.settings.content_align == 'text-right'-%}
          .md_blog .item-blog .entry-body .entry-meta {
            -ms-flex-pack: end;
            justify-content: flex-end;
          }
          {%-endif-%}
          .md_blog .item-blog .entry-title {
            color: {{section.settings.color_title}};
            font-size: {{section.settings.fsize_stitle}}rem;
            font-weight: {{section.settings.fweight_title}};
            margin-bottom: {{section.settings.margin_btitle}}rem;
          }
          .md_blog .entry-content p {
            color: {{section.settings.color_desc}};
            font-size: {{section.settings.fsize_description}}rem;
            font-weight: {{section.settings.fweight_description}};
            margin-bottom: {{section.settings.margin_bdescription}}rem;
          }
          {%- if block.settings.use_bg -%}
          .md_blog .item-blog{
            color: #999;
            background-color: #fff;
            font-size: 1.5rem;
            line-height: 1.73;
            letter-spacing: -.01em;
            height: 100%;
          }
          .md_blog .item-blog .entry-body{
            padding: 1.5rem 2rem 2rem;
          }
          {%- endif -%}
          {%-if block.settings.use_shadow-%}
            .md_blog .item-blog {
              transition: box-shadow .35s ease;
            }              
            .md_blog .item-blog .entry-body {
                padding: 0 2rem 2.5rem;
            }              
            .md_blog .item-blog:hover {
              box-shadow: 5px 5px 10px rgba(0,0,0, .03), -5px 5px 10px rgba(0,0,0, .03);
            }
          {%- endif -%}
          {%- unless block.settings.use_date -%}
          .md_blog .entry-meta > a{
            display: none;
          }
          {%- endunless -%}
          {%- unless block.settings.use_content -%}
          .md_blog .entry-content > p{
            display: none;
          }
          {%- endunless -%}
          {%- unless block.settings.use_readmore -%}
          .md_blog .read-more{
            display: none;
          }
          {%- endunless -%}
        {%-endstyle-%}
        {%-endcapture-%}
        {{- banner-css | strip_newlines | remove: '  ' | remove: '  ' -}}
      {%- endcase -%}
    {%- endfor -%}
    </div>
  </div>
</div>
{%-endunless-%}
{%- endif -%}
{% schema %}
  {
    "name": "Related post",
    "class": "md_blog",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Related post",
        "info": "Name section (in editor bar)"
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section?",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920x pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "select",
        "id": "fweight_title",
        "label": "Font weight Title",
        "options": [
          {
            "value": "300",
            "label": "300"
          },
          {
            "value": "400",
            "label": "400"
          },
          {
            "value": "500",
            "label": "500"
          },
          {
            "value": "600",
            "label": "600"
          }
        ],
        "default": "600"
      },
      {
        "type": "range",
        "id": "fsize_stitle",
        "label": "Font size Title",
        "min": 1.4,
        "max": 1.8,
        "step": 0.1,
        "unit": "rem",
        "default": 1.8
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Color title",
        "default": "#333"
      },
      {
        "type": "range",
        "id": "margin_btitle",
        "min": 0,
        "max": 2,
        "step": 0.1,
        "label": "Margin bottom of title",
        "default": 0.8
      },
      {
        "type": "select",
        "id": "fweight_description",
        "label": "Font weight Description",
        "options": [
          {
            "value": "300",
            "label": "300"
          },
          {
            "value": "400",
            "label": "400"
          },
          {
            "value": "500",
            "label": "500"
          },
          {
            "value": "600",
            "label": "600"
          }
        ],
        "default": "300"
      },
      {
        "type": "range",
        "id": "fsize_description",
        "label": "Font size Description",
        "min": 1.4,
        "max": 1.8,
        "step": 0.1,
        "unit": "rem",
        "default": 1.4
      },
      {
        "type": "color",
        "id": "color_desc",
        "label": "Color description",
        "default": "#999"
      },
      {
        "type": "range",
        "id": "margin_bdescription",
        "min": 0,
        "max": 2,
        "step": 0.1,
        "label": "Margin bottom of description",
        "default": 0.8
      },
      {
        "type":"checkbox",
        "id": "use_lazyload",
        "label": "Use lazyload?",
        "info": "Help speed up page loading."
      }
    ],
  	"blocks": [
      {
        "type": "1",
        "name": "Item blogs type01",
        "settings": [
          {
            "type": "header",
            "content": "===Title settings"
          },
          {
            "type": "text",
            "id": "title_section",
            "label": "Title",
            "default": "Latest From Our Blog"
          },
          {
            "type": "text",
            "id": "stitle_section",
            "label": "Subtitle",
            "default": "Get latest news from us!"
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of title",
            "default": 3
          },
          {
            "type": "header",
            "content": "===Blog settings"
          },
          {
            "type": "blog",
            "id": "blog",
            "label": "Choose blog"
          },
          {
            "type":"checkbox",
            "id": "use_short_desc",
            "label": "Use short description?"
          },
          {
            "type": "range",
            "id": "limit_per_row",
            "min": 2,
            "max": 6,
            "step": 1,
            "label": "Items per row",
            "default": 3
          },
          {
            "type": "header",
            "content": "Button loadmore"
          },
          {
            "type": "checkbox",
            "id": "load_btn",
            "label": "__Use load button?",
            "default": false
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button style",
            "default": "btn-outline-darker",
            "options": [
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-primary-white",
                "label": "White 2"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded",
            "label": "Button style radius",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Use shadow for button?"
          }
        ]
      },
      {
        "type": "2",
        "name": "Item blogs type02",
        "settings": [
          {
            "type": "header",
            "content": "===Title settings"
          },
          {
            "type": "text",
            "id": "title_section",
            "label": "Title",
            "default": "Latest From Our Blog"
          },
          {
            "type": "text",
            "id": "stitle_section",
            "label": "Subtitle",
            "default": "Get latest news from us!"
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of title",
            "default": 3
          },
          {
            "type": "header",
            "content": "===Blog settings"
          },
          {
             "type": "blog",
             "id": "blog",
             "label": "Choose blog"
          },
          {
            "type": "range",
            "id": "limit",
            "min": 0,
            "max": 12,
            "step": 1,
            "label": "Limit item",
            "default": 8
          },
          {
            "type": "header",
            "content": "===Slide settings"
          },
          {
            "type": "select",
            "id": "nav_style",
            "options": [
              {
                "value": "",
                "label": "Null"
              },
              {
                "value": "-default",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Style 1"
              },
              {
                "value": "2",
                "label": "Style 2"
              }
            ],
            "label": "Navigation style",
            "default": "1"
          },
          {
            "type": "select",
            "id": "nav_position",
            "options": [
              {
                "value": "nav-default",
                "label": "Default"
              },
              {
                "value": "nav-center-center",
                "label": "Center center"
              },
              {
                "value": "nav-center-outside",
                "label": "Center outside"
              },
              {
                "value": "nav-top-right",
                "label": "Top right"
              },
              {
                "value": "nav-top-left",
                "label": "Top left"
              }
            ],
            "label": "Navigation position",
            "default": "nav-default"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto-rotate slides",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "use_dots",
            "label": "Use dots"
          },
          {
            "type": "select",
            "id": "dots_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Dots mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "dots_position",
            "options": [
              {
                "value": "inside",
                "label": "Inside"
              },
              {
                "value": "outside",
                "label": "Outside"
              }
            ],
            "label": "Dots position",
            "default": "inside"
          },
          {
            "type": "textarea",
            "id": "responsive",
            "label": "Responsive",
            "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 20\n  },\n  \"320\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 20\n  },\n  \"768\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 20\n  },\n  \"992\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  },\n  \"1200\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  }\n}"
          }
        ]
      },
      {
        "type": "3",
        "name": "Item blogs type03",
        "settings": [
          {
            "type": "header",
            "content": "===Title settings"
          },
          {
            "type": "text",
            "id": "title_section",
            "label": "Title",
            "default": "Latest From Our Blog"
          },
          {
            "type": "text",
            "id": "stitle_section",
            "label": "Subtitle",
            "default": "Get latest news from us!"
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of title",
            "default": 3
          },
          {
            "type": "header",
            "content": "===Blog settings"
          },
          {
             "type": "blog",
             "id": "blog",
             "label": "Choose blog"
          },
          {
            "type": "range",
            "id": "limit",
            "min": 0,
            "max": 12,
            "step": 1,
            "label": "Limit item",
            "default": 8
          },
          {
            "type": "header",
            "content": "===Slide settings"
          },
          {
            "type": "select",
            "id": "nav_style",
            "options": [
              {
                "value": "",
                "label": "Null"
              },
              {
                "value": "-default",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Style 1"
              },
              {
                "value": "2",
                "label": "Style 2"
              }
            ],
            "label": "Navigation style",
            "default": "1"
          },
          {
            "type": "select",
            "id": "nav_position",
            "options": [
              {
                "value": "nav-default",
                "label": "Default"
              },
              {
                "value": "nav-center-center",
                "label": "Center center"
              },
              {
                "value": "nav-center-outside",
                "label": "Center outside"
              },
              {
                "value": "nav-top-right",
                "label": "Top right"
              },
              {
                "value": "nav-top-left",
                "label": "Top left"
              }
            ],
            "label": "Navigation position",
            "default": "nav-default"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto-rotate slides",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "use_dots",
            "label": "Use dots"
          },
          {
            "type": "textarea",
            "id": "responsive",
            "label": "Responsive",
            "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  },\n  \"375\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 10\n  },\n  \"768\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  },\n  \"992\": {\n    \"slidesPerView\": 4,\n    \"spaceBetween\": 20\n  },\n  \"1200\": {\n    \"slidesPerView\": 5,\n    \"spaceBetween\": 20\n  },\n  \"1500\": {\n    \"slidesPerView\": 6,\n    \"spaceBetween\": 20\n  }\n}"
          },
          {
            "type": "header",
            "content": "Button loadmore"
          },
          {
            "type": "checkbox",
            "id": "load_btn",
            "label": "Use load button?",
            "default": false
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button style",
            "default": "btn-outline-darker",
            "options": [
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-primary-white",
                "label": "White 2"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded",
            "label": "Button style radius",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Use shadow for button?"
          }
        ]
      },
      {
        "type": "4",
        "name": "Item blogs type04",
        "settings": [
          {
            "type": "header",
            "content": "===Title settings"
          },
          {
            "type": "text",
            "id": "title_section",
            "label": "Title",
            "default": "Latest From Our Blog"
          },
          {
            "type": "text",
            "id": "stitle_section",
            "label": "Subtitle",
            "default": "Get latest news from us!"
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of title",
            "default": 3
          },
          {
            "type": "header",
            "content": "===Blog settings"
          },
          {
             "type": "blog",
             "id": "blog",
             "label": "Choose blog"
          },
          {
            "type": "range",
            "id": "limit",
            "min": 0,
            "max": 12,
            "step": 1,
            "label": "Limit item",
            "default": 8
          },
          {
            "type":"checkbox",
            "id": "use_shadow",
            "label": "Hover box shadow?"
          },
          {
            "type": "header",
            "content": "===Slide settings"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "__Auto-rotate slides",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "use_navigation",
            "label": "__Use navigation?",
            "default": true
          },
          {
            "type": "select",
            "id": "nav_style",
            "options": [
              {
                "value": "-default",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Style 1"
              },
              {
                "value": "2",
                "label": "Style 2"
              }
            ],
            "label": "Navigation style",
            "default": "-default"
          },
          {
            "type": "select",
            "id": "nav_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Navigation mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "nav_position",
            "options": [
              {
                "value": "nav-default",
                "label": "Default"
              },
              {
                "value": "nav-center-center",
                "label": "Center center"
              },
              {
                "value": "nav-center-outside",
                "label": "Center outside"
              },
              {
                "value": "nav-top-right",
                "label": "Top right"
              },
              {
                "value": "nav-top-left",
                "label": "Top left"
              }
            ],
            "label": "Navigation position",
            "default": "nav-default"
          },
          {
            "type": "checkbox",
            "id": "use_dots",
            "label": "__Use dots?"
          },
          {
            "type": "select",
            "id": "dots_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Dots mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "dots_position",
            "options": [
              {
                "value": "inside",
                "label": "Inside"
              },
              {
                "value": "outside",
                "label": "Outside"
              }
            ],
            "label": "Dots position",
            "default": "inside"
          },
          {
            "type": "textarea",
            "id": "responsive",
            "label": "__Responsive",
            "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  },\n  \"375\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 10\n  },\n  \"768\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  },\n  \"992\": {\n    \"slidesPerView\": 4,\n    \"spaceBetween\": 20\n  },\n  \"1200\": {\n    \"slidesPerView\": 5,\n    \"spaceBetween\": 20\n  },\n  \"1500\": {\n    \"slidesPerView\": 6,\n    \"spaceBetween\": 20\n  }\n}"
          },
          {
            "type": "header",
            "content": "Button loadmore"
          },
          {
            "type": "checkbox",
            "id": "load_btn",
            "label": "__Use load button?",
            "default": false
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button style",
            "default": "btn-outline-darker",
            "options": [
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-primary-white",
                "label": "White 2"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded",
            "label": "Button style radius",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Use shadow for button?"
          }
        ]
      },
      {
        "type": "5",
        "name": "Item blogs type05",
        "settings": [
          {
            "type": "header",
            "content": "===Title settings"
          },
          {
            "type": "text",
            "id": "title_section",
            "label": "Title",
            "default": "Latest From Our Blog"
          },
          {
            "type": "text",
            "id": "stitle_section",
            "label": "Subtitle",
            "default": "Get latest news from us!"
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of title",
            "default": 3
          },
          {
            "type": "header",
            "content": "===Blog settings"
          },
          {
             "type": "blog",
             "id": "blog",
             "label": "Choose blog"
          },
          {
            "type": "range",
            "id": "limit",
            "min": 0,
            "max": 12,
            "step": 1,
            "label": "Limit item",
            "default": 8
          },
          {
            "type": "header",
            "content": "===Slide settings"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "__Auto-rotate slides",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "use_navigation",
            "label": "__Use navigation?",
            "default": true
          },
          {
            "type": "select",
            "id": "nav_style",
            "options": [
              {
                "value": "-default",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Style 1"
              },
              {
                "value": "2",
                "label": "Style 2"
              }
            ],
            "label": "Navigation style",
            "default": "-default"
          },
          {
            "type": "select",
            "id": "nav_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Navigation mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "nav_position",
            "options": [
              {
                "value": "nav-default",
                "label": "Default"
              },
              {
                "value": "nav-center-center",
                "label": "Center center"
              },
              {
                "value": "nav-center-outside",
                "label": "Center outside"
              },
              {
                "value": "nav-top-right",
                "label": "Top right"
              },
              {
                "value": "nav-top-left",
                "label": "Top left"
              }
            ],
            "label": "Navigation position",
            "default": "nav-default"
          },
          {
            "type": "checkbox",
            "id": "use_dots",
            "label": "__Use dots?"
          },
          {
            "type": "select",
            "id": "dots_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Dots mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "dots_position",
            "options": [
              {
                "value": "inside",
                "label": "Inside"
              },
              {
                "value": "outside",
                "label": "Outside"
              }
            ],
            "label": "Dots position",
            "default": "inside"
          },
          {
            "type": "textarea",
            "id": "responsive",
            "label": "__Responsive",
            "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 20\n  },\n  \"320\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 20\n  },\n  \"768\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 20\n  },\n  \"992\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  },\n  \"1200\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  }\n}"
          },
          {
            "type": "header",
            "content": "Button loadmore"
          },
          {
            "type": "checkbox",
            "id": "load_btn",
            "label": "__Use load button?",
            "default": false
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button style",
            "default": "btn-outline-darker",
            "options": [
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-primary-white",
                "label": "White 2"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded",
            "label": "Button style radius",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Use shadow for button?"
          }
        ]
      },
      {
        "type": "title",
        "name": "Item title",
        "settings": [
          {
            "type": "text",
            "id": "title_section",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "stitle_section",
            "label": "Subtitle"
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "url",
            "id": "link_to",
            "label": "Link to"
          },
          {
            "type": "text",
            "id": "name_link",
            "label": "Name link"
          },
          {
            "type": "select",
            "id": "style_link",
            "label": "Style link",
            "options": [
              { "value": "", "label": "Default" },
              { "value": "link-underline", "label": "Underline" }
            ],
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of title",
            "default": 3
          }
        ]
      },
      {
        "type": "title_2",
        "name": "Item title 2",
        "settings": [
          {
            "type": "text",
            "id": "title_section",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "url",
            "id": "link_to",
            "label": "Link to"
          },
          {
            "type": "text",
            "id": "name_link",
            "label": "Name link"
          },
          {
            "type": "select",
            "id": "style_link",
            "label": "Style link",
            "options": [
              { "value": "", "label": "Default" },
              { "value": "link-underline", "label": "Underline" }
            ],
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of title",
            "default": 3
          }
        ]
      },
      {
        "type": "6",
        "name": "Item blogs type06",
        "settings": [
          {
            "type": "header",
            "content": "===Blog settings"
          },
          {
             "type": "blog",
             "id": "blog",
             "label": "Choose blog"
          },
          {
            "type": "range",
            "id": "limit",
            "min": 0,
            "max": 12,
            "step": 1,
            "label": "Limit item",
            "default": 8
          },
          {
            "type": "select",
            "id": "content_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align content",
            "default": ""
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.2,
            "label": "Margin bottom of thumb",
            "default": 3
          },
          {
            "type":"checkbox",
            "id": "use_date",
            "label": "Show date?"
          },
          {
            "type":"checkbox",
            "id": "use_content",
            "label": "Show short content?"
          },
          {
            "type":"checkbox",
            "id": "use_readmore",
            "label": "Show readmore button?"
          },
          {
            "type":"checkbox",
            "id": "use_bg",
            "label": "Background box?",
            "default": true
          },
          {
            "type":"checkbox",
            "id": "use_shadow",
            "label": "Hover box shadow?"
          },
          {
            "type": "header",
            "content": "===Slide settings"
          },
          {
            "type": "range",
            "id": "limit_per_row",
            "min": 2,
            "max": 6,
            "step": 1,
            "label": "Items per row",
            "default": 3
          },
          {
            "type": "checkbox",
            "id": "use_slide",
            "label": "Use slide?"
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "__Auto-rotate slides",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "use_navigation",
            "label": "__Use navigation?",
            "default": true
          },
          {
            "type": "select",
            "id": "nav_style",
            "options": [
              {
                "value": "-default",
                "label": "Default"
              },
              {
                "value": "1",
                "label": "Style 1"
              },
              {
                "value": "2",
                "label": "Style 2"
              }
            ],
            "label": "Navigation style",
            "default": "-default"
          },
          {
            "type": "select",
            "id": "nav_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Navigation mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "nav_position",
            "options": [
              {
                "value": "nav-default",
                "label": "Default"
              },
              {
                "value": "nav-center-center",
                "label": "Center center"
              },
              {
                "value": "nav-center-outside",
                "label": "Center outside"
              },
              {
                "value": "nav-top-right",
                "label": "Top right"
              },
              {
                "value": "nav-top-left",
                "label": "Top left"
              }
            ],
            "label": "Navigation position",
            "default": "nav-default"
          },
          {
            "type": "checkbox",
            "id": "use_dots",
            "label": "__Use dots?"
          },
          {
            "type": "select",
            "id": "dots_mode",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "primary",
                "label": "Primary color"
              }
            ],
            "label": "Dots mode",
            "default": "default"
          },
          {
            "type": "select",
            "id": "dots_position",
            "options": [
              {
                "value": "inside",
                "label": "Inside"
              },
              {
                "value": "outside",
                "label": "Outside"
              }
            ],
            "label": "Dots position",
            "default": "inside"
          },
          {
            "type": "textarea",
            "id": "responsive",
            "label": "__Responsive",
            "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 20\n  },\n  \"320\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 20\n  },\n  \"768\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 20\n  },\n  \"992\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  },\n  \"1200\": {\n    \"slidesPerView\": 3,\n    \"spaceBetween\": 20\n  }\n}"
          },
          {
            "type": "header",
            "content": "Button loadmore"
          },
          {
            "type": "checkbox",
            "id": "load_btn",
            "label": "__Use load button?",
            "default": false
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button style",
            "default": "btn-outline-darker",
            "options": [
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-white",
                "label": "White"
              },
              {
                "value": "btn-primary-white",
                "label": "White 2"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-lightgray",
                "label": "Border lightgray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-darker",
                "label": "Border darker"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-outline-white-4",
                "label": "Border white 4"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded",
            "label": "Button style radius",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Use shadow for button?"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Related post",
        "category": "04. Section"
      }
    ]
  }
{% endschema %}