<!-- md_countdown_section_with_banner_1.liquid -->
{%- liquid
  capture st_card
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_hide_only_1_opt
  endcapture
  assign st_card = st_card | split: '|'  
  
  assign grid_ly = section.settings.product_grid_layout | default: st_card[3]

  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.blocks.size != 0-%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-assign typeBlocks = section.blocks | map: 'type'-%}
{%-render 'sc_css'-%}
<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}" data-section-id="{{ section.id }}" id="Countdown-{{ section.id }}" data-section-type="countdown-section">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">      
    <div class="section-width {{width_content_}}">
    	<div class="row align-items-center">
    		{%- for block in section.blocks -%}
    			{% if block.type == 'product' %}
	      		<div class="col-12 col-md-7 col-lg-9">
	      			<div class="p-2 deal bg-white">
		      			<div class="row no-gutters">
		      				<div class="col-12 col-lg-5">
    								<div class="deal-content wait-for-css">
    									<h4 class="text-primary">{{block.settings.titlex | replace : '<p>',''| replace: '</p>',''}}</h4>
    									<h2>{{block.settings.stitle | replace : '<p>',''| replace: '</p>',''}}</h2>
    									{%- if block.settings.product -%}
    									{%- assign product = all_products[block.settings.product] -%}
    									<h3 class="product-title">
    										<a href="{{product.url| within: collection}}" tabindex="0">{{product.title}}</a>
    									</h3>
                      {%- render "product-grid-item", product: product, grid_layout: '24', st_card: st_card -%}
                      <div class="product-parent-countdown d-flex flex-nowrap align-items-center">
    										<div class="kt_countdown style03{% unless product.metafields.event.countdown != blank or settings.time_countdown != blank%} kt_loop_bar{% endunless %} kt_countdown_page clearfix" data-time="{% if product.metafields.event.countdown != blank%}{{product.metafields.event.countdown}}{%elsif settings.time_countdown != blank%}{{settings.time_countdown}}{% endif %}"></div>
                      </div>
    									<a href="{{product.url| within: collection}}" class="btn btn-outline-darker">{{block.settings.name_btn}}</a>
    									{%- endif -%}
    								</div>
		      				</div>
		      				<div class="col-12 col-lg-7 order-first order-lg-last mb-2 mb-lg-0">
    								{%- assign image_item = block.settings.image -%}
    								{%-assign width = image_item.width | default: 480.00 -%}{%-assign height = image_item.height | default: 500.00 | plus: 0.00-%}
    								<a href="{{block.settings.image_link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image %} title="480x500 px"{% endunless %}></a>
		      				</div>
		      			</div>
	      			</div>
	      		</div>
    			{% else %}
	      		<div class="col-12 col-md-5 col-lg-3 mt-2 mt-md-0">
  						<div class="imgs--countdown_section_with_banner_1 position-relative {{block.settings.banner-effect}}">
  							{%- unless block.settings.desc == blank and block.settings.titlex == blank and block.settings.stitle == blank and block.settings.name_btn == blank -%}					    
  							<div class="text-content text-center position-absolute wait-for-css">
  								<p>{{block.settings.desc}}</p>
  								<h3>{{block.settings.titlex}}<br/><span class="stitle">{{block.settings.stitle}}</span></h3>
  								<a href="{{block.settings.image_link|default:'#'}}" class="btn {{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%}" aria-label="{{block.settings.name_btn| strip_html}}">{{block.settings.name_btn}}</a>
  							</div>
  						    {%- endunless -%}
  							{%- assign image_item = block.settings.image -%}
  							{%-assign width = image_item.width | default: 280.00 -%}{%-assign height = image_item.height | default: 540.00 | plus: 0.00-%}
  							<a href="{{block.settings.image_link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image %} title="280x540 px"{% endunless %}></a>
  						</div>
	      		</div>
    			{% endif %}
    		{%- endfor -%}
    	</div>
    </div>
    {%-capture banner-css-%}
    <noscript class="banner-css" data-section-type="md_countdown_section_with_banner_1">
      {%style%}
        .md_countdown_section_with_banner_1 .wait-for-css {
          display: block;
        }
        .imgs--countdown_section_with_banner_1 p {
          color: #666;
          margin-bottom: 0.5rem;
        }
        .imgs--countdown_section_with_banner_1 h3 {
          color: #333;
          font-weight: 600;
          font-size: 2.4rem;
          letter-spacing: -.025em;
          margin-bottom: 1.4rem;
        }
        .imgs--countdown_section_with_banner_1 h3 .stitle {
          color: var(--primary);
          padding-top: .5rem;
          display: block;
        }
        .imgs--countdown_section_with_banner_1 .btn {
          min-width: auto;
          padding: 0.5rem 2rem;
        }
        .imgs--countdown_section_with_banner_1 .text-content {
          z-index: 1;
          top: 5rem;
  	      left: 50%;
          width: 100%;
  	      transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
        }
        .md_countdown_section_with_banner_1 .deal-content{
          padding-top: 2rem;
          padding-bottom: 2rem;
        }
    		.md_countdown_section_with_banner_1 .deal-content .btn {
    		  padding-top: 1.15rem;
    		  padding-bottom: 1.15rem;
    		  font-weight: 500;
    		}
    		.md_countdown_section_with_banner_1 .deal-content h4 {
    		  font-weight: 300;
    		  font-size: 1.8rem;
    		  line-height: 1.3;
    		  letter-spacing: -0.01em;
    		  margin-bottom: 0.5rem;
    		}
    		.md_countdown_section_with_banner_1 .deal-content h2 {
    		  font-weight: 600;
    		  font-size: 3.4rem;
    		  margin-bottom: 2.6rem;
    		  line-height: 1.1;
    		  letter-spacing: -0.03em;
    		}
    		.md_countdown_section_with_banner_1 .deal-content h4 p,
    		.md_countdown_section_with_banner_1 .deal-content h2 p{
    			margin-bottom: 0;
    		}
    		.md_countdown_section_with_banner_1 .deal-content .product-title {
    		  font-weight: 600;
    		  font-size: 2.4rem;
    		  letter-spacing: -0.01em;
    		  margin-bottom: 0.7rem;
    		}
        .md_countdown_section_with_banner_1 .deal-content .product-title:hover a {
          color: var(--primary);
        }
    		.md_countdown_section_with_banner_1 .deal-content .product-title a {
    		  color: inherit;
    		}
    		.md_countdown_section_with_banner_1 .deal-content .product-price {
    		  font-weight: 600;
    		  font-size: 2.4rem;
    		  margin-bottom: 2.4rem;
    		}
    		.md_countdown_section_with_banner_1 .deal-content .kt_countdown{
    		  margin-bottom: 4rem;
    		}
        .md_countdown_section_with_banner_1 .deal-content .kt_countdown .block{
          color: #fff;
          background-color: var(--primary);
          border-color: var(--primary);
        }
    		.md_countdown_section_with_banner_1 .deal-content .kt_countdown .block .label{
    			font-size: 0;
    		}
    		.md_countdown_section_with_banner_1 .deal-content .kt_countdown .block .label:before{
    			font-size: 1.2rem;
    		}
    		.md_countdown_section_with_banner_1 .deal-content .kt_countdown .cdday .label:before{
    			content: '{{'general.countdown.count_down_day_mini' | t}}';
    		}
    		.md_countdown_section_with_banner_1 .deal-content .kt_countdown .cdhrs .label:before{
    			content: '{{'general.countdown.count_down_hours_mini' | t}}';
    		}
    		.md_countdown_section_with_banner_1 .deal-content .kt_countdown .cdmins .label:before{
    			content: '{{'general.countdown.count_down_minute_mini' | t}}';
    		}
    		.md_countdown_section_with_banner_1 .deal-content .kt_countdown .cdsecs .label:before{
    			content: '{{'general.countdown.count_down_seconds_mini' | t}}';
    		}
    		@media (min-width: 992px){
	        .md_countdown_section_with_banner_1 .deal-content{
	          padding-top: 3.5rem;
	          padding-right: 1rem;
	          padding-left: 3rem;
	        }
    			.md_countdown_section_with_banner_1 .deal-content h2 {
    			  font-size: 4rem;
    			  margin-bottom: 3.6rem;
    			}
    			.md_countdown_section_with_banner_1 .deal-content h4 {
    			  font-size: 2rem;
    			}
          .md_countdown_section_with_banner_1 .deal-content .kt_countdown span.flip-top{
            font-weight: 600;
          }
    		}

        @media (min-width: 1200px){
          .md_countdown_section_with_banner_1 .deal>.row .col-lg-5{
            -ms-flex: 0 0 47.9%;
            -webkit-box-flex: 0;
            flex: 0 0 47.9%;
            max-width: 47.9%;
          }
          .md_countdown_section_with_banner_1 .deal>.row .col-lg-7{
            -ms-flex: 0 0 52.1%;
            -webkit-box-flex: 0;
            flex: 0 0 52.1%;
            max-width: 52.1%;
          }
        }
      {%endstyle%}
    </noscript>
    {%-endcapture-%}
    {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
  </div>
</div>
{%- endunless-%}
{%-endif-%}
{% schema %}
  {
    "name": "Countdown and banner",
    "class": "md_countdown_section_with_banner_1",
    "settings": [
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Countdown and banner",
        "info": "Name section (in editor bar)"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "range",
        "id": "parallax_speed",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Parallax speed",
        "default": 0.2
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Item product",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title block",
            "default": "Product countdown",
            "info": "Name block (in editor bar)"
          },
          {
            "type": "header",
            "content": "Countdown"
          },
          {
            "type":"richtext",
            "id":"titlex",
            "label": "Title"
          },
          {
            "type":"richtext",
            "id":"stitle",
            "label": "Sub title"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type":"text",
            "id":"name_btn",
            "label": "Name button",
            "default":"Shop now<i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "header",
            "content": "Banners follow countdown"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Size suggestion: 480 x 500 px"
          }
        ]
      },
      {
        "type": "image",
        "name": "Item banner",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title block",
            "default": "Banner nearby",
            "info": "Name block (in editor bar)"
          },
          {
            "type": "header",
            "content": "Banners settings"
          },
          {
            "type": "select",
            "id": "banner-effect",
            "options": [
              {
                "value": "",
                "label": "None effect"
              },
              {
                "value": "banner-effect1",
                "label": "Banner effect 1"
              },
              {
                "value": "banner-effect2",
                "label": "Banner effect 2"
              },
              {
                "value": "banner-effect3",
                "label": "Banner effect 3"
              },
              {
                "value": "banner-effect4",
                "label": "Banner effect 4"
              },
              {
                "value": "banner-effect5",
                "label": "Banner effect 5"
              },
              {
                "value": "banner-effect6",
                "label": "Banner effect 6"
              },
              {
                "value": "banner-effect7",
                "label": "Banner effect 7"
              },
              {
                "value": "banner-effect8",
                "label": "Banner effect 8"
              }
            ],
            "label": "== Style hover",
            "default": ""
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image banner",
            "info": "Size suggestion: 280 x 500 px"
          },
          {
            "type": "url",
            "id": "image_link",
            "label": "Link to"
          },
          {
            "type":"textarea",
            "id":"desc",
            "label": "Desciption",
            "default":"The Best Choice"
          },
          {
            "type":"textarea",
            "id":"titlex",
            "label": "Title",
            "default":"AGEN"
          },
          {
            "type":"textarea",
            "id":"stitle",
            "label": "Sub title",
            "default": "$49.99"
          },
          {
            "type":"text",
            "id":"name_btn",
            "label": "Name button",
            "default":"Shop now<i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "select",
            "id": "style_btn",
            "label": "Button style",
            "default": "btn-outline-gray",
            "options": [
              {
                "value": "btn-primary",
                "label": "Default"
              },
              {
                "value": "btn-outline-primary-2",
                "label": "Border"
              },
              {
                "value": "btn-outline-gray",
                "label": "Border gray"
              },
              {
                "value": "btn-outline-dark",
                "label": "Border dark"
              },
              {
                "value": "btn-outline-white",
                "label": "Border white"
              },
              {
                "value": "btn-outline-white-2",
                "label": "Border white 2"
              },
              {
                "value": "btn-outline-white-3",
                "label": "Border white 3"
              },
              {
                "value": "btn-link",
                "label": "Simple Button"
              },
              {
                "value": "btn-link btn-link-dark",
                "label": "Simple Button dark"
              },
              {
                "value": "btn-underline",
                "label": "Underline Button"
              },
              {
                "value": "btn-underline btn-underline-dark",
                "label": "Underline Button dark"
              }
            ]
          },
          {
            "type": "select",
            "id": "style_btn_rounded",
            "label": "Button style radius",
            "options": [
              {
                "value": "",
                "label": "Square"
              },
              {
                "value": "btn-rounded",
                "label": "Rounded Corners"
              },
              {
                "value": "btn-round",
                "label": "Rounded"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "btn_shadow",
            "label": "Use shadow for button?"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Countdown and banner",
        "category": "04. Section",
        "blocks": [
          {
            "type": "product"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}