<!-- md_call_to_action_faq_page.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-assign typeBlocks = section.blocks | map: 'type'-%}
{%-render 'sc_css'-%}
<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">      
    <div class="section-width {{width_content_}} {%if section.settings.dark_mode%} dark-mode{%endif%}{%if section.settings.use_round%} round_mode{%endif%}">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
          <div class="cta cta-display">
            <div class="row no-gutters align-items-center">
              <div class="col">
                <h3 class="cta-title text-white">{{section.settings.title_section}}</h3>
                <p class="cta-desc text-white">{{section.settings.stitle_section}}</p>
              </div>

              <div class="col-auto">
                <a href="{{section.settings.link_to}}" class="btn btn-outline-white">
                  {{section.settings.name_link}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%-endunless-%}
{% schema %}
  {
    "name": "Call to Action",
    "class": "md_call_to_action",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Call to Action",
        "info": "Name section (in editor bar)"
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "radio",
        "id": "width_section",
        "label": "Max width section?",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920x pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "html",
        "id": "title_section",
        "label": "Title",
        "default": "If You Have More Questions"
      },
      {
        "type": "html",
        "id": "stitle_section",
        "label": "Subtitle",
        "default": "Quisque volutpat mattis eros"
      },
      {
        "type": "url",
        "id": "link_to",
        "label": "Link to"
      },
      {
        "type": "text",
        "id": "name_link",
        "label": "Name link",
        "default": "CONTACT US <i class=\"fkt-long-arrow-right\"><\/i>"
      }
    ]
  }
{% endschema %}