<!-- md_call_to_action_2.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.blocks.size != 0-%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-assign typeBlocks = section.blocks | map: 'type'-%}
{%-render 'sc_css'-%}
<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">      
    <div class="section-width {{width_content_}}{%if section.settings.dark_mode%} dark-mode{%endif%}{%if section.settings.use_round%} round_mode{%endif%}">
    {%- for block in section.blocks -%}
      {%- if block.type == 'item_title' -%}
      <div class="heading row no-gutters align-items-center justify-content{%if block.settings.name_link != blank%}-center justify-content-lg-between{%else%}-center{%endif%}">
        <div class="col-{%if block.settings.name_link != blank%}auto{%else%}12{%endif%}">
          <div class="section-title {{block.settings.title_align}} w-100">                
            {%- if block.settings.reverse -%}
            <p class="sub-title">{{block.settings.stitle_section}}</p>
            {%- endif -%}
            <h3 class="title">{{block.settings.title_section}}</h3>
            {%- unless block.settings.reverse -%}
            <p class="sub-title">{{block.settings.stitle_section}}</p>
            {%- endunless -%}
          </div>
        </div>
        {%- if block.settings.name_link != blank -%}
        <div class="col-auto">
          {%- if block.settings.link_to != blank -%}              
            <a href="{{block.settings.link_to}}" class="title-link {{block.settings.style_link}}" >{{block.settings.name_link}}</a>
          {%- else -%}
            <p class="sub-title">{{block.settings.name_link}}</p>
          {%- endif -%}
        </div>
        {%- endif -%}
      </div>
      {%- endif -%}
      {%- if block.type == 'design_1' -%}
      <div class="cta design_16" data-type-block="design_16">
        <div class="w-100">
          <h3 class="cta-title">{{block.settings.title|html}}</h3>
          <p class="cta-desc" style="margin-bottom: 2.5rem;">{{block.settings.description|html}}</p>
        </div>
        <div class="w-100">
          {% render 'kt_newsletter_form', section: section, class_form: 'newletter', style_btn: "btn-outline-white" %}
        </div>
      </div>
      {%- endif -%}
    {%- endfor -%}
    </div>
  </div>
</div>
{%-capture cta-css-%}
{%-style-%}
.content_{{section.id}} {
  --cl_title: {{section.settings.color_title}};
  --cl_desc: {{section.settings.color_desc}};
  --cl_placeholder: {{section.settings.color_placeholder}};
  --cl_text_iput: {{section.settings.color_text_input}};
  --cl_border_iput: {{section.settings.color_border_input}};
  --cl_bg_iput: {{section.settings.color_bg_input | default: 'transparent'}};
}
  .cta .cta-title,
  .cta .cta-title h3,
  .cta .cta-title h4,
  .cta .cta-icon{
    color: var(--cl_title);
  }
  .cta .cta-desc,
  .cta .cta-desc h4,
  .cta .cta-desc h3,
  .cta .newsletter-desc,
  .cta .form--success {
    color: var(--cl_desc);
  }
  .cta .input-group input::-webkit-input-placeholder {
    color: var(--cl_placeholder);
  }
  .cta .input-group input::-moz-placeholder {
    color: var(--cl_placeholder);
  }
  .cta .input-group input:-ms-input-placeholder {
    color: var(--cl_placeholder);
  }
  .cta .input-group input:-moz-placeholder {
    color: var(--cl_placeholder);
  }
  .cta .input-group input{
    color: var(--cl_text_iput);
    border-color: var(--cl_border_iput) !important;
    background-color: var(--cl_bg_iput);
  }
  {%-endstyle-%}
{%-endcapture-%}
{{ cta-css | strip_newlines | remove: '  ' | remove: '  ' }}
{%endunless%}
{%-endif-%}
{% schema %}
  {
    "name": "Call to Action",
    "class": "md_call_to_action md_call_to_action_2",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Call to Action",
        "info": "Name section (in editor bar)"
      },
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "radio",
        "id": "width_section",
        "label": "Max width section?",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?",
        "default": true
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920x pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type":"checkbox",
        "id": "use_round",
        "label": "Use round style?"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Color title",
        "default": "#333"
      },
      {
        "type": "color",
        "id": "color_desc",
        "label": "Color description",
        "default": "#ccc"
      },
      {
        "type": "color",
        "id": "color_text_input",
        "label": "Color text input",
        "default": "#999"
      },
      {
        "type": "color",
        "id": "color_border_input",
        "label": "Color border input",
        "default": "#dadada"
      },
      {
        "type": "color",
        "id": "color_placeholder",
        "label": "Color placeholder input",
        "default": "#999"
      },
      {
        "type": "color",
        "id": "color_bg_input",
        "label": "Color background input",
        "default": "#fff"
      },
      {
        "type": "checkbox",
        "id": "preview",
        "label": "[* Preview design](#)"
      }
    ],
    "blocks": [
      {
        "type": "item_title",
        "name": "Item Title section",
        "settings": [
          {
            "type": "html",
            "id": "title_section",
            "label": "Title",
            "default": "Titles"
          },
          {
            "type": "html",
            "id": "stitle_section",
            "label": "Subtitle",
            "default": "Quisque a lectus."
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "url",
            "id": "link_to",
            "label": "Link to"
          },
          {
            "type": "text",
            "id": "name_link",
            "label": "Name link",
            "default": "Click here to view <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "radio",
            "id": "style_link",
            "label": "Style link",
            "options": [
              { "value": "", "label": "Default" },
              { "value": "link-underline", "label": "Underline" }
            ],
            "default": ""
          }
        ]
      },
      {
        "type": "design_1",
        "name": "Design 1",
        "settings": [
          {
            "type": "html",
            "id": "title",
            "label": "Title",
            "default": "Sign up for email <br>&amp; get 25% off"
          },
          {
            "type": "html",
            "id": "description",
            "label": "Description",
            "default": "Subcribe to get information about products and coupons"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Call to Action",
        "category": "06. Sidebar homepage"
      }
    ]
  }
{% endschema %}