<!-- md_list_item_cattegories_2.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.blocks.size != 0-%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-assign typeBlocks = section.blocks | map: 'type'-%}
{%-render 'sc_css'-%}
<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">      
    <div class="section-width {{width_content_}}">
      {%- assign blocksSize = section.blocks.size -%}
      {%- if typeBlocks contains 'item_title' -%}
        {%- assign blocksSize = blocksSize | minus: 1 -%}
      {%- endif -%}
      {%- for block in section.blocks -%}
        {%- if block.type == 'item_title' -%}
        <div class="heading row no-gutters align-items-center justify-content{%if block.settings.name_link != blank%}-center justify-content-lg-between{%else%}-center{%endif%} mb-3">
          <div class="col-{%if block.settings.name_link != blank%}auto{%else%}12{%endif%}">
            <div class="section-title {{block.settings.title_align}} w-100">                
              {%- if block.settings.reverse -%}
              <p class="sub-title">{{block.settings.stitle_section}}</p>
              {%- endif -%}
              <h3 class="title">{{block.settings.title_section}}</h3>
              {%- unless block.settings.reverse -%}
              <p class="sub-title">{{block.settings.stitle_section}}</p>
              {%- endunless -%}
            </div>
          </div>
          {%- if block.settings.name_link != blank -%}
          <div class="col-auto">
            {%- if block.settings.link_to != blank -%}              
              <a href="{{block.settings.link_to}}" class="title-link {{block.settings.style_link}}" >{{block.settings.name_link}}</a>
            {%- else -%}
              <p class="sub-title">{{block.settings.name_link}}</p>
            {%- endif -%}
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}
      {%- endfor -%}
      <div class="box-tabs row flex-sm-row mb-0">
        {%- assign itemIdx = 0 -%}
        {%- for block in section.blocks -%}
          {%- if block.type == 'item' and block.settings.image -%}
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-2">
            <div class="item-card_list position-relative">
              <div class="text-content position-absolute wait-for-css">
                <h3 class="banner-title">{{block.settings.title}}</h3>
                <a href="{{block.settings.link|default:'#'}}" class="action" aria-label="{{block.settings.name_btn| strip_html}}">{{block.settings.name_btn}}</a>
              </div>
              {%- assign image_item = block.settings.image -%}
              {%-assign width = image_item.width | default: 335.00 -%}{%-assign height = image_item.height | default: 200.00 | plus: 0.00-%}
              <a href="{{block.settings.link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image %} title="335x200 px"{% endunless %}></a>
            </div>
          </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      {%-capture banner-css-%}
      <noscript class="banner-css" data-section-type="md_list_item_categories_2">
        {%style%}
          .md_list_item_categories_2 a.img__banner{
            z-index:0;
            min-height:170px
          }
          .md_list_item_categories_2 .banner-title{
            line-height: 1.13;
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: -.01em;
            margin-top: 0rem;
            margin-bottom: .3rem;
          }
          .md_list_item_categories_2 .text-content{
            z-index:1;
            top:50%;
            {{cssAlign}}:3rem;
            -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
            -ms-transform:translateY(-50%);
            padding-right:10px;
            padding-left:10px
          }
          .md_list_item_categories_2 .action {
            color: #777;
            padding-bottom: .3rem;
            letter-spacing: -.01em;
            border-bottom: 0.1rem solid transparent;
            transition: all .2s;
          }
          .md_list_item_categories_2 .action i {
            transform: translateX(-25px);
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
          }
          .md_list_item_categories_2 .action:hover {
            color: {{settings.color_primary}};
            border-color: {{settings.color_primary}};
          }
          .md_list_item_categories_2 .action:hover i,
          .md_list_item_categories_2 .action:focus i {
            visibility: visible;
            opacity: 1;
            transform: translateX(0px);
          }
        {%endstyle%}
      </noscript>
      {%-endcapture-%}
      {{ banner-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </div>
  </div>
</div>
{%- endunless-%}
{%-endif-%}

{% schema %}
  {
    "name": "List categories 2",
    "class": "md_list_item_categories_2",
    "settings": [
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "List categories",
        "info": "Name section (in editor bar)"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      }
    ],
    "blocks": [
      {
        "type": "item_title",
        "name": "Item title section",
        "settings": [
          {
            "type": "textarea",
            "id": "title_section",
            "label": "Title",
            "default": "Titles"
          },
          {
            "type": "textarea",
            "id": "stitle_section",
            "label": "Subtitle",
            "default": "Quisque a lectus."
          },
          {
            "type":"checkbox",
            "id": "reverse",
            "label": "Reverse title and subtitle?"
          },
          {
            "type": "select",
            "id": "title_align",
            "options": [
              {
                "value": "",
                "label": "Auto"
              },
              {
                "value": "text-center",
                "label": "Center"
              }
            ],
            "label": "Align title",
            "default": ""
          },
          {
            "type": "url",
            "id": "link_to",
            "label": "Link to"
          },
          {
            "type": "text",
            "id": "name_link",
            "label": "Name link",
            "default": "Click here to view <i class=\"fkt-long-arrow-right\"><\/i>"
          },
          {
            "type": "radio",
            "id": "style_link",
            "label": "Style link",
            "options": [
              { "value": "", "label": "Default" },
              { "value": "link-underline", "label": "Underline" }
            ],
            "default": ""
          }
        ]
      },
      {
        "type": "item",
        "name": "Item category",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Size suggestion: 335 x 200 px"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "FOOTWEAR"
          },
          {
            "type":"text",
            "id":"name_btn",
            "label": "Name button",
            "default":"SHOP NOW <i class=\"fkt-long-arrow-right\"><\/i>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "List categories 2",
        "category": "04. Section",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}