<!-- md_product_section_tab_banner.liquid -->
{%- if template.name != 'collection' -%}
{%- liquid
  capture st_card
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_hide_only_1_opt
  endcapture
  assign st_card = st_card | split: '|'  
  
  assign grid_ly = section.settings.product_grid_layout | default: st_card[3]

  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%-if section.blocks.size != 0-%}
{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%- assign typeBlocks = section.blocks | map: 'type' -%}
{%-render 'sc_css' -%}
<div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}" data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
  {%-for block in section.blocks-%}
  {%- assign pos_block = forloop.index0 -%}
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%} swiper-fixed-fshadow {{ block.shopify_attributes }}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%}>      
    <div class="section-width {{width_content_}} tab-list-ajax">
      <div class="section-title d-flex justify-content-between" style="margin-bottom:{{block.settings.margin_btitle}}rem">
        <ul class="list-group box-tabs list-unstyled" role="tablist">
          {%- assign hastab = false -%}
          {%-for i in (1..6)-%}
            {%-assign products = 'products_' | append: i-%}
            {%-assign block_id = block.id | append: i-%}
            {%-if block.settings[products] == blank-%}{%-continue-%}{%-else-%}{%-assign hastab = true-%}{%-endif-%}
            {%-unless frst_prds-%}{%-assign frst_prds = block.settings[products]-%}{%-endunless-%}
            <li>
              <a class="{{block.settings.t_tranform}}{% if forloop.first %} active{% endif %}" href="#tab-products-{{block.settings[products]}}{{block_id}}{{forloop.index}}" data-view="{{collections[block.settings[products]].url}}" data-toggle="list" role="tab" style="font-size: {{block.settings.fsize_name_tab}}rem">
                <span>{{collections[block.settings[products]].title | default: block.id}}</span>
              </a>
            </li>
          {%-endfor-%}
          {%- unless hastab -%}
          {%-for i in (1..6)-%}
            {%-assign products = 'products_' | append: i-%}
            {%-assign block_id = block.id | append: i-%}
            <li>
              <a class="{{block.settings.t_tranform}}{% if forloop.first %} active{% endif %}" href="#tab-products-{{block.settings[products]}}{{block_id}}{{forloop.index}}" data-toggle="list" role="tab" style="font-size: {{block.settings.fsize_name_tab}}rem">
                <span>{{block.id}}-{{forloop.index}}</span>
              </a>
            </li>
          {%-endfor-%}
          {%- endunless -%}
        </ul>
        {% if block.settings.load_btn %}
        <div class="button-more d-flex align-items-center">
          <a class="text-nowrap" href="{{collections[frst_prds].url}}" title="{{block.settings.name_btn|strip_html}}">{{block.settings.name_btn}}</a>
        </div>
        {% endif %}
      </div>
      <div class="row">
        {% if block.settings.use_banner %}
        <div class="col-12 col-md-4 col-lg-5 mb-2 mb-md-0">
          <div class="product-lg">
            {%- assign product = all_products[block.settings.image_link] | default: null -%}
            <figure class="product-media">
              <span class="product-label label-limited">{{block.settings.label}}</span>
              {%-assign image_item = block.settings.image -%}
              {%-assign width = image_item.width | default: 380.00 -%}{%-assign height = image_item.height | default: 340.00 | plus: 0.00-%}
              <a href="{{block.settings.image_link|default:'#'}}" class="img__banner lazyload" style="padding-bottom: {{height|divided_by: width | times: 100.00000000}}%;" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto" aria-label="{{shop.name | escape}}"{% unless block.settings.image %} title="380x340 px"{% endunless %}></a>
            </figure>
            <div class="product-body">
              <h3 class="save-price"><span>{{'products.product.save' | t }} {{ product.compare_at_price | minus: product.price | money }}</span></h3>
              <h3 class="product-title">
                <a href="{{product.url}}" tabindex="0">{{product.title}}</a>
              </h3>
              {%- render "product-grid-item", product: product, grid_layout: '24', st_card: st_card -%}
              <div class="action">
                <a href="{{product.url}}" class="btn btn-outline-primary btn-rounded text-uppercase btn-minwidth-auto">{{block.settings.name_btn_1}}</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="tab-product tab_load col-12{% if block.settings.use_banner %} col-md-8 col-lg-7{% endif %}">
          <div class="tab-content tab-container">
            {%- for i in (1..6)-%}
            {%-assign products = 'products_' | append: i-%}
            {%-assign block_id = block.id | append: i-%}
            {%- assign pos_tab = forloop.index -%}
              {%-if collections[block.settings[products]].title != blank -%}
                {%- assign BST_range_row = block.settings.range_row -%}
                {%- case block.settings.limit_per_row -%}
                {%- when 2 -%}
                {%- assign grid_item_width = ' col-xs-6' -%}
                {%- when 3 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4' -%}
                {%- when 4 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-lg-3' -%}
                {%- when 5 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-lg-2-10' -%}
                {%- when 6 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-md-2-10 col-xl-2' -%}
                {%- endcase -%}
                {% if forloop.first and section.settings.use_lazyload == false %}
                  <div id="tab-products-{{block.settings[products]}}{{block_id}}{{forloop.index}}" class="tab-pane fade{% if forloop.first %} show active{% endif %}" role="tabpanel">
                    <div class="products-card-grid">
                      <div class="product-list-grid p-style-15 row no-gutters"> 
                        {%-for product in collections[block.settings[products]].products limit: block.settings.limit-%}
                        <div class="grid-item{{grid_item_width}}" style="margin-bottom: {{BST_range_row}}rem">
                          {%- render "product-grid-item", product: product, grid_layout: '15', st_card: st_card -%}
                        </div>
                        {%-endfor-%}
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div id="tab-products-{{block.settings[products]}}{{block_id}}{{forloop.index}}" class="tab-pane fade{% if forloop.first %} show active{% endif %}" role="tabpanel">
                    <div class="products-card-grid">
                      <div class="product-list-grid p-style-15 row no-gutters lazyload loadvariant" data-include="{{collections[block.settings[products]].url}}/?section_id={{section.id}}&q={{pos_block}}+{{pos_tab}}">
                        {%-for i in (1..block.settings.limit)-%}
                        <div class="grid-item{{grid_item_width}}"><div class="animated-background aspectRatio mb-2"></div><div class="animated-background box-line-sm"></div><div class="animated-background box-line-xs mb-3i"></div></div>
                        {%-endfor-%}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {%- elsif hastab == false -%}
                {%- case block.settings.limit_per_row -%}
                {%- when 2 -%}
                {%- assign grid_item_width = ' col-xs-6' -%}
                {%- when 3 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4' -%}
                {%- when 4 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-lg-3' -%}
                {%- when 5 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-lg-2-10' -%}
                {%- when 6 -%}
                {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-md-2-10 col-xl-2' -%}
                {%- endcase -%}
                <div id="tab-products-{{block.settings[products]}}{{block_id}}{{forloop.index}}" class="tab-pane fade{% if forloop.first %} show active{% endif %}" role="tabpanel">
                  <div class="products-card-grid">
                    <div class="product-list-grid p-style-15 row no-gutters"> 
                      {%- assign BST_range_row = block.settings.range_row -%} 
                      {%-for i in (1..block.settings.limit)-%}
                      <div class="grid-item{{grid_item_width}}" style="margin-bottom: {{BST_range_row}}rem">
                        {%- render "product-grid-item", product: product, grid_layout: '15', st_card: st_card -%}
                      </div>
                      {%-endfor-%}
                    </div>
                  </div>
                </div>
              {%-endif-%}
            {%-endfor-%}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- endfor-%}
</div>
{%- endunless-%}
{%- endif -%}
{%- else -%}
<!--lz_sc-->
{%- liquid
  capture st_card
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_hide_only_1_opt
  endcapture
  assign st_card = st_card | split: '|'  
  
  assign grid_ly = section.settings.product_grid_layout | default: st_card[3]
-%}
  {%- assign q = canonical_url | split: 'q=' | last | split: '+' -%}
  {%- assign q0 = q[0] | plus: 0 -%}
  {%- assign block = section.blocks[q0] -%}
  {%- assign i = q[1] | plus: 0 -%}
  {%- assign products = 'products_' | append: i-%}
  {%- case block.settings.limit_per_row -%}
  {%- when 2 -%}
  {%- assign grid_item_width = ' col-xs-6' -%}
  {%- when 3 -%}
  {%- assign grid_item_width = ' col-xs-6 col-sm-4' -%}
  {%- when 4 -%}
  {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-lg-3' -%}
  {%- when 5 -%}
  {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-lg-2-10' -%}
  {%- when 6 -%}
  {%- assign grid_item_width = ' col-xs-6 col-sm-4 col-md-2-10 col-xl-2' -%}
  {%- endcase -%}
  {%- assign BST_range_row = block.settings.range_row -%} 
  {%-for product in collections[block.settings[products]].products limit: block.settings.limit-%}
  <div class="grid-item{{grid_item_width}}" style="margin-bottom: {{BST_range_row}}rem">
    {%- render "product-grid-item", product: product, grid_layout: '15', st_card: st_card -%}
  </div>
  {%-endfor-%}
<!--lz_sc-->
{%- endif -%}

{% schema %}
  {
    "name": "Tab(grid) + Banner",
    "class": "md_products_section md_products_section_tab_banner",
    "settings": [
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Tab(grid) + Banner",
        "info": "Name section (in editor bar)"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type": "select",
        "id": "width_section",
        "label": "Max width section",
        "options": [
          { "value": "container", "label": "1200px" },
          { "value": "container-fluid wide", "label": "Wide" },
          { "value": "w-100", "label": "Full width" }
        ],
        "default": "container"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type":"checkbox",
        "id": "use_lazyload",
        "label": "Use lazyload?",
        "info": "Help speed up page loading."
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "header",
            "content": "Section title"
          },
          {
            "type": "select",
            "id": "t_tranform",
            "options": [
              {
                "value": "text-uppercase",
                "label": "Uppercase"
              },
              {
                "value": "text-capitalize",
                "label": "Capitalize"
              },
              {
                "value": "",
                "label": "None"
              }
            ],
            "label": "Text tranform (name tab)",
            "default": "text-uppercase"
          },
          {
            "type": "range",
            "id": "fsize_name_tab",
            "label": "Font size name tab",
            "min": 1.4,
            "max": 2.4,
            "step": 0.1,
            "unit": "rem",
            "default": 1.4
          },
          {
            "type": "range",
            "id": "margin_btitles",
            "min": 0,
            "max": 4,
            "step": 0.1,
            "label": "Margin bottom of title section",
            "default": 1.5
          },
          {
            "type": "range",
            "id": "margin_btitle",
            "min": 1,
            "max": 9,
            "step": 0.1,
            "label": "Margin bottom of title tabs",
            "default": 3
          },
          {
            "type": "header",
            "content": "Tabs setting"
          },
          {
            "type": "collection",
            "id": "products_1",
            "label": "Choose collection 1"
          },
          {
            "type": "collection",
            "id": "products_2",
            "label": "Choose collection 2"
          },
          {
            "type": "collection",
            "id": "products_3",
            "label": "Choose collection 3"
          },
          {
            "type": "collection",
            "id": "products_4",
            "label": "Choose collection 4"
          },
          {
            "type": "collection",
            "id": "products_5",
            "label": "Choose collection 5"
          },
          {
            "type": "collection",
            "id": "products_6",
            "label": "Choose collection 6"
          },
          {
            "type": "range",
            "id": "limit_per_row",
            "min": 2,
            "max": 6,
            "step": 1,
            "label": "Products per row",
            "default": 3
          },
          {
            "type": "range",
            "id": "limit",
            "min": 1,
            "max": 50,
            "step": 1,
            "label": "Limit display product",
            "default": 6
          },
          {
            "type": "range",
            "id": "range_row",
            "min": 0,
            "max": 5,
            "step": 0.1,
            "unit": "rem",
            "label": "Margin bottom grid product",
            "default": 0
          },
          {
            "type": "header",
            "content": "Link viewmore"
          },
          {
            "type": "checkbox",
            "id": "load_btn",
            "label": "Use load button?",
            "default": false
          },
          {
            "type":"text",
            "id":"name_btn",
            "label": "Name button",
            "default":"See All Products <i class=\"fkt-angle-right\" aria-hidden=\"true\"><\/i>"
          },
          {
            "type": "header",
            "content": "Banners settings"
          },
          {
            "type": "checkbox",
            "id": "use_banner",
            "label": "Use banner?",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image banner",
            "info": "Size suggestion: 456 x 750 px"
          },
          {
            "type": "product",
            "id": "image_link",
            "label": "Link to"
          },
          {
            "type":"text",
            "id":"label",
            "label": "Text label",
            "default":"Limited time sale"
          },
          {
            "type":"text",
            "id":"name_btn_1",
            "label": "Name button",
            "default":"Shop now"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tab(grid) + Banner",
        "category": "03. Section products",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}