<!-- md_video_banner_1.liquid -->
{%- liquid
  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
{%-render 'sc_css' -%}

<div data-section-id="{{ section.id }}" id="Banner-Video-{{ section.id }}" data-section-type="banner-video-section" class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%}">
  <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">      
    <div class="section-width {{width_content_}}">
		  <div class="video-banner video-banner-bg bg-image text-center">
        {%- if section.settings.titlex != blank or section.settings.stitle != blank-%}          
        <h3 class="video-banner-title h1 text-white">
          {%-if section.settings.titlex != blank-%}<span>{{ section.settings.titlex | html }}</span>{%- endif -%}
          {{ section.settings.stitle | html }}
        </h3>
        {%- endif -%}
		  	{%- if section.settings.video_url -%}
          {%- if section.settings.btn_style == 'bold' -%}
          <a href="{{section.settings.video_url}}" class="btn-video btn-iframe"><i class="fkt-play"></i></a>
          {%- elsif section.settings.btn_style == 'thin' -%}
          <a href="{{section.settings.video_url}}" class="btn-video btn-iframe play_thin"><i class="fkt-play-outline"></i></a>
          {%- endif -%}
		  	{%- endif -%}
		  </div>
		</div>
	</div>
</div>
{%- if section.settings.css_block != ".section_id {}" -%}
<noscript class="banner-css" data-section-type="video-banner-{{section.id}}">
  {%style%}
    {{section.settings.css_block | replace : 'section_id', 'content_section_id' | replace: 'section_id', section.id}}
  {%endstyle%}
</noscript>
{%- endif -%}
{%- endunless-%}
{% schema %}
  {
    "name": "Video banner 1",
    "class": "md_video_banner_1",
    "settings": [
      {
        "type":"checkbox",
        "id": "off_mobile",
        "label": "Turn off on mobile?"
      },
      {
        "type":"checkbox",
        "id": "off_desktop",
        "label": "Turn off on desktop?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Video banner 1",
        "info": "Name section (in editor bar)"
      },
      {
        "type": "header",
        "content": "Space settings"
      },
      {
        "type":"checkbox",
        "id": "width_content",
        "label": "Max width content?"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
      },
      {
        "type": "text",
        "id": "section_padding",
        "label": "Paddings (top right bottom left)",
        "info": "6rem 6rem 0 6rem"
      },
      {
        "type": "header",
        "content": "Background settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color"
      },
      {
        "type": "range",
        "id": "section_bg_op",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Opacity background color",
        "default": 1
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image",
        "info": "Size suggestion: 1920 x 497 pixels"
      },
      {
        "type": "header",
        "content": "Section title"
      },
      {
        "type": "text",
        "id": "titlex",
        "label": "Title",
        "default": "New Collection"
      },
      {
        "type": "html",
        "id": "stitle",
        "label": "Sub title",
        "default": "Winter <i>/</i> Spring"
      },
      {
				"id": "video_url",
				"type": "video_url",
				"label": "Video URL",
				"accept": ["youtube", "vimeo"],
				"default": "https://www.youtube.com/watch?v=YbJOTdZBX1g",
				"info": "Suport youtube and vimeo"
			},
      {
        "type": "select",
        "id": "btn_style",
        "label": "Button style",
        "options": [
          { "value": "bold", "label": "Bold" },
          { "value": "thin", "label": "Thin" }
        ],
        "default": "bold"
      }
    ],
    "presets": [
      {
        "name": "Video banner 1",
        "category": "04. Section"
      }
    ]
  }
{% endschema %}