<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="soon-content text-center">
        <div class="soon-content-wrapper">          
          {% if section.settings.logo %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name | escape }}{% endcapture %}
            <img class="soon-logo mx-auto lazyload" src="{{ section.settings.logo | img_url: '300x300' }}" srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x" alt="{{ logo_alt | escape }}" style="max-width: {{ section.settings.logo_max_width }}px;">
          {% else %}
            <h1 class="site-header__logo-link"><span class="logo">{{ shop.name }}</span></h1>
          {% endif %}
          <h1 class="soon-title">{{ section.settings.header }}</h1>

          <div class="coming-countdown countdown-separator">
            <div class="kt_countdown style01 clearfix mb-3" data-time="{{section.settings.countdown}}" data-time-zone="{{'now' | date:'%Z'}}"></div>
          </div>
          <hr class="mt-3 mb-3">
          {% unless shop.password_message == blank %}
            <p>{{ shop.password_message }}</p>
          {% endunless %}

          {% if section.settings.newsletter_enable %}
            <p>{{ section.settings.newsletter_desc }}</p>
            {% form 'customer', id: 'ContactPassword' %}
              {%- assign formId = 'PasswordNewsletterForm' -%}
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <label for="{{ formId }}-email" class="d-none">{{ 'general.password_page.signup_form_email_label' | t }}</label>
              <div class="page-width">
                {% render 'form-status', form: form, form_id: formId %}
              </div>
              {% unless form.posted_successfully? %}
              <span id="{{ formId }}-email-error" class="input-error-message d-none">
                <i class="fkt-exclamation-circle"></i>
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
              </span>
              <div class="input-group mb-5">
                <input type="email" name="contact[email]" id="{{ formId }}-email" placeholder="{{ section.settings.newsletter_placeholder | escape }}" class="form-control bg-transparent{%if form.errors contains 'email'%} input--error{%endif%}" {%- if form.errors contains 'email' -%} aria-invalid="true" aria-describedby="{{ formId }}-email-error" {%- endif -%}>
                <div class="input-group-append">
                  <button class="btn btn-outline-primary-2" type="submit">
                    <span>{{ section.settings.newsletter_button_text}}</span>
                    <i class="fkt-long-arrow-right"></i>
                  </button>
                </div>
              </div>
              {% endunless %}
            {% endform %}
          {% endif %}

          {% if section.settings.show_share_buttons %}
            <p>{{ section.settings.social_message }}</p>            
            <div class="socials_ style-01">
              {% render 'kt_socials', social_grid: 'style-01' %}
            </div>
          {% endif %}

          <div class="coppyright"> 
            {%-if section.settings.copyright != blank-%}
            <p class="mt-2 mb-2">{{section.settings.copyright|html}}</p>
            {%-else-%}
            <p class="mt-2 mb-2">
              <span>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</span> <span>{{ powered_by_link }}</span>
            </p>
            {%-endif-%}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{%- assign image_item = section.settings.bg_image -%}
<div class="img__banner_template soon-bg bg-image d-none d-lg-block lazyload" data-bgset="{%- render 'bgset', image: image_item -%}" data-sizes="auto"></div>

<div class="bg-image">
  <a href="#" onclick="$('#LoginPasswordModal').modal()" class="js-modal-open-login-modal btn btn-primary btn-rounded" aria-haspopup="dialog">
    <span>{{ 'general.password_page.password_link' | t }}</span><i class="fkt-long-arrow-right"></i>
  </a>
</div>

{% schema %}
{
  "name": "Page settings",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "textarea",
      "id": "countdown",
      "label": "Time countdown.",
      "default": "2021/10/26 12:00:00",
      "placeholder": "2019/10/26 12:00:00"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_desc",
      "label": "Newsletter description",
      "default": "<p>We are currently working on an awesome new site. Stay tuned for more information. Subscribe to our newsletter to stay updated on our progress.</p>"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Enter your Email Address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "SUBSCRIBE"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading"
    },
    {
      "type": "textarea",
      "id": "copyright",
      "label": "== Copyright customize"
    }
  ]
}
{% endschema %}
