<!-- sec_homePage_slide_1.liquid -->
{%- liquid
    assign width_section = section.settings.width_section
    assign width_content = section.settings.width_content
    capture width_section_
      if width_section == 'container-fluid wide' and width_content == false
        echo 'w-100'
      else
        echo width_section
      endif
    endcapture
    capture width_content_
      if width_content and width_section == 'w-100'
        echo 'container'
      elsif width_section == 'container-fluid wide' and width_content == false
        echo 'container-fluid wide'
      else
        echo 'w-100'
      endif
    endcapture
    assign dir_body = settings.dir_body
    assign cssAlign = 'left'
    assign cssAlign_rev = 'right'
    if dir_body == 'rtl'
      assign cssAlign = 'right'
      assign cssAlign_rev = 'left'
    endif
  -%}



  <style>

    .egx_slide {

        height: 125px;
        margin-bottom: -50px;
        overflow: hidden;
        text-align: center;
    }



    


    .egx-slide-logo {
        background-color: #fff;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 2px 15px 0 rgb(0 0 0 / 10%);
        box-shadow: 0 2px 15px 0 rgb(0 0 0 / 10%);
        height: 80px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 80px;
    }


    .egx-slide-titulo {
        margin-bottom: -10px;
        font-size: 24px;
        font-weight: 600;
        height: 35px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    .egx-slide-items {
        height: 74px;
        text-align: center;
        margin: 20px 0 20px 0;
    }


    .egx-slide-item {
        border: 1px solid #eee;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
        height: 70px;
        margin: 3px;
        overflow: hidden;
        width: 70px;
    }


    .egx-slide-tienda {
        text-align: center;
        background-color: #f79206;
        padding: 3px 0 3px 0;
        color: #ffffff;
    }
    .card-border{
      border-style: solid;
      border-color: #bbb5b5;
      border-width: 1px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;

    }
    .card-border:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    img {
        max-width: 100% !important;
        height: auto;
    }
    @element .card and (min-width: 0px) and (max-width: 239px){
      .img3{
        display:none !important;
      }
    }
  </style>




  <script src="{{ 'egx-mediaElement-eqcss.min.js' | asset_url }}" defer="defer"></script>

  {%-unless section.blocks.size == 0 or section.settings.off_section-%}
  {%- unless cart.attributes.theme_mobile == 'true' and section.settings.off_mobile or cart.attributes.theme_mobile == 'false' and section.settings.off_desktop -%}
  {%-assign typeBlocks = section.blocks | map: 'type'-%}
  {%-render 'sc_css'-%}
  <div class="{{width_section_}}{%if section.settings.off_mobile%} d-none d-lg-block{%endif%}{%if section.settings.off_desktop%} d-lg-none{%endif%} swiper-fixed-fshadow" data-section-id="{{ section.id }}" id="Swiper-{{ section.id }}" data-section-type="swiper-section" data-clone-section="md-collection-brand.liquid">
    <div class="content_{{section.id}}{%if section.settings.image%} bg-image lazyload{%endif%}"{%if section.settings.image%} data-bgset="{{section.settings.image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.section_margin_top}}','mb':'{{section.settings.section_margin_bottom}}','p':'{{section.settings.section_padding}}'}">
      <div class="section-width {{width_content_}}">
        {%- assign blockTitle = section.blocks | where: 'type', 'title' | first -%}
        {%- if blockTitle -%}
          {%-if blockTitle.settings.title != blank or blockTitle.settings.stitle != blank -%}
          <div class="section-title {{blockTitle.settings.title_align}}">
            <h3>{{blockTitle.settings.title}}</h3>
            {%- if blockTitle.settings.stitle != blank -%}
              <p class="sub-title">{{blockTitle.settings.stitle}}</p>
            {%- endif -%}
          </div>
          <div class="clearfix{% if blockTitle.settings.use_border%} border-bottom pb-1{%endif%}" style="opacity:.5;margin-bottom:{{blockTitle.settings.margin_btitle}}rem"></div>
          {%-endif-%}
        {%- endif -%}
        {%- assign responsive_ = section.settings.responsive | strip_newlines | json | remove: '\t' | remove: '\' | remove: ' ' | replace: '"{"','{"' | replace: '}}"','}}' -%}
        {%- assign items_ = responsive_ | split: '"slidesPerView":' | last | split: ',' | first | plus: 0 -%}
        {%- assign blockBrand = section.blocks | where: 'type', 'item' -%}
        {% if section.settings.brand_style == 'default' %}
        <div class="swiper-container-fuild position-relative {{section.settings.nav_position}} nav-style{{section.settings.nav_style}} nav-mode-{{section.settings.nav_mode}}">
          <div class="swiper-container brands-slide style-{{section.settings.brand_style}}" data-breakpoints='{{responsive_}}' data-autoplay="{{section.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{section.settings.use_dots}}" data-nav="{{section.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{section.id}}" data-next-el=".sw-btn-next-{{section.id}}" data-pagination=".swiper-pagination-{{section.id}}">
            <div class="swiper-wrapper">
            {%- for block in blockBrand-%}
            {%- if block.settings.image -%}
              {%- liquid
                
                assign egx_banner = block.settings.egx_banner
                assign egx_banner_width = egx_banner.width
                assign egx_banner_height = egx_banner.height
                assign egx_banner_url = egx_banner | img_url: '1x1' | replace: '_1x1.', '_{width}x.'

                assign egx_logo = block.settings.image
                assign egx_logo_width = egx_logo.width
                assign egx_logo_height = egx_logo.height
                assign egx_logo_url = egx_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
              
                assign egx_titulo = block.settings.egx_titulo

                assign egx_img1 = block.settings.egx_img1
                assign egx_img1_width = egx_img1.width
                assign egx_img1_height = egx_img1.height
                assign egx_img1_url = egx_img1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.'

                assign egx_img2 = block.settings.egx_img2
                assign egx_img2_width = egx_img2.width
                assign egx_img2_height = egx_img2.height
                assign egx_img2_url = egx_img2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.'

                assign egx_img3 = block.settings.egx_img3
                assign egx_img3_width = egx_img3.width
                assign egx_img3_height = egx_img3.height
                assign egx_img3_url = egx_img3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.'

              -%}
                <div data-index="1" class="card swiper-slide image__brand swiper-slide-visible swiper-slide-active">
                    <div   role="link" tabindex="0" class="card-border" style="">
                        <div class="egx_slide">
                          <img 
                            width="100%" 
                            class="lazyload mll-lz"   
                            data-src="{{ egx_banner_url }}" 
                            data-sizes="auto"  
                            style="padding-bottom:{{egx_banner_height | times: 1.00 | divided_by: egx_banner_width | times: 100.00000000}}%" />
                        </div>
                        <div class="egx-slide-logo">
                          <img 
                            width="80" 
                            height="80" 
                            class="lazyload mll-lz"  
                            data-src="{{ egx_logo_url }}" 
                            data-sizes="auto"  
                            style="padding-bottom:{{egx_logo_height | times: 1.00 | divided_by: egx_logo_width | times: 100.00000000}}%">
                        </div>

                        {% if block.settings.egx_titulo != blank %}
                        <div class="title-wrapper">
                          <div class="egx-slide-titulo">{{ egx_titulo}}</div>
                        </div>
                        {%- endif -%}

                        <div class="egx-slide-items" >
                            <a class="egx-slide-item gx_quitarPunteroMouse" href="#">
                                <img
                                    width="70"
                                    height="70"
                                    class="lazyload mll-lz" 
                                    data-src="{{ egx_img1_url }}"
                                    data-sizes="auto"  
                                    style="padding-bottom:{{egx_img1_height | times: 1.00 | divided_by: egx_img1_width | times: 100.00000000}}%"
                                />
                            </a>


                            <a class="egx-slide-item gx_quitarPunteroMouse" href="#">
                              <img
                                width="70"
                                height="70"
                                class="lazyload mll-lz" 
                                data-src="{{ egx_img2_url }}"
                                data-sizes="auto"  
                                style="padding-bottom:{{egx_img2_height | times: 1.00 | divided_by: egx_img2_width | times: 100.00000000}}%"
                            />
                            </a>
                            <a class="egx-slide-item img3 gx_quitarPunteroMouse" href="#">
                              <img
                                width="70"
                                height="70"
                                class="lazyload mll-lz" 
                                data-src="{{ egx_img3_url }}"
                                data-sizes="auto"  
                                style="padding-bottom:{{egx_img3_height | times: 1.00 | divided_by: egx_img3_width | times: 100.00000000}}%"
                            />
                            </a>
                        </div>
                        
                        <div class="egx-slide-tienda gx_cursorMano" onclick="location.href='{{ block.settings.brand_call_to_action }}'">                           
                            Ver tienda
                        </div>
                    </div>
                </div>

                
            {%- endif -%}
            {%- endfor -%}
            </div>
            {%- if section.settings.use_dots -%}
            <div class="swiper-pagination swiper-pagination-{{section.settings.dots_mode}} swiper-pagination-{{section.settings.dots_position}} swiper-pagination-{{section.id}}"></div>
            {%- endif -%}
          </div>
          {%- if section.settings.use_navigation -%}
          <div class="swiper-buttons position-absolute"{% if section.settings.nav_position == 'nav-top-right' or section.settings.nav_position == 'nav-top-left' %} style="margin-top: -4.6rem" {%endif%}>
            <div class="content-buttons position-relative">
              <div class="swiper-button-prev sw-btn-prev-{{section.id}} fkt-2x fkt-va"></div>
              <div class="swiper-button-next sw-btn-next-{{section.id}} fkt-2x fkt-va"></div>
            </div>
          </div>
          {%- endif -%}
        </div>
        {% elsif section.settings.brand_style == 'type01' %}
        <div class="swiper-container-fuild position-relative {{section.settings.nav_position}} nav-style{{section.settings.nav_style}} nav-mode-{{section.settings.nav_mode}}">
          <div class="swiper-container brands-slide style-{{section.settings.brand_style}}" data-breakpoints='{{responsive_}}' data-autoplay="{{section.settings.autoplay}}" data-slides-per-view="{{items_}}" data-dots="{{section.settings.use_dots}}" data-nav="{{section.settings.use_navigation}}" data-prev-el=".sw-btn-prev-{{section.id}}" data-next-el=".sw-btn-next-{{section.id}}" data-pagination=".swiper-pagination-{{section.id}}">
            <div class="swiper-wrapper">
            {%- for block in blockBrand-%}
            {%- if block.settings.image -%}
              <div class="swiper-slide image__brand">
                <a class="icon__brand" href="{{ block.settings.brand_call_to_action }}" aria-label="{{block.settings.image.alt|default: shop.name}}">
                  {%- liquid
                    assign image_item = block.settings.image
                    assign width = image_item.width
                    assign height = image_item.height
                    assign img_url = image_item | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
                  -%}
                  <img width="{{width}}" height="{{height}}" class="lazyload mll-lz" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ img_url }}" data-widths="[150, 240]" data-aspectratio="{{ image_item.aspect_ratio }}" data-sizes="auto" alt="{{ image_item.alt | escape }}" style="padding-bottom:{{height | times: 1.00 | divided_by: width | times: 100.00000000}}%">
                </a>
              </div>
            {%- endif -%}
            {%- endfor -%}
            </div>
            {%- if section.settings.use_dots -%}
              <div class="swiper-pagination swiper-pagination-{{section.settings.dots_mode}} swiper-pagination-{{section.settings.dots_position}} swiper-pagination-{{section.id}}"></div>
            {%- endif -%}
          </div>
          {%- if section.settings.use_navigation -%}
          <div class="swiper-buttons position-absolute"{% if section.settings.nav_position == 'nav-top-right' or section.settings.nav_position == 'nav-top-left' %} style="margin-top: -4.6rem" {%endif%}>
            <div class="content-buttons position-relative">
              <div class="swiper-button-prev sw-btn-prev-{{section.id}} fkt-2x fkt-va"></div>
              <div class="swiper-button-next sw-btn-next-{{section.id}} fkt-2x fkt-va"></div>
            </div>
          </div>
          {%- endif -%}
        </div>
        {% endif %}        
      </div>
    </div>
  </div>
  {%-endunless-%}
  {%- endunless -%}
  {% schema %}
    {
      "name": "Egx-(HomePage/Card) 1",
      "class": "md_brand",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Brands",
          "info": "Name section (in editor bar)"
        },
        {
          "type":"checkbox",
          "id": "off_section",
          "label": "Turn off section?"
        },
        {
          "type":"checkbox",
          "id": "off_mobile",
          "label": "Turn off on mobile?"
        },
        {
          "type":"checkbox",
          "id": "off_desktop",
          "label": "Turn off on desktop?"
        },
        {
          "type": "header",
          "content": "Space settings"
        },
        {
          "type": "select",
          "id": "width_section",
          "label": "Max width section?",
          "options": [
            { "value": "container", "label": "1200px" },
            { "value": "container-fluid wide", "label": "Wide" },
            { "value": "w-100", "label": "Full width" }
          ],
          "default": "container"
        },
        {
          "type":"checkbox",
          "id": "width_content",
          "label": "Max width content?",
          "default": true
        },
        {
          "type": "text",
          "id": "section_margin_top",
          "label": "Margin top",
          "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
        },
        {
          "type": "text",
          "id": "section_margin_bottom",
          "label": "Margin bottom",
          "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
        },
        {
          "type": "text",
          "id": "section_padding",
          "label": "Paddings (top right bottom left)",
          "info": "6rem 6rem 0 6rem"
        },
        {
          "type": "header",
          "content": "Background settings"
        },
        {
          "type": "color",
          "id": "section_bg",
          "label": "Background color"
        },
        {
          "type": "range",
          "id": "section_bg_op",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Opacity background color",
          "default": 1
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background image",
          "info": "Size suggestion: 1920 x 497 pixels"
        },
        {
          "type": "header",
          "content": "Slide settings"
        },
        {
          "type": "select",
          "id": "brand_style",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "type01",
              "label": "Type 1"
            }
          ],
          "label": "== Type display",
          "default": "default"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "__Auto-rotate slides",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "use_navigation",
          "label": "__Use navigation?",
          "default": true
        },
        {
          "type": "select",
          "id": "nav_style",
          "options": [
            {
              "value": "-default",
              "label": "Default"
            },
            {
              "value": "1",
              "label": "Style 1"
            },
            {
              "value": "2",
              "label": "Style 2"
            }
          ],
          "label": "Navigation style",
          "default": "-default"
        },
        {
          "type": "select",
          "id": "nav_mode",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "primary",
              "label": "Primary color"
            }
          ],
          "label": "Navigation mode",
          "default": "default"
        },
        {
          "type": "select",
          "id": "nav_position",
          "options": [
            {
              "value": "nav-default",
              "label": "Default"
            },
            {
              "value": "nav-center-center",
              "label": "Center center"
            },
            {
              "value": "nav-center-outside",
              "label": "Center outside"
            },
            {
              "value": "nav-top-right",
              "label": "Top right"
            },
            {
              "value": "nav-top-left",
              "label": "Top left"
            }
          ],
          "label": "Navigation position",
          "default": "nav-default"
        },
        {
          "type": "checkbox",
          "id": "use_dots",
          "label": "__Use dots?"
        },
        {
          "type": "select",
          "id": "dots_mode",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "primary",
              "label": "Primary color"
            }
          ],
          "label": "Dots mode",
          "default": "default"
        },
        {
          "type": "select",
          "id": "dots_position",
          "options": [
            {
              "value": "inside",
              "label": "Inside"
            },
            {
              "value": "outside",
              "label": "Outside"
            }
          ],
          "label": "Dots position",
          "default": "inside"
        },
        {
          "type": "textarea",
          "id": "responsive",
          "label": "== Responsive",
          "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  },\n  \"480\": {\n    \"slidesPerView\": 2,\n    \"spaceBetween\": 10\n  },\n  \"768\": {\n    \"slidesPerView\": 4,\n    \"spaceBetween\": 20\n  },\n  \"992\": {\n    \"slidesPerView\": 4,\n    \"spaceBetween\": 20\n  },\n  \"1200\": {\n    \"slidesPerView\": 5,\n    \"spaceBetween\": 20\n  }\n}"
        }
      ],
      "blocks": [
        {
          "type": "title",
          "name": "Item title",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "text",
              "id": "stitle",
              "label": "Sub title"
            },
            {
              "type": "select",
              "id": "title_align",
              "options": [
                {
                  "value": "",
                  "label": "Auto"
                },
                {
                  "value": "text-center",
                  "label": "Center"
                }
              ],
              "label": "Align title",
              "default": "text-center"
            },
            {
              "type": "range",
              "id": "margin_btitle",
              "min": 1,
              "max": 9,
              "step": 0.2,
              "unit": "rem",
              "label": "Margin bottom of title",
              "default": 3
            },
            {
              "type": "checkbox",
              "id": "use_border",
              "label": "Use border bottom?",
              "default": false
            }
          ]
        },
        {
          "type": "item",
          "name": "Item brand",
          "settings": [
            {
              "type": "image_picker",
              "id": "egx_banner",
              "label": "Egx Banner"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Egx logo",
              "info": "Size suggestion: 150 x 130 pixels"
            },
            {
              "type": "text",
              "id": "egx_titulo",
              "label": "Egx Titulo (Opcional)"
            },
            {
              "type": "image_picker",
              "id": "egx_img1",
              "label": "Egx Imagen 1"
            },
            {
              "type": "image_picker",
              "id": "egx_img2",
              "label": "Egx Imagen 2"
            },
            {
              "type": "image_picker",
              "id": "egx_img3",
              "label": "Egx Imagen 3"
            },
            {
              "id": "brand_call_to_action",
              "type": "url",
              "label": "Brand link"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Egx-(HomePage/Card) 1",
          "category": "04. Section",
          "blocks": [
            {
              "type": "item"
            },
            {
              "type": "item"
            },
            {
              "type": "item"
            },
            {
              "type": "item"
            },
            {
              "type": "item"
            },
            {
              "type": "item"
            },
            {
              "type": "item"
            }
          ]
        }
      ]
    }
  {% endschema %}