{%layout 'theme.prd-additional'%}
<div class="d-none">{% section 'product-template'%}</div>
{% capture unique_tabs %}{% section 'product-template'%}{% endcapture %}
{% assign unique_tabs = unique_tabs | split: '<!-- unique_tabs -->' | last | split: '<!-- end_unique_tabs -->' | first | remove: '|</div>' | remove: '</div>' | split: '|' %}
<div class="t4-title-section">
  <h1>Edit additional information in products</h1>
</div>
<div class="header-bar">
  <div class="row align-items-center justify-content-between">
    <div class="col-12 col-lg-auto">
      <div class="t4-search-bar">
        <form action="{{routes.search_url}}" method="get" autocomplete="off" class="form-inline box-search">
          <div class="form-group">
            <label for="inputSearch" class="sr-only">Search</label>
            <input type="text" name="q" id="inputSearch" class="form-control search" placeholder="Write product name" required aria-describedby="search">
            <input type="hidden" name="type" value="product">
          </div>
          <div class="t4-btn t4-btn-search position-absolute">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <path d="M22.424,21.576l-5.176-5.174c1.397-1.592,2.246-3.677,2.246-5.957c0-4.987-4.059-9.044-9.047-9.044
                       C5.458,1.4,1.4,5.458,1.4,10.444s4.059,9.044,9.047,9.044c2.277,0,4.36-0.846,5.952-2.239l5.177,5.175
                       C21.693,22.542,21.847,22.6,22,22.6c0.154,0,0.307-0.059,0.424-0.176C22.659,22.19,22.659,21.81,22.424,21.576z M10.447,18.288
                       c-4.327,0-7.847-3.519-7.847-7.844S6.12,2.6,10.447,2.6c4.327,0,7.847,3.519,7.847,7.844S14.774,18.288,10.447,18.288z"/>
            </svg>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-auto">
      <div class="t4-btns">
        {% comment %}<a href="#" class="t4-btn btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">All</a>{% endcomment %}
        <a href="#" class="t4-btn btn btn-outline-primary">Document</a>
        <a href="https://youtu.be/aQOjRVEPCQ4" class="t4-btn btn btn-primary btn-youtube">
          <svg viewBox="0 -62 512.00199 512" xmlns="http://www.w3.org/2000/svg"><path d="m334.808594 170.992188-113.113282-61.890626c-6.503906-3.558593-14.191406-3.425781-20.566406.351563-6.378906 3.78125-10.183594 10.460937-10.183594 17.875v122.71875c0 7.378906 3.78125 14.046875 10.117188 17.832031 3.308594 1.976563 6.976562 2.96875 10.652344 2.96875 3.367187 0 6.742187-.832031 9.847656-2.503906l113.117188-60.824219c6.714843-3.613281 10.90625-10.59375 10.9375-18.222656.027343-7.628906-4.113282-14.640625-10.808594-18.304687zm-113.859375 63.617187v-91.71875l84.539062 46.257813zm0 0"/><path d="m508.234375 91.527344-.023437-.234375c-.433594-4.121094-4.75-40.777344-22.570313-59.421875-20.597656-21.929688-43.949219-24.59375-55.179687-25.871094-.929688-.105469-1.78125-.203125-2.542969-.304688l-.894531-.09375c-67.6875-4.921874-169.910157-5.5937495-170.933594-5.59765575l-.089844-.00390625-.089844.00390625c-1.023437.00390625-103.246094.67578175-171.542968 5.59765575l-.902344.09375c-.726563.097657-1.527344.1875-2.398438.289063-11.101562 1.28125-34.203125 3.949219-54.859375 26.671875-16.972656 18.445312-21.878906 54.316406-22.382812 58.347656l-.058594.523438c-.152344 1.714844-3.765625 42.539062-3.765625 83.523437v38.3125c0 40.984375 3.613281 81.808594 3.765625 83.527344l.027344.257813c.433593 4.054687 4.746093 40.039062 22.484375 58.691406 19.367187 21.195312 43.855468 24 57.027344 25.507812 2.082031.238282 3.875.441406 5.097656.65625l1.183594.164063c39.082031 3.71875 161.617187 5.550781 166.8125 5.625l.15625.003906.15625-.003906c1.023437-.003907 103.242187-.675781 170.929687-5.597657l.894531-.09375c.855469-.113281 1.816406-.214843 2.871094-.324218 11.039062-1.171875 34.015625-3.605469 54.386719-26.019532 16.972656-18.449218 21.882812-54.320312 22.382812-58.347656l.058594-.523437c.152344-1.71875 3.769531-42.539063 3.769531-83.523438v-38.3125c-.003906-40.984375-3.617187-81.804687-3.769531-83.523437zm-26.238281 121.835937c0 37.933594-3.3125 77-3.625 80.585938-1.273438 9.878906-6.449219 32.574219-14.71875 41.5625-12.75 14.027343-25.847656 15.417969-35.410156 16.429687-1.15625.121094-2.226563.238282-3.195313.359375-65.46875 4.734375-163.832031 5.460938-168.363281 5.488281-5.082032-.074218-125.824219-1.921874-163.714844-5.441406-1.941406-.316406-4.039062-.558594-6.25-.808594-11.214844-1.285156-26.566406-3.042968-38.371094-16.027343l-.277344-.296875c-8.125-8.464844-13.152343-29.6875-14.429687-41.148438-.238281-2.710937-3.636719-42.238281-3.636719-80.703125v-38.3125c0-37.890625 3.304688-76.914062 3.625-80.574219 1.519532-11.636718 6.792969-32.957031 14.71875-41.574218 13.140625-14.453125 26.996094-16.054688 36.160156-17.113282.875-.101562 1.691407-.195312 2.445313-.292968 66.421875-4.757813 165.492187-5.464844 169.046875-5.492188 3.554688.023438 102.589844.734375 168.421875 5.492188.808594.101562 1.691406.203125 2.640625.3125 9.425781 1.074218 23.671875 2.699218 36.746094 16.644531l.121094.128906c8.125 8.464844 13.152343 30.058594 14.429687 41.75.226563 2.558594 3.636719 42.171875 3.636719 80.71875zm0 0"/></svg>
          <span>Tutorial</span>
        </a>
      </div>
    </div>
    <div class="col-12 mt-4">
      <a href="https://codepen.io/kiti/pen/JjoaEqb" title="Demo Size guide"><i><small>Demo Size guide</small></i></a>
    </div>
  </div>
</div>

<!-- Modal -->
{% comment %}<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="product-item">
          <div class="product-inner">
            <form id="prd_all" class="meta-feilds" action="#" method="POST">
              <div class="form-group my-3 mb-2">
                <label for="short_description-1234">Short description</label>
                <textarea class="form-control" id="short_description-1234" name="meta.short_description_" rows="3" data-method="{%if shop.metafields.meta.short_description_%}PUT{%else%}POST{%endif%}">{{-shop.metafields.meta.short_description_-}}</textarea>
                <input class="form-check-input" type="radio" id="short_description_" value="">
                <label class="form-check-label" for="short_description_">Replace All</label>
              </div>
              <div class="form-group my-3 mb-2">
                <label for="additional_information-1234">Additional information</label>
                <textarea class="form-control" id="additional_information-1234" name="meta.additional_information_" rows="3" data-method="{%if shop.metafields.meta.additional_information_%}PUT{%else%}POST{%endif%}">{{-shop.metafields.meta.additional_information_-}}</textarea>
                <input class="form-check-input" type="radio" id="additional_information_" value="">
                <label class="form-check-label" for="additional_information_">Replace All</label>
              </div>
              <div class="form-group my-3 mb-2">
                <label for="size_guide-1234">Size guide</label>
                <textarea class="form-control" id="size_guide-1234" name="meta.size_guide_" rows="3" data-method="{%if shop.metafields.meta.size_guide_%}PUT{%else%}POST{%endif%}">{{-shop.metafields.meta.size_guide_-}}</textarea>
                <input class="form-check-input" type="radio" id="size_guide_" value="">
                <label class="form-check-label" for="size_guide_">Replace All</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn_save_all">Save changes</button>
      </div>
    </div>
  </div>
</div>{% endcomment %}
<div class="content" style="margin-bottom: 70px;">
  {% assign collection = collections['all'] %}
  {% paginate collection.products by 30 %}
  <div class="row">
    {%- for product in collection.products -%}
    <div class="product-item col-12 col-md-6 col-lg-4 col-xl-3" id="prd_{{product.id}}">
      <div class="product-inner">
        <div class="info d-flex align-items-start">
          <div class="img">
            <img class="rounded" src="{{product.featured_image|img_url: '75x100', crop: 'center'}}" alt="{{product.featured_image.alt | default: product.title}}">
          </div>
          <div class="name">
            <a class="custom-control custom-checkbox" href="{{product.url}}" title="{{product.title}}" data-pid="{{product.id}}">
              <span class="custom-control-label"></span>
            </a>
            <a href="{{product.url}}" title="{{product.title}}" style="display: block;width: 100%;margin-top: 20px;text-decoration: none !important"><h2 class="product-name">{{product.title}}</h2></a>
          </div>
        </div>
        <form class="meta-feilds" action="#" method="POST">
          <div class="form-group my-3 mb-2">
            <label for="short_description-{{product.id}}">Short description</label>
            <textarea class="form-control" id="short_description-{{product.id}}" name="meta.short_description" rows="3" data-method="{%if product.metafields.meta.short_description%}PUT{%else%}POST{%endif%}">
              {{-product.metafields.meta.short_description-}}
            </textarea>
          </div>
          <div class="form-group my-3 mb-2">
            <label for="additional_information-{{product.id}}">Additional information</label>
            <textarea class="form-control" id="additional_information-{{product.id}}" name="meta.additional_information" rows="3" data-method="{%if product.metafields.meta.additional_information%}PUT{%else%}POST{%endif%}">
              {{-product.metafields.meta.additional_information-}}
            </textarea>
          </div>
          <div class="form-group my-3 mb-2">
            <label for="size_guide-{{product.id}}">Size guide</label>
            <textarea class="form-control" id="size_guide-{{product.id}}" name="meta.size_guide" rows="3" data-method="{%if product.metafields.meta.size_guide%}PUT{%else%}POST{%endif%}">
              {{-product.metafields.meta.size_guide-}}
            </textarea>
          </div>
          {%- for unique_tab in unique_tabs -%}
          {% assign nameTab = unique_tab|split: '"tab_title":"' | last | split: '"' | first %}
          {% assign nameKey = unique_tab|split: '"tab_key":"' | last | split: '"' | first | handle %}
          <div class="form-group my-3 mb-2">
            <label for="{{nameKey}}-{{product.id}}">{{nameTab}}</label>           
            <textarea class="form-control" id="{{nameKey}}-{{product.id}}" name="meta.{{nameKey}}" rows="3" data-method="{%if product.metafields.meta[nameKey]%}PUT{%else%}POST{%endif%}">
              {{-product.metafields.meta[nameKey]-}}
            </textarea>
          </div>
          {%- endfor -%}
          <div class="more" style="display: none;">
            <div class="form-group my-3 mb-2">
              <label for="countdown-{{product.id}}">Countdown</label>				    
              <input type="text" class="form-control date-picker" id="countdown-{{product.id}}" placeholder="Countdown" name="event.countdown" value="{{product.metafields.event.countdown}}" data-method="{%if product.metafields.event.countdown%}PUT{%else%}POST{%endif%}">
            </div>
            <div class="form-group my-3 mb-2">
              <label for="video-{{product.id}}">Video</label>				    
              <textarea class="form-control" id="video-{{product.id}}" name="meta.video" rows="3" data-method="{%if product.metafields.meta.video%}PUT{%else%}POST{%endif%}">
                {{-product.metafields.meta.video-}}
              </textarea>
              <i><small>Ex value: link thumbnail | link video</small></i>
            </div>
            <div class="form-group my-3 mb-2">
              <label for="on_link-{{product.id}}">External / Affiliate</label>				    
              <textarea class="form-control" id="on_link-{{product.id}}" name="purchase.on_link" rows="3" data-method="{%if product.metafields.purchase.on_link%}PUT{%else%}POST{%endif%}">
                {{-product.metafields.purchase.on_link-}}
              </textarea>
              <i><small>Ex value: https://www.amazon.com/</small></i>
            </div>
          </div>
        </form>
        <div class="w-100 mt-3">
          <a class="btn btn-showall" href="#" title=""><span class="show_all">Show all</span><span class="hide_more" style="display: none">Hide</span></a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- if paginate.pages > 1 -%}
  <div class="pagination">
    <nav class="w-100" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item{% unless paginate.previous %} disabled{%endunless%}">
          <a class="page-link" href="{{ paginate.previous.url }}" tabindex="-1">Previous</a>
        </li>
        {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
        <li class="page-item"><a class="page-link" href="{{ part.url }}">{{ part.title }}</a></li>		    
        {%- else -%}
        {%- if part.title == paginate.current_page -%}
        <li class="page-item active"><span class="page-link">{{ part.title }}</span></li>
        {%- else -%}
        <li class="page-item"><span class="page-link dots">{{ part.title }}</span></li>
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
        <li class="page-item{% unless paginate.next %} disabled{%endunless%}">
          <a class="page-link" href="{{ paginate.next.url }}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  {%- endif -%}
  {% endpaginate %}
</div>