{%-layout none-%}
{%- case search.terms -%}
  {%- when 'Demo_01' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1566375748123','1566403665924','1566437726874','1566535149884','1566535719773','1570076389571','1566404133629','1566442643300'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/02_homepage_furniture.jpg?v=1605514178" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-01 .st_01 {
      --top: 3.8%;
      --height: 9.1%;
      }
      .t4-import-sts.dm-sts-01 .st_02 {
      --top: 12.9%;
      --height: 3.5%;
      }
      .t4-import-sts.dm-sts-01 .st_03 {
      --top: 16.5%;
      --height: 12.5%;
      }
      .t4-import-sts.dm-sts-01 .st_04 {
      --top: 28.9%;
      --height: 15.6%;
      }
      .t4-import-sts.dm-sts-01 .st_05 {
      --top: 44.5%;
      --height: 22.75%;
      }
      .t4-import-sts.dm-sts-01 .st_06 {
      --top: 67.25%;
      --height: 4.4%;
      }
      .t4-import-sts.dm-sts-01 .st_07 {
      --top: 71.65%;
      --height: 15.4%;
      }
      .t4-import-sts.dm-sts-01 .st_08 {
      --top: 87.05%;
      --height: 3.1%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_02' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1566375748123','1566437726874','1566403665924','1570069534594','1570063959499','1566443930152','1566442643300'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/01_homepage_furniture.jpg?v=1605259896" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-02 .st_01 {
      --top: 2.8%;
      --height: 10.1%;
      }
      .t4-import-sts.dm-sts-02 .st_02 {
      --top: 12.9%;
      --height: 3.45%;
      }
      .t4-import-sts.dm-sts-02 .st_03 {
      --top: 16.35%;
      --height: 12.6%;
      }
      .t4-import-sts.dm-sts-02 .st_04 {
      --top: 28.95%;
      --height: 15.5%;
      }
      .t4-import-sts.dm-sts-02 .st_05 {
      --top: 44.45%;
      --height: 22.8%;
      }
      .t4-import-sts.dm-sts-02 .st_06 {
      --top: 67.25%;
      --height: 4.5%;
      }
      .t4-import-sts.dm-sts-02 .st_07 {
      --top: 71.75%;
      --height: 15.3%;
      }
      .t4-import-sts.dm-sts-02 .st_08 {
      --top: 87.05%;
      --height: 3.1%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_03' -%}
    {%- for i in (1..9) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566612744653','1566437726874','1566554827480','1566655647916','1566375748123','1566700483499','1566717434440','1566404133629','1566442643300'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/04_homepage_electronic.jpg?v=1606141592" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-03 .st_01 {
      --top: 2.8%;
      --height: 10.5%;
      }
      .t4-import-sts.dm-sts-03 .st_02 {
      --top: 13.3%;
      --height: 15%;
      }
      .t4-import-sts.dm-sts-03 .st_03 {
      --top: 28.3%;
      --height: 5.6%;
      }
      .t4-import-sts.dm-sts-03 .st_04 {
      --top: 33.9%;
      --height: 16.5%;
      }
      .t4-import-sts.dm-sts-03 .st_05 {
      --top: 50.4%;
      --height: 3.2%;
      }
      .t4-import-sts.dm-sts-03 .st_06 {
      --top: 53.6%;
      --height: 12.8%;
      }
      .t4-import-sts.dm-sts-03 .st_07 {
      --top: 66.4%;
      --height: 12.8%;
      }
      .t4-import-sts.dm-sts-03 .st_08 {
      --top: 79.2%;
      --height: 3.5%;
      }
      .t4-import-sts.dm-sts-03 .st_09 {
      --top: 82.7%;
      --height: 7.2%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_04' -%}
    {%- for i in (1..11) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566612744653','1562310633983','1562569085705','1564285191407','1562572009880','1562220204858','1562227619804','1564285424081','1564325655054','1562059653538','1562576431667'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/05_homepage_electronic.jpg?v=1606141603" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-04 .st_01 {
      --top: 3.58%;
      --height: 7.88%;
      }
      .t4-import-sts.dm-sts-04 .st_02 {
      --top: 11.46%;
      --height: 5.7%;
      }
      .t4-import-sts.dm-sts-04 .st_03 {
      --top: 17.16%;
      --height: 4.02%;
      }
      .t4-import-sts.dm-sts-04 .st_04 {
      --top: 21.18%;
      --height: 10.6%;
      }
      .t4-import-sts.dm-sts-04 .st_05 {
      --top: 31.78%;
      --height: 3.8%;
      }
      .t4-import-sts.dm-sts-04 .st_06 {
      --top: 35.58%;
      --height: 12.67%;
      }
      .t4-import-sts.dm-sts-04 .st_07 {
      --top: 48.25%;
      --height: 2.8%;
      }
      .t4-import-sts.dm-sts-04 .st_08 {
      --top: 51.05%;
      --height: 11.5%;
      }
      .t4-import-sts.dm-sts-04 .st_09 {
      --top: 62.55%;
      --height: 21.35%;
      }
      .t4-import-sts.dm-sts-04 .st_10 {
      --top: 83.9%;
      --height: 2.65%;
      }
      .t4-import-sts.dm-sts-04 .st_11 {
      --top: 86.55%;
      --height: 4.35%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_05' -%}
    {%- for i in (1..10) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566781334514','1562227619804','1562569085705','1562580013929','1562636783430','1562643456157','1562596427369','1562645426958','1562656080266','1562059653538'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/06_homepage_fashion.jpg?v=1606141603" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-05 .st_01 {
      --top: 0;
      --height: 12.2%;
      }
      .t4-import-sts.dm-sts-05 .st_02 {
      --top: 12.2%;
      --height: 1.54%;
      }
      .t4-import-sts.dm-sts-05 .st_03 {
      --top: 13.54%;
      --height: 10.82%;
      }
      .t4-import-sts.dm-sts-05 .st_04 {
      --top: 24.36%;
      --height: 11.59%;
      }
      .t4-import-sts.dm-sts-05 .st_05 {
      --top: 35.95%;
      --height: 8.73%;
      }
      .t4-import-sts.dm-sts-05 .st_06 {
      --top: 44.68%;
      --height: 11.99%;
      }
      .t4-import-sts.dm-sts-05 .st_07 {
      --top: 56.67%;
      --height: 20.4%;
      }
      .t4-import-sts.dm-sts-05 .st_08 {
      --top: 77.07%;
      --height: 5.07%;
      }
      .t4-import-sts.dm-sts-05 .st_09 {
      --top: 82.14%;
      --height: 8.5%;
      }
      .t4-import-sts.dm-sts-05 .st_10 {
      --top: 90.64%;
      --height: 2.3%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_06' -%}
    {%- for i in (1..9) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566801709137','1562726557942','1562580013929','1573462264239','1562059653538','1566806915378','1562227619804','1562742435625','1562745074407'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/07_homepage_fashion.jpg?v=1606141603" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-06 .st_01 {
      --top: 2.65%;
      --height: 9.32%;
      }
      .t4-import-sts.dm-sts-06 .st_02 {
      --top: 11.97%;
      --height: 10%;
      }
      .t4-import-sts.dm-sts-06 .st_03 {
      --top: 21.97%;
      --height: 11.71%;
      }
      .t4-import-sts.dm-sts-06 .st_04 {
      --top: 33.68%;
      --height: 10.85%;
      }
      .t4-import-sts.dm-sts-06 .st_05 {
      --top: 44.53%;
      --height: 3.17%;
      }
      .t4-import-sts.dm-sts-06 .st_06 {
      --top: 47.7%;
      --height: 21%;
      }
      .t4-import-sts.dm-sts-06 .st_07 {
      --top: 68.7%;
      --height: 3.82%;
      }
      .t4-import-sts.dm-sts-06 .st_08 {
      --top: 72.52%;
      --height: 9.31%;
      }
      .t4-import-sts.dm-sts-06 .st_09 {
      --top: 81.83%;
      --height: 9.1%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_07' -%}
    {%- for i in (1..7) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1562826347275','1562059653538','1562580013929','1562596427369','1562745074407','1563248837632','1562227619804'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/08_homepage_fashion.jpg?v=1606141603" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-07 .st_01 {
      --top: 2.8%;
      --height: 16.72%;
      }
      .t4-import-sts.dm-sts-07 .st_02 {
      --top: 19.52%;
      --height: 2.8%;
      }
      .t4-import-sts.dm-sts-07 .st_03 {
      --top: 22.32%;
      --height: 15.8%;
      }
      .t4-import-sts.dm-sts-07 .st_04 {
      --top: 38.12%;
      --height: 27.5%;
      }
      .t4-import-sts.dm-sts-07 .st_05 {
      --top: 65.62%;
      --height: 11.5%;
      }
      .t4-import-sts.dm-sts-07 .st_06 {
      --top: 77.12%;
      --height: 11.15%;
      }
      .t4-import-sts.dm-sts-07 .st_07 {
      --top: 88.27%;
      --height: 2.05%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_08' -%}
    {%- for i in (1..9) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566878988429','1563258463318','1562227619804','1573613727360','1562580013929','1573620127840','1562826347275','1573625693037','1562059653538','1563265667015'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/09_homepage_fashion.jpg?v=1606141603" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-08 .st_01 {
      --top: 1.12%;
      --height: 13.12%;
      }
      .t4-import-sts.dm-sts-08 .st_02 {
      --top: 14.24%;
      --height: 9.2%;
      }
      .t4-import-sts.dm-sts-08 .st_03 {
      --top: 23.44%;
      --height: 2.72%;
      }
      .t4-import-sts.dm-sts-08 .st_04 {
      --top: 26.16%;
      --height: 13.2%;
      }
      .t4-import-sts.dm-sts-08 .st_05 {
      --top: 39.36%;
      --height: 9.2%;
      }
      .t4-import-sts.dm-sts-08 .st_06 {
      --top: 48.56%;
      --height: 6%;
      }
      .t4-import-sts.dm-sts-08 .st_07 {
      --top: 54.56%;
      --height: 25.05%;
      }
      .t4-import-sts.dm-sts-08 .st_08 {
      --top: 79.61%;
      --height: 4%;
      }
      .t4-import-sts.dm-sts-08 .st_09 {
      --top: 83.61%;
      --height: 8.06%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_09' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1562059653538','1566891404247','1563258463318','1562227619804','1564382878614','1564387810114','1573705673637','1564385624528','1563265667015'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/10_homepage_fashion.jpg?v=1606141583" alt="">
    <style>
      {%-capture sts-css-%}
        .t4-import-sts.dm-sts-09 .st_01 {
        --top: 3.75%;
        --height: 12.43%;
        }
        .t4-import-sts.dm-sts-09 .st_02 {
        --top: 16.18%;
        --height: 11.6%;
        }
        .t4-import-sts.dm-sts-09 .st_03 {
        --top: 27.78%;
        --height: 3.7%;
        }
        .t4-import-sts.dm-sts-09 .st_04 {
        --top: 31.48%;
        --height: 15.6%;
        }
        .t4-import-sts.dm-sts-09 .st_05 {
        --top: 47.08%;
        --height: 15.4%;
        }
        .t4-import-sts.dm-sts-09 .st_06 {
        --top: 62.48%;
        --height: 15.15%;
        }
        .t4-import-sts.dm-sts-09 .st_07 {
        --top: 77.63%;
        --height: 5.8%;
        }
        .t4-import-sts.dm-sts-09 .st_08 {
        --top: 83.43%;
        --height: 7%;
        }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_10' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566963535090','1563431582830','1563432005998','1563432886560','1563437537865','1564035744083','1563442014244','1563444357397','1563500808367'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/11_homepage_shoes_store.jpg?v=1606141583" alt="">
    <style>
      {%-capture sts-css-%}
        .t4-import-sts.dm-sts-10 .st_01 {
        --top: 2.71%;
        --height: 10.35%;
        }
        .t4-import-sts.dm-sts-10 .st_02 {
        --top: 13.06%;
        --height: 11.15%;
        }
        .t4-import-sts.dm-sts-10 .st_03 {
        --top: 24.21%;
        --height: 2.7%;
        }
        .t4-import-sts.dm-sts-10 .st_04 {
        --top: 26.91%;
        --height: 13.8%;
        }
        .t4-import-sts.dm-sts-10 .st_05 {
        --top: 40.71%;
        --height: 6.4%;
        }
        .t4-import-sts.dm-sts-10 .st_06 {
        --top: 47.11%;
        --height: 21.95%;
        }
        .t4-import-sts.dm-sts-10 .st_07 {
        --top: 69.06%;
        --height: 3.1%;
        }
        .t4-import-sts.dm-sts-10 .st_08 {
        --top: 72.16%;
        --height: 13.6%;
        }
        .t4-import-sts.dm-sts-10 .st_09 {
        --top: 85.76%;
        --height: 4.74%;
        }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_11' -%}
    {%- for i in (1..2) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566114146403','1566966423764'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/12_homepage_furniture_simple.jpg?v=1606141579" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-11 .st_01 {
      --top: 2.8%;
      --height: 26.5%;
      }
      .t4-import-sts.dm-sts-11 .st_02 {
      --top: 29.3%;
      --height: 63.45%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_12' -%}
    {%- for i in (1..5) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566114146403','1566185990067','1566188493847','1566190124614','1566197324941'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/13_homepage_fashion_simple.jpg?v=1606141596" alt="">
    <style>
      {%-capture sts-css-%}
        .t4-import-sts.dm-sts-12 .st_01 {
        --top: 0%;
        --height: 22.3%;
        }
        .t4-import-sts.dm-sts-12 .st_02 {
        --top: 22.3%;
        --height: 19.1%;
        }
        .t4-import-sts.dm-sts-12 .st_03 {
        --top: 41.4%;
        --height: 26.7%;
        }
        .t4-import-sts.dm-sts-12 .st_04 {
        --top: 68.1%;
        --height: 22.6%;
        }
        .t4-import-sts.dm-sts-12 .st_05 {
        --top: 90.7%;
        --height: 4.5%;
        }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_13' -%}
    {%- for i in (1..12) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566114146403','1567047762962','1567059478587','1567061329688','1567067476252','1567072004402','1567072359720','1567127813293','1567129016636','1567130963434','1567140260212','1566197324941'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/14_homepage_market.jpg?v=1606141600" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-13 .st_01 {
      --top: 3.5%;
      --height: 8.5%;
      }
      .t4-import-sts.dm-sts-13 .st_02 {
      --top: 12%;
      --height: 5.7%;
      }
      .t4-import-sts.dm-sts-13 .st_03 {
      --top: 17.7%;
      --height: 6.2%;
      }
      .t4-import-sts.dm-sts-13 .st_04 {
      --top: 23.9%;
      --height: 11.6%;
      }
      .t4-import-sts.dm-sts-13 .st_05 {
      --top: 35.5%;
      --height: 10%;
      }
      .t4-import-sts.dm-sts-13 .st_06 {
      --top: 45.5%;
      --height: 6%;
      }
      .t4-import-sts.dm-sts-13 .st_07 {
      --top: 51.5%;
      --height: 10.2%;
      }
      .t4-import-sts.dm-sts-13 .st_08 {
      --top: 61.7%;
      --height: 10%;
      }
      .t4-import-sts.dm-sts-13 .st_09 {
      --top: 71.7%;
      --height: 3.98%;
      }
      .t4-import-sts.dm-sts-13 .st_10 {
      --top: 75.68%;
      --height: 2.89%;
      }
      .t4-import-sts.dm-sts-13 .st_11 {
      --top: 78.57%;
      --height: 10.2%;
      }
      .t4-import-sts.dm-sts-13 .st_12 {
      --top: 88.77%;
      --height: 2.75%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_14' -%}
    {%- for i in (1..11) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1567526923728','1567654746306','1566375748123','1567650723978','1567657947293','1567669414650','1567667477204','1562059653538','1567753447662'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/15_homepage_market_fullwidth.jpg?v=1606141600" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-14 .st_01 {
      --top: 4.25%;
      --height: 11.13%;
      }
      .t4-import-sts.dm-sts-14 .st_02 {
      --top: 15.38%;
      --height: 5.7%;
      left: 18.8%;
      }
      .t4-import-sts.dm-sts-14 .st_03 {
      --top: 21.08%;
      --height: 2.75%;
      left: 18.8%;
      }
      .t4-import-sts.dm-sts-14 .st_04 {
      --top: 23.83%;
      --height: 13.3%;
      left: 18.8%;
      }
      .t4-import-sts.dm-sts-14 .st_05 {
      --top: 37.13%;
      --height: 20.39%;
      left: 18.8%;
      }
      .t4-import-sts.dm-sts-14 .st_06 {
      --top: 57.52%;
      --height: 6.38%;
      left: 18.8%;
      }
      .t4-import-sts.dm-sts-14 .st_07 {
      --top: 63.9%;
      --height: 19.2%;
      left: 18.8%;
      }
      .t4-import-sts.dm-sts-14 .st_08 {
      --top: 83.1%;
      --height: 4.15%;
      left: 18.8%;
      }
      .t4-import-sts.dm-sts-14 .st_09 {
      --top: 87.25%;
      --height: 2.6%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_15' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566781334514','1567493918230','1567499740862','1567500267254','1567500446721','1567500933234','1567503204904','1567501287537'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/16_homepage_lookbook.jpg?v=1606141531" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-15 .st_01 {
      --top: 0%;
      --height: 12.85%;
      }
      .t4-import-sts.dm-sts-15 .st_02 {
      --top: 12.85%;
      --height: 12.85%;
      }
      .t4-import-sts.dm-sts-15 .st_03 {
      --top: 25.7%;
      --height: 12.85%;
      }
      .t4-import-sts.dm-sts-15 .st_04 {
      --top: 38.55%;
      --height: 12.85%;
      }
      .t4-import-sts.dm-sts-15 .st_05 {
      --top: 51.4%;
      --height: 12.85%;
      }
      .t4-import-sts.dm-sts-15 .st_06 {
      --top: 64.25%;
      --height: 12.85%;
      }
      .t4-import-sts.dm-sts-15 .st_07 {
      --top: 77.1%;
      --height: 5.85%;
      }
      .t4-import-sts.dm-sts-15 .st_08 {
      --top: 82.95%;
      --height: 10.2%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_16' -%}
    {%- for i in (1..9) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1567526923728','1562059653538','1567561030072','1567564958186','1567565447695','1567483705818','1567482631829','1563265667015'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/03_homepage_lookbook_2.jpg?v=1606141531" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-16 .st_01 {
      --top: 1.96%;
      --height: 10.75%;
      }
      .t4-import-sts.dm-sts-16 .st_02 {
      --top: 12.71%;
      --height: 3.45%;
      }
      .t4-import-sts.dm-sts-16 .st_03 {
      --top: 16.16%;
      --height: 19%;
      }
      .t4-import-sts.dm-sts-16 .st_04 {
      --top: 35.16%;
      --height: 16.28%;
      }
      .t4-import-sts.dm-sts-16 .st_05 {
      --top: 51.44%;
      --height: 11.2%;
      }
      .t4-import-sts.dm-sts-16 .st_06 {
      --top: 62.64%;
      --height: 8.6%;
      }
      .t4-import-sts.dm-sts-16 .st_07 {
      --top: 71.24%;
      --height: 9.59%;
      }
      .t4-import-sts.dm-sts-16 .st_08 {
      --top: 80.83%;
      --height: 5.1%;
      }
      .t4-import-sts.dm-sts-16 .st_09 {
      --top: 85.93%;
      --height: 5.75%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_17' -%}
    {%- for i in (1..6) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1567479315399','1562059653538','1567481429301','1567482631829','1567483705818','1563265667015'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/17_homepage_fashion_banners.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-17 .st_01 {
      --top: 5.55%;
      --height: 15.65%;
      }
      .t4-import-sts.dm-sts-17 .st_02 {
      --top: 21.2%;
      --height: 2.95%;
      }
      .t4-import-sts.dm-sts-17 .st_03 {
      --top: 24.15%;
      --height: 33.9%;
      }
      .t4-import-sts.dm-sts-17 .st_04 {
      --top: 58.05%;
      --height: 6.16%;
      }
      .t4-import-sts.dm-sts-17 .st_05 {
      --top: 64.21%;
      --height: 17.7%;
      }
      .t4-import-sts.dm-sts-17 .st_06 {
      --top: 81.91%;
      --height: 14%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_18' -%}
    {%- for i in (1..6) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566781334514','1567763880438','1567822967343','1562227619804','1567760350866','1567831702289'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/18_homepage_fashion_sidebar.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-18 .st_01 {
      --top: 0;
      --height: 16%;
      }
      .t4-import-sts.dm-sts-18 .st_02 {
      --top: 16%;
      --height: 13.85%;
      }
      .t4-import-sts.dm-sts-18 .st_03 {
      --top: 29.85%;
      --height: 40.6%;
      width: 66%;
      }
      .t4-import-sts.dm-sts-18 .st_04 {
      --top: 70.45%;
      --height: 4.75%;
      }
      .t4-import-sts.dm-sts-18 .st_05 {
      --top: 75.2%;
      --height: 11.1%;
      }
      .t4-import-sts.dm-sts-18 .st_06 {
      --top: 86.3%;
      --height: 3%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_19' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1568001981428','1566197324941','1568018252086','1568189225185','1568199219807','1568364860637','1568201433214','1568275789905'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/19_homepage_games.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-19 .st_01 {
      --top: 4.4%;
      --height: 15.15%;
      }
      .t4-import-sts.dm-sts-19 .st_02 {
      --top: 19.55%;
      --height: 2.9%;
      }
      .t4-import-sts.dm-sts-19 .st_03 {
      --top: 22.45%;
      --height: 13.65%;
      }
      .t4-import-sts.dm-sts-19 .st_04 {
      --top: 36.1%;
      --height: 7.75%;
      }
      .t4-import-sts.dm-sts-19 .st_05 {
      --top: 43.85%;
      --height: 21.1%;
      }
      .t4-import-sts.dm-sts-19 .st_06 {
      --top: 64.95%;
      --height: 3.6%;
      }
      .t4-import-sts.dm-sts-19 .st_07 {
      --top: 68.5%;
      --height: 11%;
      }
      .t4-import-sts.dm-sts-19 .st_08 {
      --top: 79.55%;
      --height: 10.45%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_20' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1568458199516','1566197324941','1568201433214','1568540077521','1568601387658','1568602142475','1568275789905','1568364860637'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/20_homepage_books.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-20 .st_01 {
      --top: 4.85%;
      --height: 10.5%;
      }
      .t4-import-sts.dm-sts-20 .st_02 {
      --top: 15.35%;
      --height: 2.8%;
      }
      .t4-import-sts.dm-sts-20 .st_03 {
      --top: 18.15%;
      --height: 15.7%;
      }
      .t4-import-sts.dm-sts-20 .st_04 {
      --top: 33.85%;
      --height: 13.2%;
      }
      .t4-import-sts.dm-sts-20 .st_05 {
      --top: 47.05%;
      --height: 6.65%;
      }
      .t4-import-sts.dm-sts-20 .st_06 {
      --top: 53.7%;
      --height: 13.9%;
      }
      .t4-import-sts.dm-sts-20 .st_07 {
      --top: 67.6%;
      --height: 14.1%;
      }
      .t4-import-sts.dm-sts-20 .st_08 {
      --top: 81.7%;
      --height: 7.7%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_21' -%}
    {%- for i in (1..10) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1575434115749','1566375748123','1575439912432','1575445734709','1575452826466','1566535719773','1566442643300','1566404133629','1575518545461'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/21_homepage_sport.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-21 .st_01 {
      --top: 2.85%;
      --height: 10.32%;
      }
      .t4-import-sts.dm-sts-21 .st_02 {
      --top: 12.3%;
      --height: 4.42%;
      }
      .t4-import-sts.dm-sts-21 .st_03 {
      --top: 16.72%;
      --height: 2.49%;
      }
      .t4-import-sts.dm-sts-21 .st_04 {
      --top: 19.21%;
      --height: 13.55%;
      }
      .t4-import-sts.dm-sts-21 .st_05 {
      --top: 32.76%;
      --height: 12.55%;
      }
      .t4-import-sts.dm-sts-21 .st_06 {
      --top: 45.31%;
      --height: 6%;
      }
      .t4-import-sts.dm-sts-21 .st_07 {
      --top: 51.31%;
      --height: 19.72%;
      }
      .t4-import-sts.dm-sts-21 .st_08 {
      --top: 71.03%;
      --height: 5.81%;
      }
      .t4-import-sts.dm-sts-21 .st_09 {
      --top: 76.84%;
      --height: 2.37%;
      }
      .t4-import-sts.dm-sts-21 .st_10 {
      --top: 79.21%;
      --height: 13.1%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_22' -%}
    {%- for i in (1..9) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1566375748123','1575614856845','1566442643300','1575781920843','1566404133629','1575687428018','1575687785924','1575691939960'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/22_homepage_tools.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-22 .st_01 {
      --top: 3.17%;
      --height: 10%;
      }
      .t4-import-sts.dm-sts-22 .st_02 {
      --top: 13.17%;
      --height: 4.5%;
      }
      .t4-import-sts.dm-sts-22 .st_03 {
      --top: 17.67%;
      --height: 18.95%;
      }
      .t4-import-sts.dm-sts-22 .st_04 {
      --top: 36.62%;
      --height: 7.35%;
      }
      .t4-import-sts.dm-sts-22 .st_05 {
      --top: 43.97%;
      --height: 8.25%;
      }
      .t4-import-sts.dm-sts-22 .st_06 {
      --top: 52.22%;
      --height: 2.8%;
      }
      .t4-import-sts.dm-sts-22 .st_07 {
      --top: 55.02%;
      --height: 19.6%;
      }
      .t4-import-sts.dm-sts-22 .st_08 {
      --top: 74.62%;
      --height: 3.12%;
      }
      .t4-import-sts.dm-sts-22 .st_09 {
      --top: 77.74%;
      --height: 11.8%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_23' -%}
    {%- for i in (1..11) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1566404133629','1578451561609','1578457180665','1578467155086','1578469069366','1578475494987','1578476495141','1578477814808','1578536633107','1578539391585'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/23_homepage_fashion.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-23 .t4-st-import {
        left: 16%;
      }
      .t4-import-sts.dm-sts-23 .st_01 {
      --top: 0.91%;
      --height: 11.8%;
      }
      .t4-import-sts.dm-sts-23 .st_02 {
      --top: 12.71%;
      --height: 1.8%;
      }
      .t4-import-sts.dm-sts-23 .st_03 {
      --top: 14.51%;
      --height: 17%;
      }
      .t4-import-sts.dm-sts-23 .st_04 {
      --top: 31.51%;
      --height: 4.2%;
      }
      .t4-import-sts.dm-sts-23 .st_05 {
      --top: 35.71%;
      --height: 15.69%;
      }
      .t4-import-sts.dm-sts-23 .st_06 {
      --top: 51.4%;
      --height: 10.1%;
      }
      .t4-import-sts.dm-sts-23 .st_07 {
      --top: 61.5%;
      --height: 5.5%;
      }
      .t4-import-sts.dm-sts-23 .st_08 {
      --top: 67%;
      --height: 11.5%;
      }
      .t4-import-sts.dm-sts-23 .st_09 {
      --top: 78.5%;
      --height: 5.75%;
      }
      .t4-import-sts.dm-sts-23 .st_10 {
      --top: 84.25%;
      --height: 6.2%;
      }
      .t4-import-sts.dm-sts-23 .st_11 {
      --top: 90.45%;
      --height: 3.8%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_24' -%}
    {%- for i in (1..11) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1566375748123','1581476305648','1581480681415','1581559268240','1581586006406','1581562836105','1566442643300','1570076389571','1581566154053','1581565353424'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/24_homepage_extreme_sport.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-24 .st_01 {
      --top: 0%;
      --height: 11.5%;
      }
      .t4-import-sts.dm-sts-24 .st_02 {
      --top: 11.5%;
      --height: 3%;
      }
      .t4-import-sts.dm-sts-24 .st_03 {
      --top: 14.5%;
      --height: 9.5%;
      }
      .t4-import-sts.dm-sts-24 .st_04 {
      --top: 24%;
      --height: 8.96%;
      }
      .t4-import-sts.dm-sts-24 .st_05 {
      --top: 32.96%;
      --height: 9.2%;
      }
      .t4-import-sts.dm-sts-24 .st_06 {
      --top: 42.16%;
      --height: 21.5%;
      }
      .t4-import-sts.dm-sts-24 .st_07 {
      --top: 63.66%;
      --height: 8.45%;
      }
      .t4-import-sts.dm-sts-24 .st_08 {
      --top: 72.11%;
      --height: 4%;
      }
      .t4-import-sts.dm-sts-24 .st_09 {
      --top: 76.11%;
      --height: 8.35%;
      }
      .t4-import-sts.dm-sts-24 .st_10 {
      --top: 84.46%;
      --height: 6.12%;
      }
      .t4-import-sts.dm-sts-24 .st_11 {
      --top: 90.58%;
      --height: 2%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_25' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566801709137','1585291545168','1562580013929','1585302807187','1585552677222','1585559316777','1585551336781','1585540982481'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/25_homepage_jewelry.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-25 .st_01 {
      --top: 2.77%;
      --height: 11.03%;
      }
      .t4-import-sts.dm-sts-25 .st_02 {
      --top: 12.98%;
      --height: 16.2%;
      }
      .t4-import-sts.dm-sts-25 .st_03 {
      --top: 29.18%;
      --height: 13.9%;
      }
      .t4-import-sts.dm-sts-25 .st_04 {
      --top: 43.08%;
      --height: 13.85%;
      }
      .t4-import-sts.dm-sts-25 .st_05 {
      --top: 56.93%;
      --height: 8.1%;
      }
      .t4-import-sts.dm-sts-25 .st_06 {
      --top: 65.03%;
      --height: 13%;
      }
      .t4-import-sts.dm-sts-25 .st_07 {
      --top: 78.03%;
      --height: 8.45%;
      }
      .t4-import-sts.dm-sts-25 .st_08 {
      --top: 86.48%;
      --height: 3.75%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_26' -%}
    {%- for i in (1..12) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1593501530615','1566404133629','1592552083889','1592551122488','1593143507209','1594192395496','1594265322047','1593853075695','1594371306196','1566375748123','1592808951937','1592808951937'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/26_homepage_market_7dfec2f1-b4df-4712-a92b-1eaba8d68720.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-26 .st_01 {
      --top: 3.65%;
      --height: 8.73%;
      }
      .t4-import-sts.dm-sts-26 .st_02 {
      --top: 12.38%;
      --height: 1.9%;
      }
      .t4-import-sts.dm-sts-26 .st_03 {
      --top: 14.28%;
      --height: 5.58%;
      }
      .t4-import-sts.dm-sts-26 .st_04 {
      --top: 19.86%;
      --height: 3.95%;
      }
      .t4-import-sts.dm-sts-26 .st_05 {
      --top: 23.81%;
      --height: 12.57%;
      }
      .t4-import-sts.dm-sts-26 .st_06 {
      --top: 36.38%;
      --height: 3.95%;
      }
      .t4-import-sts.dm-sts-26 .st_07 {
      --top: 40.33%;
      --height: 10.85%;
      }
      .t4-import-sts.dm-sts-26 .st_08 {
      --top: 51.18%;
      --height: 10.75%;
      }
      .t4-import-sts.dm-sts-26 .st_09 {
      --top: 61.93%;
      --height: 3.96%;
      }
      .t4-import-sts.dm-sts-26 .st_10 {
      --top: 65.89%;
      --height: 10.9%;
      }
      .t4-import-sts.dm-sts-26 .st_11 {
      --top: 76.76%;
      --height: 2.65%;
      }
      .t4-import-sts.dm-sts-26 .st_12 {
      --top: 79.44%;
      --height: 9.8%;
      }
      .t4-import-sts.dm-sts-26 .st_13 {
      --top: 89.24%;
      --height: 2.6%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_27' -%}
    {%- for i in (1..8) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566801709137','1604980083b9871536','160491250034550fef','16049716514b9b573a','1566375748123','1578476495141','1578539391585','1566404133629'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/27_homepage_lookbook_3.jpg?v=1606141596" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-27 .st_01 {
      --top: 0;
      --height: 16.46%;
      }
      .t4-import-sts.dm-sts-27 .st_02 {
      --top: 16.46%;
      --height: 16.46%;
      }
      .t4-import-sts.dm-sts-27 .st_03 {
          --top: 32.92%;
      --height: 16.46%;
      }
      .t4-import-sts.dm-sts-27 .st_04 {
          --top: 49.38%;
      --height: 16.46%;
      }
      .t4-import-sts.dm-sts-27 .st_05 {
          --top: 65.84%;
      --height: 3.2%;
      }
      .t4-import-sts.dm-sts-27 .st_06 {
          --top: 69.04%;
      --height: 14.6%;
      }
      .t4-import-sts.dm-sts-27 .st_07 {
      --top: 83.64%;
      --height: 5.45%;
      }
      .t4-import-sts.dm-sts-27 .st_08 {
          --top: 89.09%;
      --height: 2.5%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_28' -%}
    {%- for i in (1..13) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1593501530615','1566404133629','1592552083889','1592551122488','1593143507209','1594192395496','1594265322047','1593853075695','1594371306196','1566375748123','1592808951937','1592808951937'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/28_food_market.jpg?v=1606141602" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-28 .st_01 {
      --top: 3.73%;
      --height: 9.75%;
      }
      .t4-import-sts.dm-sts-28 .st_02 {
      --top: 13.48%;
      --height: 4.9%;
      }
      .t4-import-sts.dm-sts-28 .st_03 {
      --top: 18.38%;
      --height: 2.5%;
      }
      .t4-import-sts.dm-sts-28 .st_04 {
      --top: 20.88%;
      --height: 7.1%;
      }
      .t4-import-sts.dm-sts-28 .st_05 {
      --top: 27.98%;
      --height: 14.15%;
      }
      .t4-import-sts.dm-sts-28 .st_06 {
      --top: 42.13%;
      --height: 4.1%;
      }
      .t4-import-sts.dm-sts-28 .st_07 {
      --top: 46.23%;
      --height: 7.97%;
      }
      .t4-import-sts.dm-sts-28 .st_08 {
      --top: 54.2%;
      --height: 6.2%;
      }
      .t4-import-sts.dm-sts-28 .st_09 {
      --top: 60.4%;
      --height: 12%;
      }
      .t4-import-sts.dm-sts-28 .st_10 {
      --top: 72.4%;
      --height: 4.35%;
      }
      .t4-import-sts.dm-sts-28 .st_11 {
      --top: 76.75%;
      --height: 13.28%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_29' -%}
    {%- for i in (1..7) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566801709137','1566404133629','1590573606875','1590984927500','1590985303920','1590993019943','1591006786764'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/29_t-shirts_store.jpg?v=1606141584" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-29 .st_01 {
      --top: 3.9%;
      --height: 12.6%;
      }
      .t4-import-sts.dm-sts-29 .st_02 {
      --top: 16.5%;
      --height: 2.95%;
      }
      .t4-import-sts.dm-sts-29 .st_03 {
      --top: 19.46%;
      --height: 16.1%;
      }
      .t4-import-sts.dm-sts-29 .st_04 {
      --top: 35.56%;
      --height: 6.3%;
      }
      .t4-import-sts.dm-sts-29 .st_05 {
      --top: 41.86%;
      --height: 27.75%;
      }
      .t4-import-sts.dm-sts-29 .st_06 {
      --top: 69.61%;
      --height: 7.6%;
      }
      .t4-import-sts.dm-sts-29 .st_07 {
      --top: 77.21%;
      --height: 11.9%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_30' -%}
    {%- for i in (1..10) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1566404133629','1588300997887','1589439884181','1589536851469','1589879049920','1590136811007','1590142877603','1589882871668','1589883121408'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/30_headphones_oneproduct_store.jpg?v=1606141584" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-30 .st_01 {
      --top: 1.1%;
      --height: 10.67%;
      }
      .t4-import-sts.dm-sts-30 .st_02 {
      --top: 11.77%;
      --height: 1.42%;
      }
      .t4-import-sts.dm-sts-30 .st_03 {
      --top: 13.19%;
      --height: 8.72%;
      }
      .t4-import-sts.dm-sts-30 .st_04 {
      --top: 21.91%;
      --height: 9.7%;
      }
      .t4-import-sts.dm-sts-30 .st_05 {
      --top: 31.61%;
      --height: 15.5%;
      }
      .t4-import-sts.dm-sts-30 .st_06 {
      --top: 47.11%;
      --height: 16.5%;
      }
      .t4-import-sts.dm-sts-30 .st_07 {
      --top: 63.61%;
      --height: 8.5%;
      }
      .t4-import-sts.dm-sts-30 .st_08 {
      --top: 72.11%;
      --height: 9.3%;
      }
      .t4-import-sts.dm-sts-30 .st_09 {
      --top: 81.41%;
      --height: 6.75%;
      }
      .t4-import-sts.dm-sts-30 .st_10 {
      --top: 88.16%;
      --height: 3.4%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_31' -%}
    {%- for i in (1..10) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566801709137','1566404133629','1591603614358','1591669857791','1590993019943','1591265992838','1591672817907','1591254762405','1591240667022','1591240667022'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/31_yoga_store.jpg?v=1606141584" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-31 .st_01 {
      --top: 2.52%;
      --height: 11.15%;
      }
      .t4-import-sts.dm-sts-31 .st_02 {
      --top: 13.67%;
      --height: 2.03%;
      }
      .t4-import-sts.dm-sts-31 .st_03 {
      --top: 15.7%;
      --height: 11.7%;
      }
      .t4-import-sts.dm-sts-31 .st_04 {
      --top: 27.4%;
      --height: 12%;
      }
      .t4-import-sts.dm-sts-31 .st_05 {
      --top: 39.4%;
      --height: 8.7%;
      }
      .t4-import-sts.dm-sts-31 .st_06 {
      --top: 48.1%;
      --height: 11.75%;
      }
      .t4-import-sts.dm-sts-31 .st_07 {
      --top: 59.85%;
      --height: 6.2%;
      }
      .t4-import-sts.dm-sts-31 .st_08 {
      --top: 66.05%;
      --height: 11.25%;
      }
      .t4-import-sts.dm-sts-31 .st_09 {
      --top: 77.3%;
      --height: 7.22%;
      }
      .t4-import-sts.dm-sts-31 .st_10 {
      --top: 84.52%;
      --height: 4.92%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_32' -%}
    {%- for i in (1..10) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1610529558279ffc95','1610587586114','1610590433794','1566437726874','1612493432487','1570069534594','1612538514e9717c37','1566443930152','1612489579883','1612489778594'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/32_sunglasses_store.jpg?v=1612667082" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-32 .st_01 {
      --top: 2.18%;
      --height: 10.37%;
      }
      .t4-import-sts.dm-sts-32 .st_02 {
      --top: 12.55%;
      --height: 5.4%;
      }
      .t4-import-sts.dm-sts-32 .st_03 {
      --top: 17.95%;
      --height: 4.45%;
      }
      .t4-import-sts.dm-sts-32 .st_04 {
      --top: 22.4%;
      --height: 13%;
      }
      .t4-import-sts.dm-sts-32 .st_05 {
      --top: 35.4%;
      --height: 8.1%;
      }
      .t4-import-sts.dm-sts-32 .st_06 {
      --top: 43.5%;
      --height: 22.9%;
      }
      .t4-import-sts.dm-sts-32 .st_07 {
      --top: 66.4%;
      --height: 11.2%;
      }
      .t4-import-sts.dm-sts-32 .st_08 {
      --top: 77.6%;
      --height: 11.15%;
      }
      .t4-import-sts.dm-sts-32 .st_09 {
      --top: 88.75%;
      --height: 2.1%;
      }
      .t4-import-sts.dm-sts-32 .st_10 {
      --top: 90.85%;
      --height: 1.9%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_33' -%}
    {%- for i in (1..11) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1566371829835','1610590433794','1613640417cc1644ab','1613656859f5477ed7','16136405361276c2ff','1613719083f72ff839','16137285779e14b302','16137889634f88a50c','1612489579883','1613793184156','1612489778594'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/33_cosmetics_store.jpg?v=1613816142" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-33 .st_01 {
      --top: 2.18%;
      --height: 10.62%;
      }
      .t4-import-sts.dm-sts-33 .st_02 {
      --top: 12.8%;
      --height: 3.6%;
      }
      .t4-import-sts.dm-sts-33 .st_03 {
      --top: 16.4%;
      --height: 11.4%;
      }
      .t4-import-sts.dm-sts-33 .st_04 {
      --top: 27.8%;
      --height: 12%;
      }
      .t4-import-sts.dm-sts-33 .st_05 {
      --top: 39.8%;
      --height: 13.2%;
      }
      .t4-import-sts.dm-sts-33 .st_06 {
      --top: 53%;
      --height: 10.9%;
      }
      .t4-import-sts.dm-sts-33 .st_07 {
      --top: 63.9%;
      --height: 8.1%;
      }
      .t4-import-sts.dm-sts-33 .st_08 {
      --top: 72%;
      --height: 8.7%;
      }
      .t4-import-sts.dm-sts-33 .st_09 {
      --top: 80.7%;
      --height: 2.1%;
      }
      .t4-import-sts.dm-sts-33 .st_10 {
      --top: 82.8%;
      --height: 7.9%;
      }
      .t4-import-sts.dm-sts-33 .st_11 {
      --top: 90.7%;
      --height: 1.92%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- when 'Demo_34' -%}
    {%- for i in (1..11) -%}
    {%- capture ii -%}{%- if forloop.index < 10 -%}0{%- endif -%}{{i}}{%- endcapture -%}
    <div class="t4-st-import st_{{ii}}">
      <div class="positison-relative">
        <div class="btn-st-import">
          <div class="btn btn-primary btn-rounded" data-id="{%cycle '1614129827045','1612489579883','16141361949660618b','1610590433794','1614150509091','1613640417cc1644ab','16136405361276c2ff','1614151949218','16141553132e102b47','1614133489a5518951','1612489778594'%}">IMPORT</div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0264/6972/8316/files/34_car_part.jpg?v=1614221062" alt="">
    <style>
      {%-capture sts-css-%}
      .t4-import-sts.dm-sts-34 .st_01 {
      --top: 3.32%;
      --height: 8.05%;
      }
      .t4-import-sts.dm-sts-34 .st_02 {
      --top: 11.37%;
      --height: 2.05%;
      }
      .t4-import-sts.dm-sts-34 .st_03 {
      --top: 13.42%;
      --height: 9.4%;
      }
      .t4-import-sts.dm-sts-34 .st_04 {
      --top: 22.82%;
      --height: 5.1%;
      }
      .t4-import-sts.dm-sts-34 .st_05 {
      --top: 27.92%;
      --height: 5.7%;
      }
      .t4-import-sts.dm-sts-34 .st_06 {
      --top: 33.62%;
      --height: 10.7%;
      }
      .t4-import-sts.dm-sts-34 .st_07 {
      --top: 44.32%;
      --height: 11.36%;
      }
      .t4-import-sts.dm-sts-34 .st_08 {
      --top: 55.68%;
      --height: 10.9%;
      }
      .t4-import-sts.dm-sts-34 .st_09 {
      --top: 66.58%;
      --height: 10.1%;
      }
      .t4-import-sts.dm-sts-34 .st_10 {
      --top: 76.68%;
      --height: 12.8%;
      }
      .t4-import-sts.dm-sts-34 .st_11 {
      --top: 89.48%;
      --height: 2.2%;
      }
      {%-endcapture-%}
      {{ sts-css | strip_newlines | remove: '  ' | remove: '  ' }}
    </style>
  {%- else -%}
  <h1>Coming soon...</h1>
{%- endcase -%}